<!DOCTYPE html>
<html lang="en" ng-app="redInn">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="REINET APP">
    <meta name="author" content="ESPOL">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title>REI-NET|
        {% block complementotitulo %}
        {% endblock %}
    </title>
    {% include 'contenedorarchivosestaticos/contenedorcss.tpl.html' %}
</head>

<body ng-cloak>

<!-- Barra de Navegacion -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block raiz %}
                <a class="navbar-brand link" href="/">REI-NET</a>
            {% endblock %}
        </div>
        {% block barranavegacion %}
            <div class="collapse navbar-collapse">
            {% include 'menusuperior/opcionesreinet.tpl.html'%}
                <ul class="nav navbar-nav navbar-right hidden-xs">

                    {% block barraderecha %}
                        {%include 'menusuperior/menulogueado.tpl.html'%}
                    {% endblock %}


                    {% block busqueda %}
                        {% include 'menusuperior/barrabusqueda.tpl.html'%}
                    {% endblock %}

                </ul>
            </div>
        {% endblock %}
    </div>
</div>

<!-- Contenido de la Pagina-->
<div class="wrapper">
    {% block contenido %}
    {% endblock %}
</div>
{% block notificaciones %}
        <div ng-controller="MensajesControllers"
             ng-show="mostrarNotificacion"
                class="info-board info-board-green notificacion">
                hello
        </div>
{% endblock %}
<!-- Pie de Pagina-->
{% block piedepagina %}
    {% include 'piedepagina/piedepagina.tpl.html'%}
{% endblock %}

<!-- Archivos bases de Bootstrap -->
{%block contenedorjs%}
    {% include 'contenedorarchivosestaticos/contenedorjs.tpl.html' %}
    <script src="{% static 'js/app.js' %}"></script>
{%endblock%}
</body>
</html>
