{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACI&Oacute;N{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}


    <div class="container">

      {% if mensajeAlerta %}
          <div class="alert alert-info alert-dismissable col-md-5 col-md-offset-3 text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{{mensajeAlerta}}
          </div>
      {% endif %}
      {% if mensajeError %}
        <div class="alert alert-danger alert-dismissable col-md-5 col-md-offset-3 text-center">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{{ mensajeError }}
        </div>
      {% endif %}

    	<div class="col-sm-12 col-xs-12" style="padding:0">
    		<div class="col-sm-8"><h3 class="hl" style="margin-top: 0px;">{{ incubacion.nombre }}</h3></div>
    		<div class="col-sm-4">
  				    <a class="btn btn-dark pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#IncuEstado"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Cambiar estado</a>
                {% if convocatoria == False %}
                  <a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#CrearConvocatoria"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear convocatoria</a>
                  
                {% else %}
                  <a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#CrearConvocatoria" disabled><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear convocatoria</a>

                {%endif%}

                
            </div>
  		</div>
      <div class="col-sm-12" style="border-bottom:1px solid #eee;">
        <div class="col-sm-8">
            <ul class="text-muted list-inline">
            <li><i class="fa fa-calendar"></i> {{ incubacion.fecha_inicio.date  }}</li>
            <li><i class="fa fa-cog"></i> Estado: 
              {% if incubacion.estado_incubacion == 0 %}
                ACTIVA
              {% endif %}
              {% if incubacion.estado_incubacion == 1 %}
                TERMINADA
              {% endif %}
              {% if incubacion.estado_incubacion == 2 %}
                DESACTIVADA
              {% endif %}  
            </li>
            </ul>
        </div>

      </div>

    	<div class="col-sm-5" style="border-right:1px solid #eee; margin-top: 15px;">
    		<div align="right">
    			<a href="/EditarMiIncubacion/{{incubacion.id_incubacion}}" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i>&nbsp;Editar</a>
    		</div>
    		
			<div class="col-sm-12">
	            <h4 class="hl"><i class="fa fa-info-circle"></i> Descripción</h4>
	            <p class="bottom-15">{{ incubacion.descripcion}}</p>
	           	<h4 class="hl"><i class="fa fa-question-circle"></i> Condiciones</h4>
	            <p class="bottom-15">{{ incubacion.condiciones }}</p>
	        </div>
			<div class="col-sm-12">
				<h4 class="hl"><i class="fa fa-sitemap"></i> Acerca de la Ofertas a Incubar</h4>
	            <div role="tabpanel" class="tab-pane" id="cliente_usuario">
	              	<div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
		              	<p style="color: darkgray"  class="col-md-5">Perfil de la Oferta</p>
		              	<p class="col-md-7">{{ incubacion.perfil_oferta}}</p>
		              	<p style="color: darkgray"  class="col-md-5">Tipo de la Oferta</p>
		                <p class="col-md-7">
                      {% if incubacion.tipos_oferta == 0 %}
                          Emprendimiento
                      {% endif %}
                      {% if incubacion.tipos_oferta == 1 %}
                          Tecnología
                      {% endif %}
                      {% if incubacion.tipos_oferta == 2 %}
                          Prototipo
                      {% endif %}
                    </p>
	                </div>
	            </div>
	            <hr>
	        </div>	
    	</div>
    	<div class="col-sm-7">
    		<div class="col-sm-8 col-sm-offset-2" align="center" style="padding:15px">
    			<div class="panel panel-dark" align="center" style="margin-bottom:0px">
				    <div class="panel-body" style="padding-bottom: 5px;">
				    	<h4 class="hl" style=" font-weight: bold"><bold> Convocatoria Actual de ofertas</bold></h4>
	            	{% if convocatoria != False %}	
                  <table class="table " style="margin-bottom: 0px;">
                    <thead>
                      <tr>
                        <th class="text-muted">Abierta Hasta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="text-align:left">{{ convocatoria.fecha_maxima }}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="col-md-12" style="font-size:11px;padding-left: 0px;margin-top: 10px;" align="left">
                    *Debe esperar que finalice la convocatoria actual si desea crear otra.
                  </div>

                {% else %}
                <div class="info-board info-board-red"> Esta incubación no tiene una convocatoria abierta </div>
                {%endif%}
		        </div>
			    </div>
    		</div>

    		<div class="col-sm-12">
	    		<ul class="nav nav-tabs" role="tablist">
	            	<li role="presentation" class="active"><a href="#incubadas" aria-controls="home" role="tab" data-toggle="tab">INCUBADAS</a></li>
	            	<li role="presentation" ><a href="#solicitudes_ofertas" name="click_sol" aria-controls="home" role="tab" data-toggle="tab">OFERTAS APLICANTES</a></li>
                    
	           	</ul>
				<div class="tab-content">
					<div id="incubadas" class="tab-pane fade in active">
				  		
				  </div>
          <script>
            $(document).ready(function() {
              $(function () {
                $('#incubadas').ready(mostrarIncubadasIncubacion);
                function mostrarIncubadasIncubacion() {
                  $.ajax({
                    data: {
                      'incubacion':{{incubacion.id_incubacion}}
                    },
                    type: 'get',
                    url: '/AdminIncubadasIncubacion/',
                    success: function (data) {
                      $('#incubadas').html(data)
                    }
                  });
                }
              });
            });            
          </script>

          <div id="solicitudes_ofertas" class="tab-pane fade">

          </div>
          <script>
            $("[name='click_sol']").on('click', function(){
              $(function () {
                $('#solicitudes_ofertas').ready(mostrarSolicitudesIncubacion);
                function mostrarSolicitudesIncubacion() {
                  $.ajax({
                    data: {
                      'incubacion':{{incubacion.id_incubacion}}
                    },
                    type: 'get',
                    url: '/AdminSolicitudesIncubacion/',
                    success: function (data) {
                      $('#solicitudes_ofertas').html(data)
                    }
                  });
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

   <!-- COMIENZAN Los modals que se usan en toda la pagina -->
  	<div class="modal modal-vcenter fade" id="ofertaAceptada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido aprobada con &eacute;xito.</label>
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_aceptada" type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


  <script>
    $(document).ready(function () {
      $(function () {
        $('#btncrearconvocatoria').click(function(){
          CrearConvocatoria();
          function CrearConvocatoria(){
            $.ajax({
              data: {
                'fecMaxima' : $("#fecMaxAlcance").val(),
                'idIncubacion' : {{incubacion.id_incubacion}}
              },
              type: 'get',
              url: '/GuardarConvocatoria/',
            });
          } 
        });
      });
    });
  </script>

    <div class="modal modal-vcenter fade" id="ofertaRechazada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido rechazada con &eacute;xito.</label>
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_rechazada"type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- //// MODAL crear convocatoria ///// -->
    <div class="modal modal-vcenter fade" id="CrearConvocatoria" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Crear Convocatoria</h4>
                </div>
                <div class="modal-body">
                    <div id="Comentario">
                          <div class="media">                            
                                {% csrf_token %}
                                <div class="form-group">
                                  <div class="text-muted col-md-12" style="margin-bottom:15px">
                                    Para comenzar un periodo de incubación debe crear una convocatoria en la cual apliquen ofertas publicadas de la red. Ingrese la fecha máxima que permanecerá abierta la convocatoria.  
                                  </div>
                                  <label for="Nombres" class="col-md-12">
                                    Fecha M&aacute;xima de la convocatoria
                                  </label>
                                  <div class="col-md-12" >
                                    <div class="col-md-6">
                                       <input type="hidden" id="idIncubacion" name="idIncubacion" value="{{ incubacion.id_incubacion }}">
                                       <input type="datepicker" id="fecMaxAlcance" name="fecMaxima" style="resize:none" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                       <span>(mm/dd/aaaa)</span>
                                    </div>
                                  </div>
                                </div>
                          </div>
                    </div>
                </div>

                <div class="modal-footer">
                  <div align="right">
                    <a data-dismiss="modal"  class="btn btn-dark"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
                    <button id="btncrearconvocatoria" class="btn btn-red" data-dismiss="modal" data-target="#confirmacion_crearconvocatoria" data-toggle="modal"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Crear&nbsp;&nbsp;</button>
                  </div>    
                </div>
            </div>
        </div>
    </div>

    <div id="confirmacion_crearconvocatoria" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 40% !important;">
        <div class="modal-content" style=" width: 550px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">CREAR CONVOCATORIA</h4>
          </div>
          <div class="modal-body media" style="font-size:14px;padding-top: 0px;width: 540px;">
             <span>La Convocatoria se ha creado con éxito </span>
             <div align=right>
                 <a class="btn btn-red" href="/AdminIncubacion/{{incubacion.id_incubacion}}"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Aceptar&nbsp;&nbsp;</a>
             </div>
          </div>
        </div>
      </div>
  </div>




<div class="modal fade" id="IncuEstado" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cambiar Estado</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
              {% if incubacion.estado_incubacion != 0 %}
              <div class="alert alert-info alert-dismissable col-md-12">
                <strong>Importante!</strong> Su incubación ya no puede cambiar de estado. 
              </div>
              {%else%}
              <div class="alert alert-danger alert-dismissable col-md-12">
                <strong>Recuerde!</strong> Los cambios de estado de su incubaci&oacute;n no son reversibles
              </div>
              {%endif%}
          
            <div class="row">
                <div class="col-xs-1">
                  <label style="float:left" for="select_tipo_incubacion">Estado:</label>
                </div> 
                <div class="col-xs-7">
                    <select class="form-control" {% if incubacion.estado_incubacion != 0 %}
                      disabled="disabled"
                      {% endif %}
                      id="selectEstado" style="margin-left:10%" name="select_tipo_incubacion">
                      <option 
                      {% if incubacion.estado_incubacion == 0 %}selected
                      {% endif %} 
                      value="0">Activa</option>
                      <option
                      {% if incubacion.estado_incubacion == 1 %}selected
                      {% endif%}
                      value="1">Terminada</option>
                      <option
                      {% if incubacion.estado_incubacion == 2 %}selected 
                      {% endif%}
                      value="2">Desactivada</option>
                    </select>                  
                  </div> 
              </div>
          </div>
        </div>
        <div class="modal-footer">
           <span id="msgEstado"><p class="pull-left" id="msgEstadoDetalle"></p></span>
           <button {% if incubacion.estado_incubacion != 0 %}
                    disabled="disabled"
                    {% endif %}
            id="cambiarestadobtn"class="btn btn-dark" style="color:white;margin-bot: 0px;margin-right: 3px;"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Cambiar</button>
        </div>
      </div>
      
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    //bandera para controlar el numero de peticiones ajax a la vez
    var ajaxPendiente = false;
    $('#cambiarestadobtn').click(cambiarEstadoIncubacion);
    function cambiarEstadoIncubacion() {
      //se recupera el estado enviado por el cliente
      var estado = $( "#selectEstado" ).val();
      // si el estado elegido es diferente de Activo se ejecuta la operacion
      if(ajaxPendiente == false && estado != 0){
        $.ajax({
          data: {
            'incubacion':{{incubacion.id_incubacion}},
            'estado' : estado
          },
          type: 'get',
          url: '/AdminEditarEstadoIncubacion/',
          success: function (data) {
            $('#msgEstadoDetalle').attr('class','pull-left')
            if(data==0)
            {
              $('#msgEstadoDetalle').addClass('bg-danger text-danger');
              $('#msgEstadoDetalle').html("Petición invalida");
            }
            else if(data == 1)
            {
              $('#msgEstadoDetalle').addClass('bg-info text-info');
              $('#msgEstadoDetalle').html("El estado no puede ser cambiado");   
            }
            else if( data ==2 )
            {
              //si los datos son validos se desahabiltan los controles y muestra el mensaje de exito
              $('#msgEstadoDetalle').addClass('bg-success text-success');
              $('#msgEstadoDetalle').html("El estado ha sido cambiado");
              $('#cambiarestadobtn').attr("disabled", "disabled");
              $('#selectEstado').attr("disabled", "disabled");


            }
            else if(data == 3)
            {
              //En caso de que el estado sea activo
              $('#msgEstadoDetalle').addClass('bg-warning text-warining');
              $('#msgEstadoDetalle').html("Cambie de estado");   
            }
            ajaxPendiente = false;
           
            //$('#msgEstado').html(data)
          },
          statusCode: {
            404: function() {
              ajaxPendiente = false;
              $('#msgEstadoDetalle').addClass('bg-danger text-danger');
              $('#msgEstadoDetalle').html("No hubo respuesta.Intente después");
            },
            500: function(){
              ajaxPendiente = false;
              $('#msgEstadoDetalle').addClass('bg-danger text-danger');
              $('#msgEstadoDetalle').html("No hubo respuesta.Intente después");
            }
          }
        });  
      }
      ajaxPendiente=true;
    }
});
</script>
<script>
	$(function() {
	$("#fecMaxAlcance").datepicker({ minDate: 0 });

	});
</script>
{% endblock %}
