
{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}Historial de Milestones{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <!--
    Autor: Leonel Ramirez 
    Nombre de funcion: style para perzonalizar la lista de milestone
    Salida: salida de color
    Descripcion: Cambia de color cuan el moouse pasa por un milestone
    -->

    <style type="text/css">
        .milestone:hover {
        background-color:#BDBDBD;
        }

        .milestone {
            color: black;
            padding: 15px;

        }

        .active{
            background-color:#FBE9E7;
        }

        .sub:link {
            text-decoration:none;  
        }
    }
    </style>
    <div class="container">
        <div class="col-md-3 col-sm-12" style="padding-left: 0px;">
            <div class="col-md-12 col-sm-6" style="padding-right: 0px;padding-left: 0px;">
                <!-- COMIENZA  Panel de los consultores -->                        
                <div class="panel-body" style=" overflow-y: scroll; height:600px;padding:0px; background-color:#E0E0E0">
                 {% if listaMilestone %}
                    {% for milestone in listaMilestone %}
                      {% if milestone.fk_incubada.fk_oferta == incubada.fk_oferta %}
                          <a class="listmilestone sub" id="{{milestone.id_milestone}}" value="{{milestone.id_milestone}}" href="#">
                              <div class="media milestone active" onclick="markActiveLink(this);">
                                  <div>
                                    <h4>{{milestone.fecha_creacion.date}}</h4>
                                    <p>{{milestone.requerimientos|truncatewords:20}}<br></p>
                                  </div>
                              </div>
                          </a>
                      {%endif%}
                     {% endfor %}               
                </div>

                {% else %}
                <div class="note">
                No existen milestones en la incubada
                </div>
              {% endif %}
            </div>   
        </div> 


    <!--
    Autor: Leonel Ramirez 
    Nombre de funcion: script para para enviar los parametros por ajax
    parametros: mislestoneId
    Salida: milistoneId
    Descripcion: envia el id del milestone a una funcion view
    -->
        <script type="text/javascript">
          $(function () {conetidoMilestone
            $('.listmilestone').click(function(){
              //obterner el id milestone seleccionado
              var idmilestone=$(this).attr('id');
              $('#conetidoMilestone').ready(mostrarMilestone);
                function mostrarMilestone() {
                  $.ajax({
                    data: {
                      'milestoneId': idmilestone
                    },
                    type: 'get',
                    url: '/ContenidoMilestone/',
                    success: function (data) {
                      $('#conetidoMilestone').html(data)
                    }
                  });
                }
            });

          });
        </script>



      <div class="col-md-9 col-sm-12" id="conetidoMilestone">
          {% csrf_token %}
          <div class="blog-text animated slideInLeft">
          <label style="text-aling:50px;"> Seleccione un milestone para ver todo su historial </label>  
      <!--Se carga el contenido de  milestone -->
          </div>
      </div>
</div>
{% endblock %}



