{% if invitarconsultor%}


	<div align="left" class="media" style="margin-bottom: 1px solid gray">
			<a class="pull-left" href="#">
				<img class="media-object" src="{{invitarconsultor.foto.url}}" alt="Imagen de usuario">
			</a>

			<div class="media-body">
				<a href="#">{{invitarconsultor.first_name}} {{invitarconsultor.last_name}}</a><br>
				<a href="#">{{invitarconsultor.email}}</a><br>
				<a class="btn btn-default btn-xs" style="padding:4px">Cancelar</a>
			</div>
	</div>

{% else %}
	<div class="note">
	Your search yielded no results
	</div>
{% endif %}