{% comment %}
        Autor: Fausto Mora 
        Nombre del Archivo: admin_crear_incubacion_form1.html
        Descripción: formulario html de crear incubacion
{% endcomment %}
<div class="col-md-12">
    <div class="form-group">
        <label for="Nombres" class="col-md-2">Fecha de inicio</label>
        <div class="col-md-6">

            <input autofocus type="date" class="form-control" placeholder="Fecha de la Incubacion"
            id="fecha" name="fecha_incubacion"  data-trigger="focus" ng-model="incubacion.fecha_inicio" ng-required="true" validar-fecha>
            <span ng-show="fecha_incorrecta"><p class="bg-danger text-danger">Fecha de la Incubacion debe ser una fecha futura</p></span>
            <span ng-show="admin_crear_incubacion_form1.fecha_incubacion.$error.required" ng-if="!admin_crear_incubacion_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div> 

    <div class="form-group">
        <label for="Nombres" class="col-md-2">Nombre</label>
        <div class="col-md-6">

            <input autofocus type="text" class="form-control" placeholder="Nombre de la Incubacion"id="nombre" name="nombre_incubacion"  data-trigger="focus"ng-model="incubacion.nombre" ng-pattern="/^[a-zA-Z ]{10,300}$/"  ng-required="true" ng-blur="validarSubmit(admin_crear_incubacion_form1)">
            <span ng-show="admin_crear_incubacion_form1.nombre_incubacion.$error.pattern"><p class="bg-danger text-danger">Nombre de la Incubaci&oacute;n debe contener por lo menos 10 caracteres alfab&eacute;ticos</p></span>
            <span ng-show="admin_crear_incubacion_form1.nombre_incubacion.$error.required" ng-if="!admin_crear_incubacion_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div>  

    <div class="form-group">
        <label for="descripcion-incubacion" class="col-md-2">Descripci&oacute;n</label>
        <div class="col-md-6">
            <textarea id="descripcion_incubacion" name="descripcion_incubacion" rows="4" class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n de la incubaci&oacute;n" ng-model="incubacion.descripcion" ng-required="true"></textarea>
            <span ng-show="admin_crear_incubacion_form1.descripcion_incubacion.$error.required" ng-if="!admin_crear_incubacion_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div>

    <div class="form-group">
        <label for="perfil-incubacion" class="col-md-2">Perfil de la Incubacion</label>
        <div class="col-md-6">
            <textarea id="perfil_incubacion" name="perfil_incubacion" rows="4" class="form-control" placeholder="Escribe aqu&iacute; la perfil de la incubacion" ng-model="incubacion.perfil_oferta" ng-required="true"></textarea>
            <span ng-show="admin_crear_incubacion_form1.perfil_incubacion.$error.required" ng-if="!admin_crear_incubacion_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div>

    <div class="form-group">
        <label for="condiciones-incubacion" class="col-md-2">Condiciones de la iniciativa de incubaci&oacute;n</label>
        <div class="col-md-6">
            <textarea id="condiciones_incubacion" name="condiciones_incubacion" rows="4" class="form-control" placeholder="Escribe aqu&iacute; la condiciones de la incubaci&oacute;n" ng-model="incubacion.condiciones" ng-required="true"></textarea>
            <span ng-show="admin_crear_incubacion_form1.condiciones_incubacion.$error.required" ng-if="!admin_crear_incubacion_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div>

    <div class="form-group">
        <label for="Tipo" class="col-md-2">Tipos de Ofertas</label>
        <div class="col-xs-3 col-md-4">
            <select name="select_tipo_incubacion" class="form-control" ng-options="i.valor as i.tipo for i in items_tipo" ng-model="incubacion.tipos_oferta" ng-required="true">
                <option value="">Seleccione el tipo de ofertas a incubar</option>
            </select>
            <span ng-show="admin_crear_incubacion_form1.select_tipo_incubacion.$error.required" ng-if="!admin_crear_incubacion_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div>      
</div>
