{% if solicitudes %}   
  <div style="font-size:12px;height:250px;overflow-y:auto;" >
    <div class="pm-list" id ="lista_solicitudes">
      <ul>
        {%for solicitud in solicitudes%}
            <li id ="solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}">
              <p class="text-muted" style="width:100%">
                {%if incubada.3.imagen %}
                <img src="/media/{{solicitud.3.imagen}}" alt="...">
                {%else %}
                  <img src="/media/noPicture.png" alt="...">
                {%endif%}
                <a href="#" style="font-size:16px;color:black">{{ solicitud.0.fk_oferta.nombre}}</a><br>
                  <i class="fa fa-user"></i>&nbsp;{{ solicitud.1.fk_participante.first_name }} {{ solicitud.1.fk_participante.last_name }}  
                <br><i class="fa fa-calendar"></i>&nbsp;{{solicitud.2.date}}
              </p>
              <p class="text-muted" style="width:100%" align=right>
                <button type="button" class="btn btn-red" id ="aceptar_solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}" >
                <span class="glyphicon glyphicon-plus-sign"></span> Aceptar</button>

                <button type="button" class="btn btn-default" id ="rechazar_solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}" style="margin-left:10px">
                <span class="glyphicon glyphicon-minus-sign"></span> Rechazar</button>
              </p>
              <div class="clearfix"></div>
            </li>
            <script>
              $(document).ready(function () {
                $(function () {
                  $('#rechazar_solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}').click(function(){
                    $('#solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}').remove();
                    rechazar();
                    function rechazar(){
                      $.ajax({
                        data: {
                          'id_solicitud':{{solicitud.0.id_solicitud_ofertas_convocatoria}}
                        },
                        type: 'get',
                        url: '/RechazarSolicitudIncubacion/',
                        success: function (data) {
                          $('#solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}').remove();
                        }
                      });
                    } 
                  });
                });

                $(function () {
                  $('#aceptar_solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}').click(function(){
                    if (confirm("Desea Aceptar esta Solicitud?")){
                      $('#solicitud{{solicitud.0.id_solicitud_ofertas_convocatoria}}').remove();
                      aceptar();  
                    }                    
                    function aceptar(){
                      $.ajax({
                        data: {
                          'id_solicitud':{{solicitud.0.id_solicitud_ofertas_convocatoria}}
                        },
                        type: 'get',
                        url: '/AceptarSolicitudIncubacion/',
                        success: function (data) {
                          //window.location.reload();
                          window.location.href = '/AdminIncubada/'+{{solicitud.0.fk_oferta_id}};
                        }
                      });
                    } 
                  });
                });
              });
            </script>
        {%endfor%}
      </ul>
    </div>
  </div>
{%else%}
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Esta Incubación no tiene solicitudes pendientes
  </div>
{%endif%}