<div style="font-size:12px;height:250px;overflow-y:auto;" >
  <div class="pm-list" >
    <ul>
      <li>
        <p class="text-muted" style="width:100%">
          <img src="/../../media/ofertas-demandas/face2.jpg" alt="...">
          <a href="#" style="font-size:16px;color:black">Zapatos electrocutadores</a><br>
          <i class="fa fa-user"></i>&nbsp;Henry Lasso<br><i class="fa fa-calendar"></i>&nbsp;2015-08-30
        </p>
        <p class="text-muted" style="width:100%" align=right>
          <button type="button" class="btn btn-red" >
          <span class="glyphicon glyphicon-plus-sign"></span> Aceptar</button>
          <button type="button" class="btn btn-default"  style="margin-left:10px">
          <span class="glyphicon glyphicon-minus-sign"></span> Rechazar</button>
        </p>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>
