{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACI&Oacute;N{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <div class="container">
    	<div class="col-sm-12 col-xs-12" style="padding:0">
    		<div class="col-sm-6"><h3 class="hl" style="margin-top: 0px;">Nombre de la Incubación</h3></div>
    		<div class="col-sm-6">
    			
  				<a href="#" class="btn btn-dark pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#InactivarOferta"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Cambiar estado</a>
  				<a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#CrearConvocatoria"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear convocatoria</a>
  			</div>  			
  		</div>
  		<div class="col-sm-12" style="border-bottom:1px solid #eee;">
  				<ul class="text-muted list-inline">
					<li><i class="fa fa-calendar"></i> November 10, 2013</li>
					<li><i class="fa fa-eye"></i> TODOS</li>
  				</ul>
    	</div>


    	<div class="col-sm-5" style="border-right:1px solid #eee; margin-top: 15px;">
    		<div align="right">
    			<a href="#" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i>Editar</a>
    		</div>
    		
			<div class="col-sm-12">
	            <h4 class="hl"><i class="fa fa-info-circle"></i> Descripción</h4>
	            <p class="bottom-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor nunc, dapibus a est sed, tempus bibendum arcu. Nullam pretium arcu in neque congue tempor. Quisque quis mauris sit amet magna fermentum tincidunt et a enim. Aliquam eu rhoncus libero, a pulvinar metus.</p>
	           	<h4 class="hl"><i class="fa fa-question-circle"></i> Condiciones</h4>
	            <p class="bottom-15">Quisque quis mauris sit amet magna fermentum tincidunt et a enim. Aliquam eu rhoncus libero, a pulvinar metus.</p>
	        </div>
			<div class="col-sm-12">
				<h4 class="hl"><i class="fa fa-sitemap"></i> Acerca de la Ofertas a Incubar</h4>
	            <div role="tabpanel" class="tab-pane" id="cliente_usuario">
	              	<div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
		              	<p style="color: darkgray"  class="col-md-3">Perfil de la Oferta</p>
		              	<p class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor nunc, dapibus a est sed, tempus bibendum arcu. Nullam pretium arcu in neque congue tempor. </p>
		              	<p style="color: darkgray"  class="col-md-3">Tipo de la Oferta</p>
		                <p class="col-md-9"> euismod </p>
	                </div>
	            </div>
	            <hr>
	        </div>	
    	</div>
    	<div class="col-sm-7">
    		<div class="col-sm-8 col-sm-offset-2" align="center" style="padding:15px">
    			<div class="panel panel-dark" align="center">
				    <div class="panel-body">
				    	<h4 class="hl" style=" font-weight: bold"></i><bold> Convocatoria Actual de ofertas</bold></h4>
	            		<table class="table table-hover" style="margin-bottom: 0px;">
	            			<tbody>
                                <tr>
                                	<td class="text-muted">Fecha Máxima</td>
                                    <td style="text-align:left"> 20/02/2016</td>
                                </tr>
                                    <tr><td class="text-muted">Alcance</td>
                                    <td style="text-align:left">TODOS</td>
                                </tr>
                            </tbody>
                        </table>
		            </div>
			    </div>
    		</div>

    		<div class="col-sm-12">
	    		<ul class="nav nav-tabs" role="tablist">
	            	<li role="presentation" class="active"><a href="#incubadas" aria-controls="home" role="tab" data-toggle="tab">INCUBADAS</a></li>
	            	<li role="presentation" ><a href="#solicitudes_ofertas" aria-controls="home" role="tab" data-toggle="tab">OFERTAS APLICANTES</a></li>
	           	</ul>
				<div class="tab-content">
				  <div id="incubadas" class="tab-pane fade in active">
				    <p>Aqui van las incubadas</p>
				  </div>
				  <div id="solicitudes_ofertas" class="tab-pane fade">
				  	<div class="alert alert-warning">
				  		Para tener ofertas aplicantes debe crear una convocatoria
				    </div>
				    	
									<div class="text-muted">
						    		<div align="left">
			                            <img class="pull-left img-responsive blog-img" alt="Imagen de mi Oferta" style="height: 115px; width: 115px;">
			                        </div>
						    		<div class="form-group">
						    			<a href="#">ofertaAplicante2</a>
						    		</div> 
						    		<div class="form-group">
						    			<label>Descripcion: </label>
						    		</div>
						    		<div class="form-group">
						    			<label>Fecha de creacion: </label>
						    		</div>
						    		<div class="form-group">
						    			<label>Numero de Consultores: </label>
						    		</div>
						    		<div align="right">
						    			<a href="" class="button">
			                                <button id="btn_ver_oferta" type="button" class="btn btn-blue">Ver Oferta</button>
			                            </a>
			                            <a href="" class="button">
			                                <button id="btn_aceptar_oferta" type="button" class="btn btn-green" data-target="#ofertaAceptada" data-toggle="modal">Aceptar</button>
			                            </a>
			                            <a href="" class="button">
			                                <button id="btn_rechazar_oferta" type="button" class="btn btn-red" data-target="#ofertaRechazada" data-toggle="modal">Rechazar</button>
			                            </a>
			                        </div>
						    </div>
				    	
				  </div>
				</div>
			</div>
    	</div>
  	</div>

   <!-- COMIENZAN Los modals que se usan en toda la pagina -->
  	<div class="modal modal-vcenter fade" id="ofertaAceptada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido aprobada con &eacute;xito.</label>
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_aceptada" type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

      	<div class="modal modal-vcenter fade" id="ofertaRechazada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido rechazada con &eacute;xito.</label>
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_rechazada"type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //// MODAL crear convocatoria ///// -->
    <div class="modal modal-vcenter fade" id="CrearConvocatoria" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Crear Convocatoria</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Alcance">Alcance: </label>
                           
                                  <select name="alcance" style="resize:none">
                                     <option value="Local" selected="selected">Local</option>
                                     <option value="Algunas Instituciones">Algunas Instituciones</option>
                                     <option value="Global">Global</option>
                                  </select>
                            
                        </div>
                        <div class="form-group">
                            <label for="fecMaxima">Fecha Maxima de Aplicacion: </label>
                            <input type="date" id="fecMaxAlcance" name="fecMaxima" style="resize:none">
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_convocatoria" type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
