{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACI&Oacute;N{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <div class="container">
    	<div class="col-sm-12 col-xs-12" style="padding:0">
    		<div class="col-sm-6"><h3 class="hl" style="margin-top: 0px;">{{ incubacion.nombre }}</h3></div>
    		<div class="col-sm-6">
    			
  				<a class="btn btn-dark pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#IncuEstado"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Cambiar estado</a>

          {% if convocatorias == "No hay Convocatoria" %}
            <a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#CrearConvocatoria"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear convocatoria</a>
          {% else %}
            <a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#CrearConvocatoria" disabled="true"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear convocatoria</a>
          {%endif%}
                  {% if mensajeAlerta %}
                    <br><br>
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ mensajeAlerta }}</p></strong>
                    </div>
                {% endif %}
                {% if mensajeError %}
                    <br><br>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ mensajeError }}</p></strong>
                    </div>
                {% endif %}
            </div>
  		</div>
  		<div class="col-sm-12" style="border-bottom:1px solid #eee;">
  				<ul class="text-muted list-inline">
					<li><i class="fa fa-calendar"></i> {{ incubacion.fecha_inicio.date }}</li>
  				</ul>
    	</div>


    	<div class="col-sm-5" style="border-right:1px solid #eee; margin-top: 15px;">
    		<div align="right">
    			<a href="/EditarMiIncubacion/{{incubacion.id_incubacion}}" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i>&nbsp;Editar</a>
    		</div>
    		
			<div class="col-sm-12">
	            <h4 class="hl"><i class="fa fa-info-circle"></i> Descripción</h4>
	            <p class="bottom-15">{{ incubacion.descripcion}}</p>
	           	<h4 class="hl"><i class="fa fa-question-circle"></i> Condiciones</h4>
	            <p class="bottom-15">{{ incubacion.condiciones }}</p>
	        </div>
			<div class="col-sm-12">
				<h4 class="hl"><i class="fa fa-sitemap"></i> Acerca de la Ofertas a Incubar</h4>
	            <div role="tabpanel" class="tab-pane" id="cliente_usuario">
	              	<div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
		              	<p style="color: darkgray"  class="col-md-5">Perfil de la Oferta</p>
		              	<p class="col-md-7">{{ incubacion.perfil_oferta}}</p>
		              	<p style="color: darkgray"  class="col-md-5">Tipo de la Oferta</p>
		                <p class="col-md-7">
                      {% if incubacion.tipos_oferta == 0 %}
                          Emprendimiento
                      {% endif %}
                      {% if incubacion.tipos_oferta == 1 %}
                          Tecnología
                      {% endif %}
                      {% if incubacion.tipos_oferta == 2 %}
                          Prototipo
                      {% endif %}
                    </p>
	                </div>
	            </div>
	            <hr>
	        </div>	
    	</div>
    	<div class="col-sm-7">
    		<div class="col-sm-8 col-sm-offset-2" align="center" style="padding:15px">
    			<div class="panel panel-dark" align="center" style="margin-bottom:0px">
				    <div class="panel-body" style="padding-bottom: 5px;">
				    	<h4 class="hl" style=" font-weight: bold"><bold> Convocatoria Actual de ofertas</bold></h4>
	            	{% if convocatorias != "No hay Convocatoria" %}	
                  <table class="table " style="margin-bottom: 0px;">
                    <thead>
                      <tr>
                        <th class="text-muted">Abierta Hasta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="text-align:left">{{ convocatorias.fecha_maxima }}</td>
                      </tr>
                    </tbody>
                  </table>
                {% else %}
                <div class="info-board info-board-red"> Esta incubación no tiene una convocatoria abierta </div>
                {%endif%}
		        </div>
			    </div>
    		</div>

    		<div class="col-sm-12">
	    		<ul class="nav nav-tabs" role="tablist">
	            	<li role="presentation" class="active"><a href="#incubadas" aria-controls="home" role="tab" data-toggle="tab">INCUBADAS</a></li>
	            	<li role="presentation" ><a href="#solicitudes_ofertas" name="click_sol" aria-controls="home" role="tab" data-toggle="tab">OFERTAS APLICANTES</a></li>
                    
	           	</ul>
				<div class="tab-content">
					<div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong>Recuerde!</strong> Para tener incubadas debe crear una convocatoria de ofertas.
          </div>
				  <div id="incubadas" class="tab-pane fade in active">
				  		
				  </div>
          <script>
            $(document).ready(function() {
              $(function () {
                $('#incubadas').ready(mostrarIncubadasIncubacion);
                function mostrarIncubadasIncubacion() {
                  $.ajax({
                    data: {
                      'incubacion':{{incubacion.id_incubacion}}
                    },
                    type: 'get',
                    url: '/AdminIncubadasIncubacion/',
                    success: function (data) {
                      $('#incubadas').html(data)
                    }
                  });
                }
              });
            });

              function guardarConvocatoria(){
              $.ajax({
                type: "POST",
                url: "/GuardarConvocatoria",
                data: {
                    'fecMaxima' : $("#fecMaxAlcance").val(),
                    'idIncubacion' : $("#idIncubacion").val()
                },
                dataType: 'html'
              });
            }
          </script>

          <div id="solicitudes_ofertas" class="tab-pane fade">

          </div>
          <script>
            $("[name='click_sol']").on('click', function(){
              $(function () {
                $('#solicitudes_ofertas').ready(mostrarSolicitudesIncubacion);
                function mostrarSolicitudesIncubacion() {
                  $.ajax({
                    data: {
                      'incubacion':{{incubacion.id_incubacion}}
                    },
                    type: 'get',
                    url: '/AdminSolicitudesIncubacion/',
                    success: function (data) {
                      $('#solicitudes_ofertas').html(data)
                    }
                  });
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

   <!-- COMIENZAN Los modals que se usan en toda la pagina -->
  	<div class="modal modal-vcenter fade" id="ofertaAceptada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido aprobada con &eacute;xito.</label>
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_aceptada" type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

      	<div class="modal modal-vcenter fade" id="ofertaRechazada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido rechazada con &eacute;xito.</label>
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_rechazada"type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- //// MODAL crear convocatoria ///// -->
    <div class="modal modal-vcenter fade" id="CrearConvocatoria" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Crear Convocatoria</h4>
                </div>
                <div class="modal-body">
                    <div class="comment" id="Comentario">
                          <div class="media">
                            <form action="/GuardarConvocatoria" method="get">

                                <div class="form-group">
                                  <table class="table " style="margin-bottom: 0px;">
                                    <thead>
                                      <tr>
                                        <th class="text-muted">Defina el periodo durante el cual los uuarios podran aplicar con sus ofertas</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <label for="Nombres" class="col-md-3 col-md-offset-1">Fecha Maxima</label>
                                  <div class="col-md-7">
                                       <input type="hidden" id="idIncubacion" name="idIncubacion" value="{{ incubacion.id_incubacion }}">
                                       <input type="datepicker" id="fecMaxAlcance" name="fecMaxima" style="resize:none" class="form-control">
                                  </div>
                                  <br> <br>


                                </div><br>
                                <div class="form-group">
                                    <div align="right">
                                      <a data-dismiss="modal" class="btn btn-dark"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
                                      <button type="submit" class="btn btn-red"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear&nbsp;&nbsp;</button>
                                    </div>                                                  
                                </div>
                            </form>   
                          </div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="IncuEstado" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cambiar Estado</h4>
        </div>
        <div class="modal-body">
                           
              <div class="form-group">
                <label style="float:left" for="select_tipo_incubacion">Estado:</label>
                <div>
                  <select id="selectEstado" style="margin-left:10%" name="select_tipo_incubacion" class="">
                    <option 
                    {% if incubacion.estado_incubacion == 0 %}selected
                    {% endif %} 
                    value="0">Activa</option>
                    <option
                    {% if incubacion.estado_incubacion == 1 %}selected
                    {% endif%}
                    value="1">Terminada</option>
                    <option
                    {% if incubacion.estado_incubacion == 2 %}selected 
                    {% endif%}
                    value="2">Desactivada</option>
                  </select>                  
                </div>
              </div>
              
              
          
        </div>
        <div class="modal-footer">
           <span id="msgEstado"><p class="bg-danger text-danger pull-left" id="msgEstadoDetalle"></p></span>
           <button id="cambiarestadobtn"class="btn btn-dark" style="color:white;margin-bot: 0px;margin-right: 3px;"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Cambiar</button>
        </div>
      </div>
      
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#cambiarestadobtn').click(cambiarEstadoIncubacion);
    function cambiarEstadoIncubacion() {
      var estado = $( "#selectEstado" ).val();
      $.ajax({
        data: {
          'incubacion':{{incubacion.id_incubacion}},
          'estado' : estado
        },
        type: 'get',
        url: '/AdminEditarEstadoIncubacion/',
        success: function (data) {
          alert(data);
          //$('#msgEstado').html(data)
        },
        statusCode: {
          404: function() {
            alert( "page not found " + estado);
          },
          500: function(){
            alert("PROBLEMAS CON EL SERVIDOR");
          }
        }
      });
    }
});
</script>
<script>
	$(function() {
	$("#fecMaxAlcance").datepicker({ minDate: 0 });

	});
</script>
{% endblock %}
