
{% extends "base.tpl.html" %}
{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}
{% endif %}




{% block contenido %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="animated slideInLeft">
          <span style="border-bottom: 5px solid #F44336;">
            EDITAR INCUBACION
          </span>
        </h1>
      </div>
    </div>
  </div>
</div>
<style>
textarea { resize: none; }
</style>
<div class="container">
{% if errmsg == 1 %}
  <div class="alert alert-danger alert-dismissable col-md-5 text-center col-md-offset-2">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Los cambios no se guardaron porque existen errores en el formulario.
  </div>
{% elif errmsg == 0 %}
  <div class="alert alert-success alert-dismissable col-md-5 text-center col-md-offset-2">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Los cambios en la incubaci&oacute;n han sido guardados con &eacute;xito
  </div>
{% endif %}


<form  class="form-horizontal" action="/EditarMiIncubacion/{{incubacion.id_incubacion}}" method="post" novalidate> <!--action="/EditarMiIncubacion/{{incubacion.id_incubacion}}"-->
{% csrf_token %}
    <div class="row col-md-12">
            <div align=right>

                <a id="btnguardar" class="btn btn-red"  data-toggle="modal" data-target="#confirmar_cambios" style="background-color:#F44336;"><i class="fa fa-floppy-o" ></i>&nbsp;&nbsp;Guardar&nbsp;&nbsp;</a>

                <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#cancelar_cambios"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>

            </div>
    </div>

    <div align=right>
              
    </div>
 
    <div class="row">

            

            <div class=" col-md-12">

                  <!-- Tab panes -->
                  
                  <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="informacion">
                            <div class="col-md-12">
                            <!--Nombre-->
                              <div class="form-group">
                                  <label for="Nombres" class="col-md-2">Nombre</label>
                                  <div class="col-md-6">

                                      <input onchange="validarNombre()" autofocus type="text"   class="form-control" placeholder="Nombre de la Oferta" id="nombreincubacion" name="nombre_incubacion"  data-trigger="focus" value='{{incubacion.nombre}}'>
                                      <span style="display:none" id="nombreMsg"><p class="bg-danger text-danger">El campo es requerido y  debe contener por lo menos 10 caracteres alfab&eacute;ticos sin espacios grandes</p></span>
                                  </div>
                              </div>  
                               <!--Descripicion-->
                              <div class="form-group">
                                  <label for="descripcion-incubacion" class="col-md-2">Descripci&oacute;n</label>
                                  <div class="col-md-6">
                                      <textarea onchange="validarDescripcion()" id="descripcionincubacion" name="descripcion_incubacion" rows="4" class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n de la incubaci&oacute;n">{{incubacion.descripcion}}</textarea>
                                      <span style="display:none" id="descripcionMsg"><p class="bg-danger text-danger">El campo es requerido y  no debe contener caracteres especiales, espacios grandes o símbolos ej: ! ? @ & % + =</p></span>
                                  </div>
                              </div>
                              <!--Perfil de la oferta-->
                              <div class="form-group">
                                  <label for="perfil-incubacion" class="col-md-2">Perfil de la Oferta</label>
                                  <div class="col-md-6">
                                      <textarea onchange="validarPerfil()" id="perfilincubacion" name="perfil_incubacion" rows="4" class="form-control" placeholder="Escribe aqu&iacute; el perfil de la oferta">{{incubacion.perfil_oferta}}</textarea>
                                      <span style="display:none" id="perfilMsg"><p class="bg-danger text-danger">El campo es requerido y  no debe contener caracteres especiales, espacios grandes o símbolos ej: ! ? @ & % + =</p></span>
                                  </div>
                              </div>

                              <!--Condiciones-->
                              <div class="form-group">
                                  <label for="condiciones-incubacion" class="col-md-2">Condiciones de la iniciativa de incubaci&oacute;n</label>
                                  <div class="col-md-6">
                                      <textarea onchange="validarCondiciones()" id="condicionesincubacion" name="condiciones_incubacion" rows="4" class="form-control" placeholder="Escribe aqu&iacute; la condiciones de la incubaci&oacute;n" >{{incubacion.condiciones}}</textarea>
                                      <span style="display:none" id="condicionesMsg"><p class="bg-danger text-danger">El campo es requerido y  no debe contener caracteres especiales, espacios grandes o símbolos ej: ! ? @ & % + =</p></span>
                                  </div>
                              </div>
                              <!--Tipo-->
                              <div class="form-group">
                                  <label for="Tipo" class="col-md-2">Tipos de Ofertas</label>
                                  <div class="col-xs-3 col-md-4">
                                      <select name="select_tipo_incubacion" class="form-control">
                                          <option 
                                          {% if incubacion.tipos_oferta == 0 %}selected
                                          {% endif %} 
                                           value="0">Emprendimiento</option>
                                          <option
                                          {% if incubacion.tipos_oferta == 1 %}selected
                                          {% endif%}
                                           value="1">Tecnología</option>
                                          <option
                                          {% if incubacion.tipos_oferta == 2 %} selected 
                                          {% endif%}
                                           value="2">Prototipos</option>
                                      </select>
                                  </div>
                              </div>
                          </div>                            
                        </div>


                   </div>

            </div>

    </div>



<div id="confirmar_cambios" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de Confirmación</h4>
      </div>
      <div class="modal-body">
        <p>¿Estas Seguro(a) que quieres guardar los cambios?</p>
      </div>
      <div class="modal-footer">
        <!--<button type="submit" class="btn btn-green"  style="background-color:#F4E222;" data-dismiss="modal">Sí</button>-->
        <input type="submit" class="btn btn-green"  style="background-color:#F4E222;" value="Sí">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>

</div>

<div id="cancelar_cambios" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de Confirmación</h4>
      </div>
      <div class="modal-body">
        <p>Se perderan todos los cambios.¿Quiere continuar?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-green" href="/VerIncubacion/{{incubacion.id_incubacion}}" style="background-color:#F4E222;">Sí</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>

</div>

</form>

</div>
<script type="text/javascript">
var mensajeNombre = document.getElementById('nombreMsg');
var mensajeDescripcion = document.getElementById('descripcionMsg');
var mensajePerfil = document.getElementById('perfilMsg');
var mensajeCondiciones = document.getElementById('condicionesMsg');

var regexNombre = /^([áéíóúÁÉÍÓÚñÑ\w]\s?){10,300}$/;
var regexTextoComun = /^([áéíóúÁÉÍÓÚñÑ\w]\s?[,;.:]?\s?)+$/;

var nombre = document.getElementById('nombreincubacion');
var descripcion = document.getElementById('descripcionincubacion');
var perfil = document.getElementById('perfilincubacion');
var condiciones = document.getElementById('condicionesincubacion');

var nombreValido=true;
var descValido=true;
var perfilValido=true;
var condicionesValido=true;

var btnguardar = document.getElementById('btnguardar');
function mostrarMensajes()
{
  validarNombre();
  validarDescripcion();
  validarPerfil()
  validarCondiciones();
  removejscssfile("angular.js","js");
  removejscssfile("app.js","js");
  removejscssfile("angular-route.js","js");
  removejscssfile("angular-cookies.js","js");
  removejscssfile("angular-resource.js","js");
  removejscssfile("angular-animate.js","js");
  removejscssfile("angular-messages.js","js");
  removejscssfile("services.js","js");
  removejscssfile("crear-oferta-angular.js","js");
  removejscssfile("perfil_usuario.js","js");
  removejscssfile("ng-tags-input.js","js");
  removejscssfile("swampdragon.min.js","js");
  removejscssfile("datamapper.js","js");
  removejscssfile("autocompletar_nuevo_integrante.js","js");
  removejscssfile("settings.js","js");
  
}

function validarNombre()
{
  
  nombreValido = regexNombre.test(nombre.value);
  if(nombreValido == false)
    mensajeNombre.style.display= "block";
  else
    mensajeNombre.style.display= "none";
  habilitarBoton();
  
}

function validarDescripcion()
{
  
  descValido = regexTextoComun.test(descripcion.value);
  if(descValido == false)
    mensajeDescripcion.style.display= "block";
  else
    mensajeDescripcion.style.display= "none";
  habilitarBoton();
}

function validarPerfil()
{
  
  perfilValido = regexTextoComun.test(perfil.value);
  if(perfilValido == false)
    mensajePerfil.style.display= "block";
  else
    mensajePerfil.style.display= "none";
  habilitarBoton();
}

function validarCondiciones()
{
  
  condicionesValido = regexTextoComun.test(condiciones.value);
  if(condicionesValido == false)
    mensajeCondiciones.style.display= "block";
  else
    mensajeCondiciones.style.display= "none";
  habilitarBoton();
}
function habilitarBoton()
{
  if(nombreValido && descValido && perfilValido && condicionesValido)
    btnguardar.removeAttribute("disabled");  
  else
    btnguardar.setAttribute("disabled", "disabled");
}

function removejscssfile(filename, filetype){
    var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist from
    var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
    var allsuspects=document.getElementsByTagName(targetelement)
    for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
    if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(filename)!=-1)
        allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
    }
}
window.addEventListener('load', mostrarMensajes, false);
</script>




{% endblock%}