
{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACIONES{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <div class="container">
   <!-- Menu del Perfil -->
            <div class="col-md-3 col-sm-3">
                <div class="user-menu bottom-15">
                    <ul>
                        <li>
                            <a href="/perfilInstitucion/" class="active">
                                <i class="sign fa fa-university bg-green"></i> General
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="sign fa fa-trophy bg-turquoise"></i> Concursos
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/InicioIncubacion/">
                                <i class="sign fa fa-legal bg-green "></i> Incubaciones
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/editar_perfil_institucion/">
                                <i class="sign fa fa-edit bg-turquoise "></i> Editar Informaci&oacute;n
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>

                        <li><a href="/BuzonMensajesInstitucion/">
                                <i class="sign fa fa-envelope bg-green" >
                                </i>Buzón de mensajes
                                <i class="fa fa-chevron-right pull-right"></i>

                            </a>
                        </li>

                        <li>
                            <a href="/AdministrarMembresias/">
                                <i class="sign fa fa-users bg-turquoise " ></i>Membres&iacute;as
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>                        
                    </ul>
                </div>
            </div>

<!--Lista de menu -->
            <div class="col-md-9">
              <div class="row" style="margin-bottom: 25px;">
                <div align=left class="col-md-3 col-sm-3 col-xs-4">
                    <form id="formCrearIncubacion" action="/CrearIncubacion/" method="GET"> 
                        <button type="submit" class="btn" style="background-color:#F4E222; color: white;" id="btnIncubacion" name="btnIncubacion">Crear Incubaci&oacute;n
                        </button>
                        
                    </form>
                    <button id="btn_participar" class="btn btn-green btn-sm"
                            style="color:white;margin-top: 15px;" data-toggle="modal"
                            data-target="#CrearConvocatoria">Crear Convocatoria
                    </button>

                    
                    
                    
                </div>
                

                <div class="col-md-offset-3 col-md-6  col-sm-9 col-xs-8">
                  <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="busqueda_ofertas"
                             placeholder="Buscar Incubaciones por Nombre"/>
                  </div>
                  <div class="col-sm-3" ng-controller="busquedaControlador">
                      <button class="btn btn-blue" ng-click='buscarOfertas()'>Buscar</button>
                  </div>
                </div>
              </div>


                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#verIncubaciones" aria-controls="home" role="tab" data-toggle="tab">INCUBACIONES PUBLICADAS</a></li>
                    <li role="presentation"><a href="#aa"  role="tab" data-toggle="tab">INCUBACIONES EN LA RED</a></li>
                    <li role="presentation"><a href="#bb" role="tab" data-toggle="tab">GG</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content col-md-11">
                    <div role="tabpanel" class="tab-pane active" id="verIncubaciones">
                        <div class="timeline-block col-md-10">
                          <!-- First blog post -->
                            <div class="blog-summary col-md-12">
                              <h4><a href="/VerListaIncubadas">Nombre de la incubaci&oacute;n</a></h4>
                              <time datetime="2013-09-10" class="timestamp hidden-xs">Nov 10, 2013</time>
                              <ul class="text-muted list-inline">
                                <li><i class="fa fa-user"></i> <a href="#">Administrator</a></li>
                                <li><i class="fa fa-calendar"></i> Enero  10, 2015</li>
                                <li><i class="fa fa-comments-o"></i> 21 comments</li>
                              </ul>
                              <hr>
                              <p class="blog-text">
                                <img class="pull-left img-responsive blog-img" alt="Blog Image" src="/../../media/ofertas-demandas/works1.jpg">
                                <ul class="list-inline" align="center">
                                <br>
                                    <label>N&uacute;mero de ofertas:  </label>
                                    <li>
                                    <i class="fa fa fa-eye"></i> 85
                                    </li><br>
                                    <label>N&uacute;mero de consultores:  </label>
                                    <li title="Bookmarks">
                                    <i class="fa fa-thumb-tack"></i> 12
                                    </li><br>
                                    <label>Alcance:</label>
                                     <li>
                                    <i class="fa fa-road"></i> Todas
                                    </li>
                                </ul>
                              </p>
                              <p class="tags col-md-12">
                                <a href="#">Bootstrap</a>
                                <a href="#">HTML5</a>
                                <a href="#">CSS</a>
                                <a href="#">jQuery</a>
                              </p>
                            </div>
                            <!-- Second blog post -->
                            <div class="blog-summary col-md-12">
                              <h4><a href="/VerListaIncubadas">Nombre de la incubaci&oacute;n</a></h4>
                              <time datetime="2013-09-10" class="timestamp hidden-xs">Nov 09, 2013</time>
                              <ul class="text-muted list-inline">
                                <li><i class="fa fa-user"></i> <a href="#">Administrator</a></li>
                                <li><i class="fa fa-calendar"></i> November 9, 2013</li>
                                <li><i class="fa fa-comments-o"></i> 10 comments</li>
                              </ul>
                              <hr>
                              <p class="blog-text">
                                <img class="pull-left img-responsive blog-img" alt="Blog Image" src="/../../media/ofertas-demandas/works1.jpg">
                                <ul class="list-inline " align="center"><br>
                                    <label>N&uacute;mero de ofertas</label>
                                    <li title="Views">
                                    <i class="fa fa-eye"></i> 85
                                    </li><br>
                                    <label>N&uacute;mero de consultores</label>
                                    <li title="Bookmarks">
                                    <i class="fa fa-thumb-tack"></i> 12
                                    </li><br>
                                    <label>Alcance:</label>
                                    <li>
                                    <i class="fa fa-road"></i> Todas
                                    </li>
                                </ul>

                              </p>
                              <p class="tags col-md-12">
                                <a href="#">Bootstrap</a>
                                <a href="#">HTML5</a>
                                <a href="#">CSS</a>
                                <a href="#">jQuery</a>
                              </p>
                            </div>
                            <!-- Third blog post -->
                            <div class="blog-summary col-md-12">
                              <h4><a href="/VerListaIncubadas">Nombre de la incubaci&oacute;n</a></h4>
                              <time datetime="2013-08-10" class="timestamp hidden-xs">Nov 08, 2013</time>
                              <ul class="text-muted list-inline"><br>
                                <li><i class="fa fa-user"></i> <a href="#">Administrator</a></li>
                                <li><i class="fa fa-calendar"></i> November 8, 2013</li>
                                <li><i class="fa fa-comments-o"></i> 6 comments</li>
                              </ul>
                              <hr>
                              <p class="blog-text">
                                <img class="pull-left img-responsive blog-img" alt="Blog Image" src="/../../media/ofertas-demandas/works1.jpg">
                                 <ul class="list-inline " align="center"><br>
                                    <label>N&uacute;mero de ofertas:</label>
                                    <li title="Views">
                                    <i class="fa fa-eye"></i> 85
                                    </li><br>
                                    <label>N&uacute;mero de consultores:</label>
                                    <li title="Bookmarks">
                                    <i class="fa fa-thumb-tack"></i> 12
                                    </li><br>
                                    <label>Alcance:</label>
                                    <li>
                                    <i class="fa fa-road"></i> Todas
                                    </li>
                                </ul>
                              </P>
                              <p class="tags col-md-12">
                                <a href="#">Bootstrap</a>
                                <a href="#">HTML5</a>
                                <a href="#">CSS</a>
                                <a href="#">jQuery</a>
                              </p>
                            </div>
                      </div>
                        
                
                              
                        <!-- PAGINACION DE VER INCUBACIONES
                        -->
                        <div class="pagination col-md-10">
                            <span class="step-links">
                            {% if msjs.has_previous %}
                                <a class="btn btn-green" href="?page={{ msjs.previous_page_number }}">Anterior</a>
                            {% endif %}

                            <span class="current">
                                Página {{ msjs.number }} de {{ msjs.paginator.num_pages }}.
                            </span>

                            {% if msjs.has_next %}
                                <a class="btn btn-green" href="?page={{ msjs.next_page_number }}">Siguiente</a>
                            {% endif %}
                            </span>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="aa">
                    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bb">
                    
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- COMIENZAN Los modals que se usan en toda la pagina -->


    <!-- //// VENTANA EMERGENTE SOLICITAR MEMBRESIA A OFERTA ///// -->
    <div class="modal modal-vcenter fade" id="CrearConvocatoria" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title" id="sendemailtitle">Crear Convocatoria</h4>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-body" style="margin-bottom:30px">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                          <label style="resize:none" >Alcance:</label>
                          <select name="alcance" style="resize:none" >    
                             <option value="Local" selected="selected">Local</option>
                             <option value="Algunas Instituciones">Algunas Instituciones</option>
                             <option value="Global">Global</option>
                          </select>

                          <br>
                          <label style="resize:none" >Fecha Máxima De Aplicación:</label>
                          <input type="date" name="fecMaxima" style="resize:none">
                        </div>
                        
                            <button id="btn_convocatoria" class="btn btn-green btn-sm"
                            style="color:white;margin-top: 15px;" >
                                Enviar
                            </button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
  
{% endblock %}



