{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBADA{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

	


    <div class="container">

    	<div class="alert alert-info">
	        <strong>Recuerde!</strong> Usted es CONSULTOR de esta incubada, podrá dar retroalimentación cuando los milestones definidos por el administrador terminen.
	     </div>

	    <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
	        <div class="col-md-8" style=" padding-top: 20px;margin-bottom: 15px; border:1px solid #ddd">
	        	<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;" align="left">
			        <div class="col-md-5">
			            <h4>{{incubada.nombre}}</h4>			            
			        </div>
			        
			        <div class="col-md-12" align=left>
				        <ul class="text-muted list-inline">
			                <li><i class="fa fa-user"></i> <a href="/usuario/{{propietario.fk_participante.username}}">{{propietario.fk_participante.first_name}} {{propietario.fk_participante.last_name}}</a></li>
			                <li><i class="fa fa-calendar"></i> {{incubada.fecha_publicacion.date}}</li>
				        </ul>
			        </div>
			    </div>

	            <div class="blog-text">
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs " role="tablist" style="margin-bottom: 0px;">
	                    <li role="presentation" class="active">
	                        <a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Información General</a>
	                    </li>
	                    <li role="presentation" class="">
	                        <a href="#cliente_usuario" aria-controls="profile" role="tab" data-toggle="tab">Cliente/Usuario</a>
	                    </li>
	                    <li role="presentation" class="">
	                        <a href="#modelo" aria-controls="messages" role="tab" data-toggle="tab">Modelo de Negocio</a>
	                    </li>
	                    <li role="presentation" class="">
	                        <a href="#industria" aria-controls="settings" role="tab" data-toggle="tab">Competidores</a>
	                    </li>
	                    <li role="presentation" class="">
	                        <a href="#esta_logro" aria-controls="messages" role="tab" data-toggle="tab">Logros</a>
	                    </li>
	                </ul>
	                <!-- Tab panes -->
	                <div class="tab-content row">
	                    <div role="tabpanel" class="tab-pane active" id="informacion">
	                        <div class="col-md-12">

	                        	<div class="col-md-5 col-sm-6 col-xs-6" style="margin-top: 0px;padding-top: 15px;">
	                        		<!--COMIENZA LA GALERIA -->
	                                <div class="block-inverse">
	                                    <div class="head-inverse" align="center" id="ImagenGrande">
	                                        <p class="text-center"><strong class="text-muted">Galeria</strong></p>
	                                        {%if imagen_principal%}
	                                        	<img class=" img-responsive" src="/media/{{imagen_principal.imagen }}" alt="..." style="height:200px">
	                                        {% endif %}
	                                    </div>
	                                    <div class="body-inverse" style="background-color:white">
	                                        <ul class="row list-inline gallery-list-small" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
	                                        	{%if fotos%}
	                                        		{% for foto in fotos %}
			                           					<li class="col-xs-6">
			                                                <img onclick="cambiarImagenGrande(this);" class="img-responsive" src="/media/{{foto.imagen}}" alt="..." style="cursor:pointer">
			                                            </li>
			                        				{% endfor %}	                               	
		                                        {% else %}
	                                        		La incubada no tiene im&aacute;genes
		                                        {% endif %}
	                                        </ul>
	                                        <span style="font-size:12px">*Puede hacer clic en cada imagen para agrandar</span>
	                                    </div>

	                                    <script>
	                                    	function cambiarImagenGrande(){
	                                    		var a = event.target;
	                                    		var imgGrande = $("#ImagenGrande").find("img").get(0)
	                                    		imgGrande.src=a.src
	                                    	}

	                                    </script>
	                                </div>
	                                <!--TERMINA LA GALERIA -->
	                                <br>
	                                <!-- COMIENZA  Panel del equipo -->
						            <div class="panel panel-default">
						                <div class="panel-heading row" style="margin-right: 0px;margin-left: 0px;padding-top: 5px;padding-bottom: 0px;  padding-right: 0px;">
						                    <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
						                        <div class="col-md-5 col-sm-6 col-xs-6" align="left" style="padding-left: 0px;">
						                            <h4 style="margin-top: 6px;">Equipo</h4>
						                         </div>
						                    </div>
						                </div>
						            
						                <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
						                    <div class="recent-blogs">
						                        <div class="team">
						                        {% for miembro in equipo %}
						                            <!-- PRIMER MIEMBRO DEL EQUIPO -->
						                            <div class="member-left" style="margin-bottom: 0px;">
						                                <img src="{{miembro.fk_participante.foto.url}}" alt="Team Member" class="left" style="
						                                    margin-right: 30px; margin-left: 20px; width: 75px;height: 75px;">
						                                <a href="#"><h4 style="font-size: 14px;">{{miembro.fk_participante.first_name}} {{miembro.fk_participante.last_name}}</h4></a>
						                                <p class="position" style="margin-bottom: 4px;">
						                                    Estado&nbsp;:&nbsp;&nbsp;<span style="color:black;font-size: 12px;">
						                                    {% if miembro.activo %}
								                            	ACTIVO
								                            {% else %}
								                            	INACTIVO
								                            {% endif %}
						                                    </span>
						                                </p>
						                                <p class="position">Rol&nbsp;:&nbsp;&nbsp;<span style="color:black">{{miembro.rol_participante}}</span></p>
						                            </div> 
						                        {% endfor %}
						                        </div>
						                    </div>
						                </div>  
						            </div>
							        <!-- TERMINA Panel del equipo -->

	                            </div>

	                            <div class="col-md-7 col-sm-6 col-xs-6" style="margin-top: 0px;padding-top: 15px;">
	                            	
	                                <!--Tipo-->
	                                <p style="color: darkgray" for="Tipo" class="col-md-4">Tipo</p>
	                                <p class="col-md-8">
	                                	{% if incubada.tipo == 0 %}
						                    Emprendimiento
						                {% elif incubada.tipo == 1 %}
						                    Tecnologia
						                {% elif incubada.tipo == 2 %}
						                    Prototipo
						                {% endif %}
	                                <!--Descripcion-->
	                                </p>
	                                <p style="color: darkgray" for="Nombres" class="col-md-4">Descripción
	                                </p>
	                                <p class="col-md-8">{{incubada.descripcion}} 
	                                <br>
	                                <p style="color: darkgray" for="Nombres" class="col-md-4">Dominio</p>
	                                <p class="col-md-8">{{incubada.dominio}}
	                                <!--Subdominio-->
	                                </p><p style="color: darkgray" for="Nombres" class="col-md-4">Sub-dominio</p>
	                                <p class="col-md-8">{{incubada.subdominio}}
	                                <!--Palabras Clave-->
	                                </p><p style="color: darkgray" for="Nombres" class="col-md-4">Palabras Claves</p>
	                                <p class="tags col-md-8">
	                                	{%if palabras_clave == False%}
	                                		No hay palabras claves
	                                	{%else%}
		                                	{% for tag in palabras_clave %}
						                        <a>{{ tag.palabra }}</a>
						                    {% endfor %}
						                {%endif%}
	                                </p>

	                                

	                                <div id="retroalimentacion1" class="col-md-12">

	                                

					                </div>


									<div class="new-comment col-sm-12" style="margin-bottom: 0px; border-bottom-width: 0px;">
					                  
					                  	{%if ultimo_Milestone%}
					                  	<div class="col-sm-12">
					                    <textarea class="form-control" style="resize:none" rows="3" placeholder="Escriba su retroalimentación para la información general..." ></textarea>					                    
					                  	</div>
					                  	<div class="col-sm-12" style="margin-top:10px" align="right">
					                  	<a class="btn btn-dark btn-sm">Enviar retroalimentación</a>
					                  	</div>
					                  	

					                  	{%else%}
					                  	<div class="col-sm-12">
					                    <textarea disabled class="form-control" style="resize:none" rows="3" placeholder="Escriba su retroalimentación para la información general..." ></textarea>					                    
					                  	</div>
					                  	<div class="col-sm-12" style="margin-top:10px" align="right">
					                  	<a disabled class="btn btn-dark btn-sm">Enviar retroalimentación</a>
					                  	</div>
					                  	<div class="col-md-12" align="right">
						            	<div style="font-size:11px;margin-right: 15px;">*No puede retroalimentar este milestone, no está dentro de las fechas indicadas</div>
						            	</div>
										
						          		{%endif%}
						            </div>

					                <script>
		                                $(document).ready(function () {
		                                    $(function () {
		                                        $('#retroalimentacion1').ready(mostrarRetroalimentaciones);
		                                        function mostrarRetroalimentaciones() {
		                                            $.ajax({
		                                                data: {
		                                                    'incubada':{{incubada.id_incubada}},
		                                                    'numTab':1
		                                                },
		                                                type: 'get',
		                                                url: '/Retroalimentaciones/',
		                                                success: function (data) {
		                                                    $('#retroalimentacion1').html(data)
		                                                }
		                                            });

		                                        }
		                                    });
		                                });
		                            </script>




	                            </div>
	                        </div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane" id="cliente_usuario">
	                    	<div class="col-md-12">
	                        <div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
	                            <!--Perfil Cliente-->
	                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Cliente</p>
	                            <p class="col-md-9">
	                            	{%if incubada.perfil_cliente %}
	                            		{{incubada.perfil_cliente}}
	                            	{%else%}
	                            		No existen datos para presentar
	                            	{%endif%}
	                            </p>
	                            <!--Perfil Beneficiario-->
	                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Beneficiario</p>
	                            <p class="col-md-9">
	                            	{%if incubada.perfil_beneficiario %}
	                            		{{incubada.perfil_beneficiario}}
	                            	{%else%}
	                            		No existen datos para presentar
	                            	{%endif%}
	                            </p>
	                            <div id="retroalimentacion2" class="col-md-12">

					            </div>

					            <div class="new-comment col-sm-12" style="margin-bottom: 0px; border-bottom-width: 0px;">
					                  <div class="col-sm-12">
					                    <textarea class="form-control" style="resize:none" rows="3" placeholder="Escriba su retroalimentación para los clientes/usuarios..." ></textarea>					                    
					                  </div>
					                  <div class="col-sm-12" style="margin-top:10px" align="right">
					                  	<a  class="btn btn-dark btn-sm">Enviar retroalimentación</a>
					                  </div>
						            </div>

					                <script>
		                                $(document).ready(function () {
		                                    $(function () {
		                                        $('#retroalimentacion2').ready(mostrarRetroalimentaciones);
		                                        function mostrarRetroalimentaciones() {
		                                            $.ajax({
		                                                data: {
		                                                    'incubada':{{incubada.id_incubada}},
		                                                    'numTab':2
		                                                },
		                                                type: 'get',
		                                                url: '/Retroalimentaciones/',
		                                                success: function (data) {
		                                                    $('#retroalimentacion2').html(data)
		                                                }
		                                            });

		                                        }
		                                    });
		                                });
		                            </script>
	                        </div> 
	                        </div> 
	                    </div>
	                    <div role="tabpanel" class="tab-pane" id="modelo">
	                    	<div class="col-md-12">
		                        <div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
		                            <!--Canvas del modelo de negocio-->
		                            <h3 style="text-align:center" class="h4">  Canvas del Modelo de negocios</h3>
		                            <hr>

		                            <div class="col-md-12 table-responsive" style="font-size: 12px;">
		                                <table class="table table-bordered">
		                                      <tbody><tr style="background-color:#E2E2E2;">
		                                         <th >Socios clave</th>
		                                         <th>Actividades claves</th>
		                                         <th>Propuestas de valor</th>
		                                         <th>Relaciones con los clientes</th>
		                                         <th>Segmentos de clientes</th>
		                                      </tr>
		                                      <tr>
		                                         <td rowspan="3">
		                                         	{%if incubada.fk_diagrama_canvas.asociaciones_clave %}
					                            		{{incubada.fk_diagrama_canvas.asociaciones_clave }}
					                            	{%else%}
					                            		No existen datos para presentar
					                            	{%endif%}
				                                 </td>
		                                         <td>
		                                         	{%if incubada.fk_diagrama_canvas.actividades_clave %}
					                            		{{incubada.fk_diagrama_canvas.actividades_clave }}
					                            	{%else%}
					                            		No existen datos para presentar
					                            	{%endif%}
				                                 </td>
		                                         <td rowspan="3">{%if incubada.fk_diagrama_canvas.propuesta_valor %}
					                            		{{incubada.fk_diagrama_canvas.propuesta_valor }}
					                            	{%else%}
					                            		No existen datos para presentar
					                            	{%endif%}</td>

		                                         <td>
		                                         {%if incubada.fk_diagrama_canvas.relacion_clientes %}
				                            		{{incubada.fk_diagrama_canvas.relacion_clientes }}
				                            	{%else%}
				                            		No existen datos para presentar
				                            	{%endif%}
				                            	</td>
		                                         <td rowspan="3">
		                                         {%if incubada.fk_diagrama_canvas.segmento_mercado %}
				                            		{{incubada.fk_diagrama_canvas.segmento_mercado }}
				                            	{%else%}
				                            		No existen datos para presentar
				                            	{%endif%}

				                                 </td>
		                                      </tr>
		                                      <tr>
		                                        <th style="background-color:#E2E2E2;">Recursos Claves</th>
		                                        <th style="background-color:#E2E2E2;">Canales</th>
		                                      </tr>
		                                      <tr>
		                                         <td>
		                                         {%if incubada.fk_diagrama_canvas.recursos_clave %}
				                            		{{incubada.fk_diagrama_canvas.recursos_clave }}
				                            	{%else%}
				                            		No existen datos para presentar
				                            	{%endif%} 
				                                 </td>
		                                         <td>
		                                         {%if incubada.fk_diagrama_canvas.canales_distribucion %}
				                            		{{incubada.fk_diagrama_canvas.canales_distribucion }}
				                            	{%else%}
				                            		No existen datos para presentar
				                            	{%endif%}
				                                 </td>
		                                      </tr>
		                                      <tr>
		                                        <th colspan="3" style="background-color:#E2E2E2;">Estructura de Costos</th>
		                                        <th colspan="2" style="background-color:#E2E2E2;">Fuentes de Ingresos</th>
		                                      </tr>
		                                      <tr>
		                                         <td colspan="3">
		                                         {%if incubada.fk_diagrama_canvas.estructura_costos %}
				                            		{{incubada.fk_diagrama_canvas.estructura_costos }}
				                            	{%else%}
				                            		No existen datos para presentar
				                            	{%endif%}
				                                 </td>
		                                         <td colspan="2">
		                                         {%if incubada.fk_diagrama_canvas.fuente_ingresos %}
				                            		{{incubada.fk_diagrama_canvas.fuente_ingresos }}
				                            	{%else%}
				                            		No existen datos para presentar
				                            	{%endif%}
				                                 </td>
		                                      </tr>
		                                </tbody></table>

		                            </div>
		                        </div>

		                        <div id="retroalimentacion3" class="col-md-12">

					            </div>


					            <div class="new-comment col-sm-12" style="margin-bottom: 0px; border-bottom-width: 0px;">
					                  <div class="col-sm-12">
					                    <textarea class="form-control" style="resize:none" rows="3" placeholder="Escriba su retroalimentación para el modelo de negocio..." ></textarea>					                    
					                  </div>
					                  <div class="col-sm-12" style="margin-top:10px" align="right">
					                  	<a  class="btn btn-dark btn-sm">Enviar retroalimentación</a>
					                  </div>
						            </div>

					                <script>
		                                $(document).ready(function () {
		                                    $(function () {
		                                        $('#retroalimentacion3').ready(mostrarRetroalimentaciones);
		                                        function mostrarRetroalimentaciones() {
		                                            $.ajax({
		                                                data: {
		                                                    'incubada':{{incubada.id_incubada}},
		                                                    'numTab':3
		                                                },
		                                                type: 'get',
		                                                url: '/Retroalimentaciones/',
		                                                success: function (data) {
		                                                    $('#retroalimentacion3').html(data)
		                                                }
		                                            });

		                                        }
		                                    });
		                                });
		                            </script>

	                        </div>

	                    </div>
	                    <div role="tabpanel" class="tab-pane" id="industria">
	                    	<div class="col-md-12">
	                        <div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
	                            <!--Tendencias-->
	                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Tendencias Relevantes</p>
	                            
	                            <p class="col-md-12">
	                            {%if incubada.cuadro_tendencias_relevantes %}
                            		{{incubada.cuadro_tendencias_relevantes }}
                            	{%else%}
                            		No existen datos para presentar
                            	{%endif%}
                            	<br>
			                    </p>
	                             <!--Alternativas de solucion-->
	                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Alternativas de Solución Existentes</p>
	                            
	                            <p class="col-md-12">
	                            {%if incubada.descripcion_soluciones_existentes %}
                            		{{incubada.descripcion_soluciones_existentes }}
                            	{%else%}
                            		No existen datos para presentar
                            	{%endif%}
	                            <br>
			                    </p>
	                            <!--Diagrama de Porter-->

	                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Cinco fuerzas de Porter</p>

	                            <div class="table-responsive col-xs-12" style="font-size: 12px;">
	                                <table class="table table-bordered">
	                                      <tbody>
	                                      <tr style="background-color:#E2E2E2;">
	                                         <th colspan="2" style="text-align: center;">Competidores</th>
	                                      </tr>
	                                      <tr>
	                                         <td colspan="2">
	                                        {%if incubada.fk_diagrama_competidores.competidores %}
			                            		{{incubada.fk_diagrama_competidores.competidores }}
			                            	{%else%}
			                            		No existen datos para presentar
			                            	{%endif%}
	                                         <br>
			                                 </td>
			                              </tr>
			                              <tr style="background-color:#E2E2E2" align="center">
			                              	<th style="text-align: center;">Poder de consumidores</th>
	                                         <th style="text-align: center;">Sustitutos</th>
			                              </tr>
			                              <tr>
	                                         <td>
	                                         {%if incubada.fk_diagrama_competidores.consumidores %}
			                            		{{incubada.fk_diagrama_competidores.consumidores }}
			                            	{%else%}
			                            		No existen datos para presentar
			                            	{%endif%}
	                                         <br>
			                                </td>
	                                         <td>
	                                         	{%if incubada.fk_diagrama_competidores.sustitutos %}
			                            		{{incubada.fk_diagrama_competidores.sustitutos }}
			                            	{%else%}
			                            		No existen datos para presentar
			                            	{%endif%}
	                                         <br>
			                                </td>
			                               </tr>
			                               <tr style="background-color:#E2E2E2" align="center">

	                                         <th style="text-align: center;" colspan="2">Poder de proveedores</th>
			                               </tr>
			                               <tr>
	                                         <td colspan="2">
	                                         	{%if incubada.fk_diagrama_competidores.proveedores %}
			                            		{{incubada.fk_diagrama_competidores.proveedores }}
			                            	{%else%}
			                            		No existen datos para presentar
			                            	{%endif%}
	                                         <br>
			                                 </td>
			                               </tr>
			                               <tr style="background-color:#E2E2E2" >
	                                         <th style="text-align: center;" colspan="2" >Nuevos entrantes</th>
	                                         </tr>
			                               <tr>
	                                         <td colspan="2">
	                                         {%if incubada.fk_diagrama_competidores.nuevosMiembros %}
			                            		{{incubada.fk_diagrama_competidores.nuevosMiembros }}
			                            	{%else%}
			                            		No existen datos para presentar
			                            	{%endif%}
	                                         <br>
			                                 </td>
	                                      </tr>
	                                </tbody></table>
	                            </div>

	                            <br><br>
	                        </div>

	                        <div id="retroalimentacion4" class="col-md-12">

					            </div>

					        <div class="new-comment col-sm-12" style="margin-bottom: 0px; border-bottom-width: 0px;">
					                  <div class="col-sm-12">
					                    <textarea class="form-control" style="resize:none" rows="3" placeholder="Escriba su retroalimentación para los competidores..." ></textarea>					                    
					                  </div>
					                  <div class="col-sm-12" style="margin-top:10px" align="right">
					                  	<a  class="btn btn-dark btn-sm">Enviar retroalimentación</a>
					                  </div>
						            </div>

					                <script>
		                                $(document).ready(function () {
		                                    $(function () {
		                                        $('#retroalimentacion4').ready(mostrarRetroalimentaciones);
		                                        function mostrarRetroalimentaciones() {
		                                            $.ajax({
		                                                data: {
		                                                    'incubada':{{incubada.id_incubada}},
		                                                    'numTab':4
		                                                },
		                                                type: 'get',
		                                                url: '/Retroalimentaciones/',
		                                                success: function (data) {
		                                                    $('#retroalimentacion4').html(data)
		                                                }
		                                            });

		                                        }
		                                    });
		                                });
		                            </script>

	                        </div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane" id="esta_logro">
	                        <div class="col-md-12">
	                        	<div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
		                            <p style="color: darkgray" for="Descripcion" class="col-md-8">Tiempo aproximado de disponilidad del producto o servicio</p>
		                            <p class="col-md-4" align="left">
		                            	{%if incubada.tiempo_para_estar_disponible %}
		                            		{{incubada.tiempo_para_estar_disponible }}
		                            	{%else%}
		                            		No existen datos para presentar
		                            	{%endif%}
		                            </p>

		                            	                            
		                            <!--Estado de propiedad Intelectual-->
		                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Estado de propiedad Intelectual</p>
		                            
		                            <p class="col-md-12">
		                            	{%if incubada.estado_propiedad_intelectual %}
		                            		{{incubada.estado_propiedad_intelectual }}
		                            	{%else%}
		                            		No existen datos para presentar
		                            	{%endif%}
		                            <br>
				                   </p>
		                            <!--Evidencia de Traccion-->
		                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Evidencia de Tracci&oacute;n</p>
		                            
		                            <p class="col-md-12">
		                            {%if incubada.evidencia_traccion %}
		                            		{{incubada.evidencia_traccion }}
		                            	{%else%}
		                            		No existen datos para presentar
		                            	{%endif%}
		                            <br>
				                    </p>
	                            </div>
	                            <div id="retroalimentacion5" class="col-md-12">

					            </div>

					           	<div class="new-comment col-sm-12" style="margin-bottom: 0px; border-bottom-width: 0px;">
					                  <div class="col-sm-12">
					                    <textarea class="form-control" style="resize:none" rows="3" placeholder="Escriba su retroalimentación para los logros..." ></textarea>					                    
					                  </div>
					                  <div class="col-sm-12" style="margin-top:10px" align="right">
					                  	<a  class="btn btn-dark btn-sm">Enviar retroalimentación</a>
					                  </div>
						            </div>

					                <script>
		                                $(document).ready(function () {
		                                    $(function () {
		                                        $('#retroalimentacion5').ready(mostrarRetroalimentaciones);
		                                        function mostrarRetroalimentaciones() {
		                                            $.ajax({
		                                                data: {
		                                                    'incubada':{{incubada.id_incubada}},
		                                                    'numTab':5
		                                                },
		                                                type: 'get',
		                                                url: '/Retroalimentaciones/',
		                                                success: function (data) {
		                                                    $('#retroalimentacion5').html(data)
		                                                }
		                                            });

		                                        }
		                                    });
		                                });
		                            </script>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <br>
	        </div>      

	        <div class="col-md-4 col-sm-12" style="padding-right: 0px;">
		        

		        <div class="col-md-12 col-sm-6" style="padding-right: 0px;">


					<!--PANEL DEL MILESTONE ACTUAL-->	 

			            <div class="panel panel-dark" style="margin-top:0px">
			                		            
			                <div class="panel-body">
			                	<div class="media">
			                		<div class="row faq-cats">
						              <div class="col-md-12">
						                <ul>
						                  <li style="margin-bottom: 0px;"><i class="fa fa-briefcase fa-2x" style="color:#515151"></i>Milestone actual</li>				                  
						                </ul>
						              </div>
						            </div>
			                		<hr style="margin-top: 10px;margin-bottom: 10px;">
					                <div class="media-body" id="IncbMilestActu">

					                </div>

					                <script>
		                                $(document).ready(function () {
		                                    $(function () {
		                                        $('#IncbMilestActu').ready(mostrarMilestActual);
		                                        function mostrarMilestActual() {
		                                            $.ajax({
		                                                data: {
		                                                    'incubada':{{incubada.id_incubada}}
		                                                },
		                                                type: 'get',
		                                                url: '/AdminIncubadaMilestoneActual/',
		                                                success: function (data) {
		                                                    $('#IncbMilestActu').html(data)
		                                                }
		                                            });

		                                        }
		                                    });
		                                });
		                            </script>
					              </div>
			                </div>  
			            </div>
		            <!-- TERMINA Panel de Milestone Actual -->



			       <!-- COMIENZA  Panel de los consultores -->
			            <div class="panel panel-dark">
			                <div class="panel-heading row" style="margin-right: 0px;margin-left: 0px;padding-top: 5px;padding-bottom: 0px;  padding-right: 0px;">
			                    <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
			                        <div class="col-md-5 col-sm-6 col-xs-6" align="left" style="padding-left: 0px;">
			                            <h4 style="margin-top: 6px;">Consultores</h4>
			                         </div>
			                    </div>
			                </div>
			            
			            	<!--Lo siguiente es el panel donde se mostraran los consultores de una incubada, esto para el administrador debe hacerse por ajax, cada vez que se agregue uno nuevo-->
			                <div id="divConsultoresInc" class="panel-body" style=" overflow-y: scroll; height:300px">

			                </div>  

			                <script>
                                $(document).ready(function () {
                                    $(function () {
                                        $('#divConsultoresInc').ready(mostrarConsultoresIncubada);
                                        function mostrarConsultoresIncubada() {
                                            $.ajax({
                                                data: {
                                                    'incubada':{{incubada.id_incubada}}
                                                },
                                                type: 'get',
                                                url: '/AdminIncubadaConsultores/',
                                                success: function (data) {
                                                    $('#divConsultoresInc').html(data)
                                                }
                                            });

                                        }
                                    });
                                });
                            </script>
			            </div>
		            <!-- TERMINA Panel de los consultores -->

		            
		        </div>

		        <div class="col-md-12 col-sm-6" style="padding-right: 0px;">
		        	<!-- COMIENZA  Historial de Milestones -->
		          	<div class="block-header">
			            <h2 style="margin-bottom: 20px;margin-top: 20px;">
			              <span class="title">Historial Milestones</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
			            </h2>
			          </div>

			          	{%if milestone%}
						    <h4 style="margin-top: 0px;font-size:19px"><a href="/VerMilestone/{{milestone.id_milestone}}">{{milestone.fecha_maxima.date}}</a></h4>
						    
						    <span style="font-size:13px;color:gray">Requerimientos:</span>
						    <p>{{milestone.requerimientos|truncatewords:20}}<br></p>

						{%else%}
							<div class="info-board info-board-orange"> No hay ningún milestone anterior</div>
			          	{%endif%}
			         	
		              
		              <a href="/VerMilestone/{{milestone.id_milestone}}" class="read-more">Ver m&aacute;s...</a>
			            
		        	</div>
		        	<!-- TERMINA Historial de milestones -->



		        </div>
	    	</div>
		</div>
	</div>


	
    

	

{% endblock%}