
{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACIONES{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

        <div class="container">

        <div class="row" style="margin-bottom: 25px;">
            <div align=left class="col-md-3 col-sm-3 col-xs-4">
                <form id="formCrearIncubacion" action="/CrearIncubacion/" method="GET"> 
                      <button type="button" class="btn" style="background-color:#ED9C28; color: white;" name="btnIncubacion">Crear Incubaci&oacute;n
                </button>
                    
                </form>
                
            </div>
            <div class="col-md-offset-3 col-md-6  col-sm-9 col-xs-8">
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="busqueda_ofertas"
                           placeholder="Buscar Incubaciones por Nombre"/>
                </div>
                <div class="col-sm-3" ng-controller="busquedaControlador">
                    <button class="btn btn-blue" ng-click='buscarOfertas()'>Buscar</button>
                </div>
            </div>
        </div>

            <div class="row">
                <div class=" col-md-12" >

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#verIncubaciones" aria-controls="home" role="tab" data-toggle="tab">INCUBACIONES PUBLICADAS</a></li>
                    <li role="presentation"><a href="#aa"  role="tab" data-toggle="tab">INCUBACIONES EN LA RED</a></li>
                    <li role="presentation"><a href="#bb" role="tab" data-toggle="tab">GG</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content col-md-12">
                    <div role="tabpanel" class="tab-pane active" id="verIncubaciones">
                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="col-xs-6 col-sm-4 col-md-2">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-calendar bg-green"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="thumbnail col-md-1">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-3">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 16px color:#141998">Zapatos Reproductores</h4></a>
                                            <p align="center" style="font-size: 14px"><br>Alcance - Incubaci&oacute;n<br>
                                             <ul class="list-inline" align="center">
                                                <li><i class="fa fa-calendar"></i> Agostp 10, 2015</li>
                                            </ul>
                                        </div>
                        
                                         <div class="container col-md-5">
                                            <br>
                                            <ul class="list-inline " align="center">
                                                <label>N&uacute;mero de ofertas</label>
                                                <li title="Views">
                                                  <i class="fa fa-eye"></i> 85
                                                </li><br>
                                                <label>N&uacute;mero de consultores</label>
                                                <li title="Bookmarks">
                                                  <i class="fa fa-thumb-tack"></i> 12
                                                </li>
                                              </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-edit bg-blue"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!--#############-->
                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="col-xs-6 col-sm-4 col-md-2">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-calendar bg-green"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="thumbnail col-md-1">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-3">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 16px color:#141998">Zapatos Reproductores</h4></a>
                                            <p align="center" style="font-size: 14px"><br>Alcance - Incubaci&oacute;n<br>
                                             <ul class="list-inline" align="center">
                                                <li><i class="fa fa-calendar"></i> Agostp 10, 2015</li>
                                            </ul>
                                        </div>
                        
                                         <div class="container col-md-5">
                                            <br>
                                            <ul class="list-inline " align="center">
                                                <label>N&uacute;mero de ofertas</label>
                                                <li title="Views">
                                                  <i class="fa fa-eye"></i> 85
                                                </li><br>
                                                <label>N&uacute;mero de consultores</label>
                                                <li title="Bookmarks">
                                                  <i class="fa fa-thumb-tack"></i> 12
                                                </li>
                                              </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-edit bg-blue"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="col-xs-6 col-sm-4 col-md-2">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-calendar bg-green"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="thumbnail col-md-1">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-3">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 16px color:#141998">Zapatos Reproductores</h4></a>
                                            <p align="center" style="font-size: 14px"><br>Alcance - Incubaci&oacute;n<br>
                                             <ul class="list-inline" align="center">
                                                <li><i class="fa fa-calendar"></i> Agostp 10, 2015</li>
                                            </ul>
                                        </div>
                        
                                         <div class="container col-md-5">
                                            <br>
                                            <ul class="list-inline " align="center">
                                                <label>N&uacute;mero de ofertas</label>
                                                <li title="Views">
                                                  <i class="fa fa-eye"></i> 85
                                                </li><br>
                                                <label>N&uacute;mero de consultores</label>
                                                <li title="Bookmarks">
                                                  <i class="fa fa-thumb-tack"></i> 12
                                                </li>
                                              </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-edit bg-blue"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="col-xs-6 col-sm-4 col-md-2">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-calendar bg-green"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="thumbnail col-md-1">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-3">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 16px color:#141998">Zapatos Reproductores</h4></a>
                                            <p align="center" style="font-size: 14px"><br>Alcance - Incubaci&oacute;n<br>
                                             <ul class="list-inline" align="center">
                                                <li><i class="fa fa-calendar"></i> Agostp 10, 2015</li>
                                            </ul>
                                        </div>
                        
                                         <div class="container col-md-5">
                                            <br>
                                            <ul class="list-inline " align="center">
                                                <label>N&uacute;mero de ofertas</label>
                                                <li title="Views">
                                                  <i class="fa fa-eye"></i> 85
                                                </li><br>
                                                <label>N&uacute;mero de consultores</label>
                                                <li title="Bookmarks">
                                                  <i class="fa fa-thumb-tack"></i> 12
                                                </li>
                                              </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-edit bg-blue"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="col-xs-6 col-sm-4 col-md-2">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-calendar bg-green"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="thumbnail col-md-1">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-3">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 16px color:#141998">Zapatos Reproductores</h4></a>
                                            <p align="center" style="font-size: 14px"><br>Alcance - Incubaci&oacute;n<br>
                                             <ul class="list-inline" align="center">
                                                <li><i class="fa fa-calendar"></i> Agostp 10, 2015</li>
                                            </ul>
                                        </div>
                        
                                         <div class="container col-md-5">
                                            <br>
                                            <ul class="list-inline " align="center">
                                                <label>N&uacute;mero de ofertas</label>
                                                <li title="Views">
                                                  <i class="fa fa-eye"></i> 85
                                                </li><br>
                                                <label>N&uacute;mero de consultores</label>
                                                <li title="Bookmarks">
                                                  <i class="fa fa-thumb-tack"></i> 12
                                                </li>
                                              </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-edit bg-blue"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="col-xs-6 col-sm-4 col-md-2">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-calendar bg-green"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="thumbnail col-md-1">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-3">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 16px color:#141998">Zapatos Reproductores</h4></a>
                                            <p align="center" style="font-size: 14px"><br>Alcance - Incubaci&oacute;n<br>
                                             <ul class="list-inline" align="center">
                                                <li><i class="fa fa-calendar"></i> Agostp 10, 2015</li>
                                            </ul>
                                        </div>
                        
                                         <div class="container col-md-5">
                                            <br>
                                            <ul class="list-inline " align="center">
                                                <label>N&uacute;mero de ofertas</label>
                                                <li title="Views">
                                                  <i class="fa fa-eye"></i> 85
                                                </li><br>
                                                <label>N&uacute;mero de consultores</label>
                                                <li title="Bookmarks">
                                                  <i class="fa fa-thumb-tack"></i> 12
                                                </li>
                                              </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1">
                                            <div class="user-menu bottom-15">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="sign fa fa-edit bg-blue"></i> 
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- PAGINACION DE VER INCUBACIONES
                        -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if msjs.has_previous %}
                                <a class="btn btn-green" href="?page={{ msjs.previous_page_number }}">Anterior</a>
                            {% endif %}

                            <span class="current">
                                Página {{ msjs.number }} de {{ msjs.paginator.num_pages }}.
                            </span>

                            {% if msjs.has_next %}
                                <a class="btn btn-green" href="?page={{ msjs.next_page_number }}">Siguiente</a>
                            {% endif %}
                            </span>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="aa">
                    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bb">
                    
                    </div>

                  </div>

                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
   
</div>  
{% endblock %}



