{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACIONES{% endblock %}



{% block contenido %}
    <div class="container">
    <div class="row" style="margin-bottom: 25px;">
        
        <div class="col-md-4 col-sm-4 col-xs-3">
            {% if msg != None %}
            <div class="alert alert-success alert-dismissable" style="margin-bottom:-10px; padding:8px 25px 8px 15px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{msg}}
            </div>
            {% endif %}
        </div>
        
    </div>


    <div class="row">
    <div class=" col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#ofertasPublicadas" aria-controls="home" role="tab" data-toggle="tab">Mis Incubadas</a>
        </li>
        <li role="presentation">
            <a href="#borradorOferta" aria-controls="borradorOferta" role="tab" data-toggle="tab">Incubaciones en la red</a>
        </li>
        <li role="presentation">
            <a href="#ofertasdelaREd" aria-controls="ofertasdelaREd" role="tab" data-toggle="tab">Consultor de Incubadas</a>
        </li>
    </ul>


    <div class="tab-content col-sm-12">
    <!-- COMIENZA TAB DE OFERTAS PUBLICADAS-->
    <div role="tabpanel" class="tab-pane active" id="ofertasPublicadas" ng-controller="MisOfertasControlador">

        <div class="col-sm-12">
            <div class="timeline-block">
                <!-- First blog post -->
                <div ng-repeat="publicada in MOlistaOfertas">
                    <div class="blog-summary">
                        <h4 class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="col-md-9 col-sm-6" align="left" style="padding-left: 0px;">
                                <a class="ng-binding" href="/administrarOferta/[[ publicada.id_oferta ]]">[[publicada.nombre]]</a>
                            </div>
                            <div class="thumbnail col-md-3 col-sm-6" style="margin-bottom:-10px;" align="right">
                                <div class="caption" style="padding-bottom:0px;padding-top: 0px;padding-right: 0px;">
                                    <div class="rating" ng-repeat="n in [] | range:[[publicada.calificacion_total]]">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        <time datetime="2013-11-10" class="timestamp hidden-xs">[[
                            publicada.fecha_publicacion.substring(0,4) ]]/ [[ publicada.fecha_publicacion.substring(5,7)
                            ]]/ [[ publicada.fecha_publicacion.substring(8,10) ]]
                        </time>
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="col-md-6 col-xs-7" style="padding-left: 0px;">
                                <ul class="text-muted list-inline">
                                    <li><i class="fa fa-user"></i> <a href="/perfilUsuario">[[ publicada.dueno ]]</a>
                                    </li>
                                    <li><i class="fa fa-calendar"></i> [[ publicada.fecha_publicacion.substring(0,10) ]]
                                    </li>
                                    <li><i class="fa fa-comments-o"></i> [[publicada.numComentarios]] comentarios</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-5" align="right" style="padding-right: 0px;">
                                <a href="/administrarOferta/[[ publicada.id_oferta ]]" class="btn btn-green btn-sm">
                                    <i class="fa fa-pencil"></i>&nbsp;&nbsp;Administrar</a>
                            </div>
                        </div>
                        <div style="clear:both;">
                        </div>
                        <hr style="margin-top: 10px;">
                        <p class="blog-text" style="height: 125px">
                            <img class="img-responsive blog-img" alt="Imagen de mi Oferta"
                                 src="[[ publicada.galeria[0].imagen ]]" style="height: 115px; width: 115px;" align="left">
                            [[publicada.descripcion]]
                        </p>
                        <p class="tags">
                            <a ng-repeat="tag in publicada.palabras_clave">[[tag.palabra]]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="btn btn-green" ng-click='irAlanteriorPublicada()'>Anterior</button>
            <span class="current">
              Página [[ MOpagina ]] de [[ MOcontador ]].
            </span>
            <button class="btn btn-green" ng-click='irAlsiguientePublicada()'>Siguiente</button>
        </div>
    </div>
    <!-- TERMINA TAB DE OFERTAS PUBLICADAS-->

    <!-- COMIENZA TAB DE BORRADORES-->
    <div role="tabpanel" class="tab-pane" id="borradorOferta" ng-controller="MisOfertasBorradoresControlador">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="timeline-block">
                        <!-- First blog post -->
                        <div ng-repeat="borrador in BorradoreslistaOfertas">
                            <div class="blog-summary">
                                <h4 style="padding-left: 0px;padding-right: 0px;">
                                    <a href="/administrarBorrador/[[ borrador.id_oferta ]]">[[borrador.nombre]]</a>
                                </h4>
                                <time datetime="2013-11-10" class="timestamp hidden-xs">[[
                                    borrador.fecha_creacion.substring(0,4) ]]/ [[ borrador.fecha_creacion.substring(5,7)
                                    ]]/ [[ borrador.fecha_creacion.substring(8,10) ]]
                                </time>
                                <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="col-md-6 col-xs-7" style="padding-left: 0px;">
                                        <ul class="text-muted list-inline">
                                            <li><i class="fa fa-user"></i> <a href="/perfilUsuario">[[ borrador.dueno
                                                ]]</a></li>
                                            <li><i class="fa fa-calendar"></i> [[
                                                borrador.fecha_creacion.substring(0,10) ]]
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-xs-5" align="right" style="padding-right: 0px;">
                                        <a href="/EditarBorrador/[[ borrador.id_oferta ]]" class="btn btn-green btn-sm">
                                            <i class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</a>
                                    </div>
                                </div>
                                <div style="clear:both;">
                                </div>
                                <hr style="margin-top: 10px;">
                                <p class="blog-text">
                                    [[borrador.descripcion]]
                                </p>
                                <p class="tags">
                                    <a ng-repeat="tag in borrador.palabras_clave">[[tag.palabra]]</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <button class="btn btn-green" ng-click='irAlanteriorBorrador()'>Anterior</button>
            <span class="current">
                Página [[ Borradorespagina ]] de [[ Borradorescontador ]].
            </span>
            <button class="btn btn-green" ng-click='irAlsiguienteBorrador()'>Siguiente</button>
        </div>

    </div>
    <!-- TERMINA TAB DE BORRADORES-->

    <!-- COMIENZA OFERTAS DE LA RED-->
    <div role="tabpanel" class="tab-pane" id="ofertasdelaREd" ng-controller="OfertasControlador">
        <div class="col-sm-12">
            <div class="timeline-block">
                <!-- First blog post -->
                <div ng-repeat="o in listaOfertas">
                    <div class="blog-summary">
                        <h4 class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="col-md-9 col-sm-6" align="left" style="padding-left: 0px;">
                                <a class="ng-binding" href="/oferta/[[ o.id_oferta ]]">[[o.nombre]]</a>
                            </div>
                            <div class="thumbnail col-md-3 col-sm-6" style="margin-bottom:-10px;" align="right">
                                <div class="caption" style="padding-bottom:0px;padding-top: 0px;padding-right: 0px;">
                                    <div class="rating" ng-repeat="n in [] | range:[[o.calificacion_total]]">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        <time datetime="2013-11-10" class="timestamp hidden-xs">[[ o.fecha_publicacion.substring(0,4) ]]/
                            [[ o.fecha_publicacion.substring(5,7) ]]/ [[ o.fecha_publicacion.substring(8,10) ]]
                        </time>
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="col-md-6 col-xs-7" style="padding-left: 0px;">
                                <ul class="text-muted list-inline">
                                    <li><i class="fa fa-user"></i> <a href="/usuario/[[ o.duenoUsername ]]">[[ o.dueno
                                        ]]</a></li>
                                    <li><i class="fa fa-calendar"></i> [[ o.fecha_publicacion.substring(0,10) ]]</li>
                                    <li><i class="fa fa-comments-o"></i> [[o.numComentarios]] comentarios</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-5" align="right" style="padding-right: 0px;">

                            </div>
                        </div>
                        <div style="clear:both;">
                        </div>
                        <hr style="margin-top: 10px;">
                        <p class="blog-text" style="height: 125px">
                            <img class="img-responsive blog-img" alt="Imagen de mi Oferta"
                                 src="[[ o.galeria[0].imagen ]]" style="height: 115px; width: 115px;" align="left">
                            [[o.descripcion]]
                        </p>

                        <div class="tags">
                            <a ng-repeat="tag in o.palabras_clave">[[tag.palabra]]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINACION DE OFERTA PUBLICADAS-->
        <!-- PAGINACION DE OFERTA PUBLICADAS-->
        <div class="pagination">
            <button class="btn btn-green" ng-click='irAlanterior()'>Anterior</button>
            <span class="current">
              Página [[ pagina ]] de [[ contador ]].
            </span>
            <button class="btn btn-green" ng-click='irAlsiguiente()'>Siguiente</button>
        </div>
    </div>
    <!-- TERMINA OFERTAS DE LA RED-->

    <!-- COMIENZA OFERTAS EN LAS QUE PARTICIPO -->
    <div role="tabpanel" class="tab-pane" id="ofertasparticipantes" ng-controller="MiembroOfertasControlador">
        <div class="col-sm-12">
            <div class="timeline-block">
                <!-- First blog post -->
                <div ng-repeat="miembro in miembrolistaOfertas">
                    <div class="blog-summary">
                        <h4 class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="col-md-9 col-sm-6" align="left" style="padding-left: 0px;">
                                <a class="ng-binding" href="/oferta/[[ miembro.id_oferta ]]">[[miembro.nombre]]</a>
                            </div>
                            <div class="thumbnail col-md-3 col-sm-6" style="margin-bottom:-10px;" align="right">
                                <div class="caption" style="padding-bottom:0px;padding-top: 0px;padding-right: 0px;">
                                    <div class="rating" ng-repeat="n in [] | range:[[miembro.calificacion_total]]">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        <time datetime="2013-11-10" class="timestamp hidden-xs">[[ miembro.fecha_publicacion.substring(0,4)
                            ]]/ [[ miembro.fecha_publicacion.substring(5,7) ]]/ [[ miembro.fecha_publicacion.substring(8,10)
                            ]]
                        </time>
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="col-md-6 col-xs-7" style="padding-left: 0px;">
                                <ul class="text-muted list-inline">
                                    <li><i class="fa fa-user"></i> <a href="/usuario/[[ miembro.duenoUsername ]]">[[ miembro.dueno
                                        ]]</a></li>
                                    <li><i class="fa fa-calendar"></i> [[ miembro.fecha_publicacion.substring(0,10) ]]</li>
                                    <li><i class="fa fa-comments-o"></i> [[miembro.numComentarios]] comentarios</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-5" align="right" style="padding-right: 0px;">

                            </div>
                        </div>
                        <div style="clear:both;">
                        </div>
                        <hr style="margin-top: 10px;">
                        <p class="blog-text" style="height: 125px">
                            <img class="img-responsive blog-img" alt="Imagen de mi Oferta"
                                 src="[[ miembro.galeria[0].imagen ]]" style="height: 115px; width: 115px;" align="left">
                            [[miembro.descripcion]]
                        </p>

                        <p class="tags">
                            <a ng-repeat="tag in miembro.palabras_clave">[[tag.palabra]]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINACION DE OFERTA PUBLICADAS-->
        <!-- PAGINACION DE OFERTA PUBLICADAS-->
        <div class="pagination">
            <button class="btn btn-green" ng-click='irAlanteriorMiembro()'>Anterior</button>
            <span class="current">
                Página [[ miembropagina ]] de [[ miembrocontador ]].
            </span>
            <button class="btn btn-green" ng-click='irAlsiguienteMiembro()'>Siguiente</button>
        </div>

    </div>
    <!-- TERMINA EQUIPO-->
    </div>
    </div>
    </div>
    </div>

    <!--MODAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAL CREAAAAAAAAAAAAAAAAAAR OFEEEEEEEEEEEEEERTA-->

    <div class="modal fade" id="modalCrearOferta" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form id="formCrearOferta" ng-controller="CargarOfertasSelectController" action="/CrearOfertaCopia/"
                      method="GET">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close cancelar" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Crear Oferta</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-offset-1">
                            <input type="radio" name="radioName" id="radio1" value="1" checked
                                   class="'disabled':'disabled';"/>&nbsp;&nbsp;Nueva oferta<br/>
                            <input type="radio" name="radioName" id="radio2" value="2"/>&nbsp;&nbsp;De oferta
                            existente<br/>

                            <div class="" id="lista_de_ofertas" style="display:none;">

                                <select class="form-control select-box" id="lista_oferta" name="lista_oferta"
                                        ng-model="lista_oferta"
                                        ng-options="i.id_oferta as i.nombre for i in listaOfertas"
                                        style="margin-left: 3px;margin-top: 5px;overflow-x: hidden;overflow-y: scroll;"
                                        ng-change="selectOferta(i.id_oferta)">
                                </select>
                            </div>
                            <input type="hidden" id="select_oferta" name="select_oferta" value="[[ lista_oferta ]]">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="bt1" type="submit" class="btn btn-green"> Aceptar</button>
                        <button type="button" class="btn btn-dark cancelar" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>



    <script>
        $('#formCrearOferta input').on('change', function () {
            var valor = $('input[name=radioName]:checked', '#formCrearOferta').val();
            if (valor == "1") {
                $("#lista_de_ofertas").hide();
            } else if (valor == "2") {
                $("#lista_de_ofertas").show();
            }
        });
        $('.cancelar').on('click', function () {
            $('#lista_de_ofertas').fadeIn();
            $('#lista_de_ofertas').hide();
            $('#radio1').prop("checked", true);
            $('#select_oferta').val("");
        });
    </script>

    </div>

{% endblock %}



