{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACI&Oacute;N{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    
    <div class="container">
      <div class="col-sm-12 col-xs-12" style="padding:0">
        <div class="col-sm-8"><h3 class="hl" style="margin-top: 0px;">{{ incubacion.nombre }}</h3></div>
        <div class="col-sm-4">
          
          {% if convocatoria == False or administrador == True or consultor == True or participante == True or incubacion.estado_incubacion == 1 or incubacion.estado_incubacion == 2 or solicitud == True%}
            <div class="col-sm-12">
            <a href="#" disabled class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-target="#modalParticiparIncubcion" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Participar</a>
           </div>
          {%else%}
            <div class="col-sm-12">
            <a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-target="#modalParticiparIncubcion" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Participar</a>
            </div>
          {%endif%}
        </div>
      </div>
      <!-- comienza MODAL Invitar Consultor -->
            <div id="modalParticiparIncubcion" class="modal fade" role="dialog">
              <div class="modal-dialog" style="width: 40% !important;">
                <div class="modal-content" style=" width: 550px;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PARTICIPAR EN LA INCUBACI&Oacute;N</h4>
                  </div>
                  <div class="modal-body media" style="font-size:14px;padding-top: 0px;width: 540px;">
                  <span>Señor usuario usted puede elegir una de sus ofertas que a su vez podran estar participando en la icubaci&oacute;n</span>
                    <div id="formulario" name="formulario" class="form-horizontal col-md-12" style="width: 430px;">
                      {% csrf_token %}

                      <!--PARTICIPAR A UNA INCUBACION CON OFERTAS-->
                      <div class="form-group" style="overflow-y:auto; margin-left: 0px;width: 490px;">
                        
                        <div id="participar_ofertaas" class="panel-body">
                        <!--
                        Se muestra la peticion AJAX de mostrar el consultor a invitar
                        -->
                        </div> 

                         <!--
                            Autor: Leonel Ramirez 
                            Nombre de funcion: script para para enviar los parametros por ajax
                            parametros: incubacion
                            Salida: sobrecarga el html 
                            Descripcion: envia el id del milestone a una funcion view
                          -->
                      <script>
                        $(document).ready(function () {
                          $(function () {
                            $('#participar_ofertaas').ready(participarOfertas);
                            function participarOfertas() {
                              $.ajax({
                                data: {
                                  'incubacion':{{incubacion.id_incubacion}}
                                },
                                type: 'get',
                                url: '/ParticiparIncubacion/',
                                success: function (data) {
                                  $('#participar_ofertaas').html(data)
                                }
                              });
                            } 
                          });

                          $('#participar_incubacion').click(function(){
                            var seleccion = $('.selectOferta').find("option:selected").text();
                            var selectedValue = $('.selectOferta').val();      
                              $.ajax({
                                data: {
                                  'incubacion':{{incubacion.id_incubacion}},
                                  'oferta': selectedValue,
                                  'convocatoria':{{convocatoria.id_convocatoria_ofertas}}
                                },
                                type: 'get',
                                url: '/EnviarOfertaParticipar/',
                              });
                            });

                        });
                      </script>

                      </div>
                  </div>
                  <div align=right>
                        <a class="btn btn-dark" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
                         <button id="participar_incubacion" class="btn btn-red" data-dismiss="modal" data-target="#confirmacion_participar" data-toggle="modal"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Enviar&nbsp;&nbsp;</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- termina MODAL Invitar Consultor -->


            <!-- comienza MODAL Invitar Consultor -->
            <div id="confirmacion_participar" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width: 40% !important;">
                  <div class="modal-content" style=" width: 550px;">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">PARTICIPAR EN LA INCUBACI&Oacute;N</h4>
                    </div>
                    <div class="modal-body media" style="font-size:14px;padding-top: 0px;width: 540px;">
                       <span>Señor usuario se ha enviado correcctamente su solicitud para participar en esta incubaci&oacute;n</span>
                       <div align=right>
                           <a class="btn btn-red" href="/VerIncubacion/{{incubacion.id_incubacion}}"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Aceptar&nbsp;&nbsp;</a>
                       </div>
                    </div>
                  </div>
                </div>
            </div>
      
      <div class="col-sm-12" style="border-bottom:1px solid #eee;">
        <div class="col-sm-8">
          <ul class="text-muted list-inline">
          <li><i class="fa fa-calendar"></i> {{ incubacion.fecha_inicio.date }}</li>
          <li><i class="fa fa-cog"></i> Estado: 
            {% if incubacion.estado_incubacion == 0 %}
              ACTIVA
            {% endif %}
            {% if incubacion.estado_incubacion == 1 %}
              TERMINADA
            {% endif %}
            {% if incubacion.estado_incubacion == 2 %}
              DESACTIVADA
            {% endif %}  
          </li>
          </ul>
        </div>

        <div class="col-sm-4">
            {%if administrador == True%}
              <div style="font-size:11px;" align="right">*Usted es el <strong>administrador</strong> de ésta incubación, para ir al administrador haga clic <a href="/AdminIncubacion/{{incubacion.id_incubacion}}">aquí</a></div> 
            {%elif incubacion.estado_incubacion == 1 %}
              <div style="font-size:11px;" align="right">*La incubación se encuentra <strong>Terminada</strong></div> 
            {%elif incubacion.estado_incubacion == 2%}
              <div style="font-size:11px;" align="right">*La incubación se encuentra <strong>Desactivada</strong></div> 
            {%elif convocatoria == False%}
              <div style="font-size:11px;" align="right">*No existe una convocatoria vigente</div>
            {%elif consultor == True%}
              <div style="font-size:11px;" align="right">*Usted es <strong>consultor</strong> en ésta incubación para ir al administrador haga clic <a href="/ConsultorIncubada/{{idOfertaConsultor}}">aquí</a></div> 
            {%elif participante == True%}
              <div style="font-size:11px;" align="right">*Usted ya es <strong>participante</strong> en ésta incubación</div> 
            {%elif solicitud == True %}
              <div style="font-size:11px;" align="right">*Usted ya ha solicitado participar en ésta incubación</div> 
            
            {%endif%}
        </div>
      </div>


      <div class="col-sm-5" style="border-right:1px solid #eee; margin-top: 15px;">
        <div align="right">
          
        </div>
        
      <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-info-circle"></i> Descripción</h4>
              <p class="bottom-15">{{ incubacion.descripcion}}</p>
              <h4 class="hl"><i class="fa fa-question-circle"></i> Condiciones</h4>
              <p class="bottom-15">{{ incubacion.condiciones }}</p>
          </div>
      <div class="col-sm-12">
        <h4 class="hl"><i class="fa fa-sitemap"></i> Acerca de la Ofertas a Incubar</h4>
              <div role="tabpanel" class="tab-pane" id="cliente_usuario">
                  <div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
                    <p style="color: darkgray"  class="col-md-5">Perfil de la Oferta</p>
                    <p class="col-md-7">{{ incubacion.perfil_oferta}}</p>
                    <p style="color: darkgray"  class="col-md-5">Tipo de la Oferta</p>
                    <p class="col-md-7"> 
                      {% if incubacion.tipos_oferta == 0 %}
                          Emprendimiento
                      {% endif %}
                      {% if incubacion.tipos_oferta == 1 %}
                          Tecnología
                      {% endif %}
                      {% if incubacion.tipos_oferta == 2 %}
                          Prototipo
                      {% endif %} </p>
                  </div>
              </div>
              <hr>
          </div>  
      </div>
      <div class="col-sm-7">
        <div class="col-sm-8 col-sm-offset-2" align="center" style="padding:15px">
          <div class="panel panel-dark" align="center" style="margin-bottom:0px">
            <div class="panel-body" style="padding-bottom: 5px;">
              <h4 class="hl" style=" font-weight: bold"><bold> Convocatoria Actual de ofertas</bold></h4>
                {% if convocatoria != False %} 
                  <table class="table " style="margin-bottom: 0px;">
                    <thead>
                      <tr>
                        <th class="text-muted">Abierta Hasta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="text-align:left">{{ convocatoria.fecha_maxima }}</td>
                      </tr>
                    </tbody>
                  </table>
                {% else %}
                <div class="info-board info-board-red"> Esta incubación no tiene una convocatoria abierta</div>
                {%endif%}
            </div>
          </div>
        </div>
       <div class="col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#incubadas" aria-controls="home" role="tab" data-toggle="tab">INCUBADAS</a></li>
                    
              </ul>
        <div class="tab-content">
            <div id="incubadas" class="tab-pane fade in active">

                     {% if incubadas %}

                      <div style="font-size:12px;height:250px;overflow-y:auto;" >
                          <div class="pm-list">
                              <ul>
                                    {% for incubada in incubadas %}
                                      <li>
                                          <p class="text-muted" style="width: 100%;">
                                              {%if incubada.3.imagen %}
                                                <img src="/media/{{incubada.3.imagen}}" alt="...">
                                              {%else %}
                                                <img src="/media/noPicture.png" alt="...">
                                              {%endif%}
                                              <a style="font-size:14px;color:black;cursor:not-allowed">{{ incubada.0.nombre }}</a><br>
                                              <i class="fa fa-user"></i>{{ incubada.1.fk_participante.first_name }} {{ incubada.1.fk_participante.last_name }}
                                              <br><i class="fa fa-calendar"></i> {{incubada.0.fecha_creacion.date}}
                                          </p>
                                          <div class="clearfix"></div>
                                      </li>
                                    {%endfor%}
                              </ul>
                          </div>
                      </div>

                    {% else %}
                        <div class="alert alert-info alert-dismissable">
                            Esta incubación aún no tiene incubadas
                        </div>
                    {% endif %}   

            </div>
          </div>
      </div>
    </div>
  </div>
</div>
    </div>    
</div>
{% endblock %}
