{% extends "base-incubaciones.tpl.html" %}

{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

{% endif %}


{% block sliderPagina %}INCUBACI&Oacute;N{% endblock %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    
    <div class="container">
    	<div class="col-sm-12 col-xs-12" style="padding:0">
    		<div class="col-sm-6"><h3 class="hl" style="margin-top: 0px;">{{ incubacion.nombre }}</h3></div>
    		<div class="col-sm-6">
    			
  				<a href="#" class="btn btn-red pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-target="#modalParticiparIncubcion" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Participar</a>
        </div>
  		</div>
      <!-- comienza MODAL Invitar Consultor -->
            <div id="modalParticiparIncubcion" class="modal fade" role="dialog">
              <div class="modal-dialog" style="width: 40% !important;">
                <div class="modal-content" style=" width: 550px;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PARTICIPAR EN LA INCUBACI&Oacute;N</h4>
                  </div>
                  <div class="modal-body media" style="font-size:14px;padding-top: 0px;width: 540px;">
                  <span>Señor usuario usted puede elegir una de sus ofertas que a su vez podran estar participando en la icubaci&oacute;n</span>
                    <div id="formulario" name="formulario" class="form-horizontal col-md-12" style="width: 430px;">
                      {% csrf_token %}

                      <!--PARTICIPAR A UNA INCUBACION CON OFERTAS-->
                      <div class="form-group" style="overflow-y:auto; margin-left: 0px;width: 490px;">
                        
                        <div id="participar_ofertaas" class="panel-body">
                        <!--
                        Se muestra la peticion AJAX de mostrar el consultor a invitar
                        -->
                        </div> 
<script>
                        $(document).ready(function () {
                          $(function () {
                            $('#participar_ofertaas').ready(participarOfertas);
                            function participarOfertas() {
                              $.ajax({
                                data: {
                                  'incubacion':{{incubacion.id_incubacion}}
                                },
                                type: 'get',
                                url: '/ParticiparIncubacion/',
                                success: function (data) {
                                  $('#participar_ofertaas').html(data)
                                }
                              });
                            } 
                          });

                          $('#participar_incubacion').click(function(){
                            var seleccion = $('.selectOferta').find("option:selected").text();
                            var selectedValue = $('.selectOferta').val();      
                              $.ajax({
                                data: {
                                  'incubacion':{{incubacion.id_incubacion}},
                                  'oferta': selectedValue,
                                  'convocatoria':{{convocatorias.id_convocatoria_ofertas}}
                                },
                                type: 'get',
                                url: '/EnviarOfertaParticipar/',
                              });
                            });

                        });
                        </script>

                      </div>
                  </div>
                  <div align=right>
                        <a class="btn btn-dark" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</a>
                         <button id="participar_incubacion" class="btn btn-red" data-dismiss="modal"><i class="fa fa-check-square"></i>&nbsp;&nbsp;Enviar&nbsp;&nbsp;</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- termina MODAL Invitar Consultor -->
  		
      <div class="col-sm-12" style="border-bottom:1px solid #eee;">
  				<ul class="text-muted list-inline">
					<li><i class="fa fa-calendar"></i> {{ fecha_creacion }}</li>
					<li>ESTADO: </i>
            {% if incubacion.estado_incubacion == 0 %}
              ACTIVA
            {% endif %}
            {% if incubacion.estado_incubacion == 1 %}
              TERMINADA
            {% endif %}
            {% if incubacion.estado_incubacion == 2 %}
              DESACTIVADA
            {% endif %}  
          </li>
  				</ul>
    	</div>


    	<div class="col-sm-5" style="border-right:1px solid #eee; margin-top: 15px;">
    		<div align="right">
    			
    		</div>
    		
			<div class="col-sm-12">
	            <h4 class="hl"><i class="fa fa-info-circle"></i> Descripción</h4>
	            <p class="bottom-15">{{ incubacion.descripcion}}</p>
	           	<h4 class="hl"><i class="fa fa-question-circle"></i> Condiciones</h4>
	            <p class="bottom-15">{{ incubacion.condiciones }}</p>
	        </div>
			<div class="col-sm-12">
				<h4 class="hl"><i class="fa fa-sitemap"></i> Acerca de la Ofertas a Incubar</h4>
	            <div role="tabpanel" class="tab-pane" id="cliente_usuario">
	              	<div class="col-md-12" style="margin-top: 0px;padding-top: 15px;">
		              	<p style="color: darkgray"  class="col-md-5">Perfil de la Oferta</p>
		              	<p class="col-md-7">{{ incubacion.perfil_oferta}}</p>
		              	<p style="color: darkgray"  class="col-md-5">Tipo de la Oferta</p>
		                <p class="col-md-7"> 
                      {% if incubacion.tipos_oferta == 0 %}
                          Emprendimiento
                      {% endif %}
                      {% if incubacion.tipos_oferta == 1 %}
                          Tecnología
                      {% endif %}
                      {% if incubacion.tipos_oferta == 2 %}
                          Prototipo
                      {% endif %} </p>
	                </div>
	            </div>
	            <hr>
	        </div>	
    	</div>
    	<div class="col-sm-7">
        <div class="col-sm-8 col-sm-offset-2" align="center" style="padding:15px">
          <div class="panel panel-dark" align="center" style="margin-bottom:0px">
            <div class="panel-body" style="padding-bottom: 5px;">
              <h4 class="hl" style=" font-weight: bold"><bold> Convocatoria Actual de ofertas</bold></h4>
                {% if convocatorias != "No hay Convocatoria" %} 
                  <table class="table " style="margin-bottom: 0px;">
                    <thead>
                      <tr>
                        <th class="text-muted">Abierta Hasta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="text-align:left">{{ convocatorias.fecha_maxima }}</td>
                      </tr>
                    </tbody>
                  </table>
                {% else %}
                <div class="info-board info-board-red"> Esta incubación no tiene una convocatoria abierta</div>
                {%endif%}
            </div>
          </div>
        </div>
	     <div class="col-sm-12">
	    		<ul class="nav nav-tabs" role="tablist">
	            	<li role="presentation" class="active"><a href="#incubadas" aria-controls="home" role="tab" data-toggle="tab">INCUBADAS</a></li>
	            	    
	           	</ul>
				<div class="tab-content">
				  <div id="incubadas" class="tab-pane fade in active">
				  		<div style="font-size:12px;height:250px;overflow-y:auto;" >
					  		<div class="pm-list">
	                           <ul>
	                               <li>
	                                   <p class="text-muted" style="width: 100%;">
	                                       <img src="/../../media/ofertas-demandas/face2.jpg" alt="...">
	                                       <a href="/AdminIncubada/" style="font-size:16px;color:black">Zapatos electrocutadores</a><br>
	                                       <i class="fa fa-user"></i>&nbsp;Henry Lasso<br><i class="fa fa-calendar"></i>&nbsp;2015-08-30
	                                   </p>
	                                   
	                                   <div class="clearfix"></div>
	                               </li>
	                                <li>
                                     <p class="text-muted" style="width: 100%;">
                                         <img src="/../../media/ofertas-demandas/face2.jpg" alt="...">
                                         <a href="/AdminIncubada/" style="font-size:16px;color:black">Zapatos electrocutadores</a><br>
                                         <i class="fa fa-user"></i>&nbsp;Henry Lasso<br><i class="fa fa-calendar"></i>&nbsp;2015-08-30
                                     </p>
                                     
                                     <div class="clearfix"></div>
                                 </li>
	                               <li>
                                     <p class="text-muted" style="width: 100%;">
                                         <img src="/../../media/ofertas-demandas/face2.jpg" alt="...">
                                         <a href="/AdminIncubada/" style="font-size:16px;color:black">Zapatos electrocutadores</a><br>
                                         <i class="fa fa-user"></i>&nbsp;Henry Lasso<br><i class="fa fa-calendar"></i>&nbsp;2015-08-30
                                     </p>
                                     
                                     <div class="clearfix"></div>
                                 </li>
	                                <li>
                                     <p class="text-muted" style="width: 100%;">
                                         <img src="/../../media/ofertas-demandas/face2.jpg" alt="...">
                                         <a href="/AdminIncubada/" style="font-size:16px;color:black">Zapatos electrocutadores</a><br>
                                         <i class="fa fa-user"></i>&nbsp;Henry Lasso<br><i class="fa fa-calendar"></i>&nbsp;2015-08-30
                                     </p>
                                     
                                     <div class="clearfix"></div>
                                 </li>
	                           </ul>
	                       </div>
	                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      	<div class="modal modal-vcenter fade" id="ofertaRechazada" tabindex="-1" role="dialog"
         aria-labelledby="sendemailtitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method=''>
                        <!--{% csrf_token %}-->
                        <div class="form-group">
                            <label for="Confirmacion">La oferta ha sido rechazada con &eacute;xito.</label>
                            
                        </div>
                        <div align="right">
                            <a href="" class="button">
                                <button id="btn_rechazada"type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>    
</div>
{% endblock %}
