{% load staticfiles %}
{% load static swampdragon_tags %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>                             
<script src="{% static 'js/scrolltopcontrol.js' %}"></script>                   
<script src="{% static 'js/angular.js' %}"></script>                            
<script src="{% static 'js/angular-cookies.js' %}"></script>                    
<script src="{% static 'js/angular-route.js' %}"></script>                      
<script src="{% static 'js/angular-resource.js' %}"></script>                   
<script src="{% static 'js/angular-animate.js' %}"></script>                    
<script src="{% static 'js/angular-route.js' %}"></script>                      
                                                                                
{% swampdragon_settings %}                                                      
<script src="{% static 'js/swampdragon/js/dist/swampdragon.min.js' %}"></script>
<script src="{% static 'js/swampdragon/js/dist/datamapper.js' %}"></script>     
<script src="{% static 'js/swampdragon/js/angular/services.js' %}"></script>    
                                                                                
<script src="{% static 'js/angular-route.js' %}"></script>                      

<script src="/static/js/institucion-verifCrea.js"></script>                     