
{% extends "oferta_inicio.html" %}


{% block contenido %}
<link rel="stylesheet" href='/static/css/demo.css'>

		{% block registrarinstitucion %}
				{% include 'menusuperior/registrarinstitucion.tpl.html' %}
		{% endblock %}


	<div class="section-header">
					<div class="container">
							<div class="row">
									<div class="col-sm-12">
											<h1 class="animated slideInLeft" ><span>OFERTA PUBLICADA</span></h1>
									</div>
							</div>
					</div>
	</div>
<!-- Main body
================== -->
<div class="container">
		<div class="row">
			<div class="col-sm-8">
					<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-md-8 col-xs-7" align="left" style="padding-left: 0px;">
                      <h4>Nombre de la oferta</h4>
                      <ul class="text-muted list-inline">
                        <li><i class="fa fa-user"></i> <a href="profile.html">Administrator</a></li>
                        <li><i class="fa fa-calendar"></i> November 10, 2013</li>
                        <li><i class="fa fa-comments-o"></i> 21 comments</li>
                      </ul>
                 </div>
                <div class="col-md-4 col-xs-5" align="right" style="padding-top: 15px;padding-right: 0px;">
                     <a href="/OfertaEditable/" class="btn btn-default">
                        <i class="fa fa-files-o"></i>
                        Duplicar Oferta
                      </a>
                      <p class="text-muted" style="font-size:11px">*Puede crear otra oferta a partir de esta</p><p>
                </p></div>
          </div>

					<div class="blog-text">

					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n General</a>
						</li>
						<li role="presentation">
							<a href="#cliente_usuario" aria-controls="profile" role="tab" data-toggle="tab">Cliente/Usuario</a>
						</li>
						<li role="presentation">
							<a href="#modelo" aria-controls="messages" role="tab" data-toggle="tab">Modelo de Negocio</a>
						</li>
						<li role="presentation">
							<a href="#industria" aria-controls="settings" role="tab" data-toggle="tab">Industria/Competidores</a>
						</li>
						<li role="presentation">
							<a href="#esta_logro" aria-controls="messages" role="tab" data-toggle="tab">Estado/Logros</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content row">
								<div role="tabpanel" class="tab-pane active" id="informacion">
										<div class="col-md-4 col-sm-4 col-xs-4">
												<div class="block-inverse">
													<div class="head-inverse">
															<img class=" img-responsive" src="/../../media/ofertas-demandas/integrante1.jpg" alt="...">
													</div>
													<div class="body-inverse">
														<p class="text-center">
															<strong class="text-muted">Fotos</strong>
														</p>
														<div class="user-gallery text-center">
															<a href="#"><img src="/../../media/ofertas-demandas/face1.jpg" alt="..."></a>
															<a href="#"><img src="/../../media/ofertas-demandas/face2.jpg" alt="..."></a>
															<a href="#"><img src="/../../media/ofertas-demandas/face3.jpg" alt="..."></a>
														</div>
													</div>
												</div>
										</div>
										<div class="col-md-8 col-sm-8 col-xs-8">

													<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>->

                                                                    <!--NOMBRES-->
                                             <div class="form-group">
                                                 <label style="color: darkgray" for="Nombres" class="col-md-3">Nombre</label>

                                                 <label>Oferta 1</label>


                                             </div>
                                            <!--Tipo-->
                                             <div class="form-group">
                                                 <label style="color: darkgray" for="Tipo" class="col-md-3">Tipo</label>

                                                 <label>Tecnolog&iacute;a</label>

                                             </div>

                                            <!--Descripción-->
                                            <div class="form-group">
                                                 <label  style="color: darkgray" for="Nombres" class="col-md-3">Descripci&oacute;n</label>
                                                 <label>Pruebas inicales</label>


                                             </div>

                                            <!--Dominio-->
                                             <div class="form-group">
                                                 <label style="color: darkgray" for="Nombres" class="col-md-3">Dominio</label>

                                                 <label>Dominio</label>

                                             </div>

                                            <!--Subdominio-->
                                             <div class="form-group">
                                                 <label style="color: darkgray" for="Nombres" class="col-md-3">Sub-dominio</label>

                                                  <label>Sub-dominio</label>

                                             </div>

                                            <!--Palabras Clave-->
                                             <div class="form-group">
                                                 <label  style="color: darkgray" for="Nombres" class="col-md-3">Palabras Claves</label>
                                                 <label>Arte, Alimentos y Bebidas, Automotriz</label>


                                             </div>



										</div>
										
									
								</div>

								<div role="tabpanel" class="tab-pane" id="cliente_usuario">
									<!--Perfil Cliente-->
                                      <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-2">Perfil Cliente</label>
                                              <label>Arte, Alimentos y Bebidas, Automotriz</label>

                                         </div>

                                      <!--Perfil Beneficiario-->
                                      <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-2">Perfil del Beneficiario</label>
                                            <label>Arte, Alimentos y Bebidas, Automotriz</label>

                                      </div>
								</div>


								<div role="tabpanel" class="tab-pane" id="modelo">
                                    <!--Canvas del modelo de negocio-->
                                 <h3 style="text-align:center" class="hl">  Canvas del Modelo de negocios</h3>
                                 <hr>
                                  <div class="col-md-12">
                                     <div class="col-md-2">
                                         <label style="color: darkgray" class="col-md-12" style="text-align:center">Socio Clave</label>
                                         <label style="text-align:center" >Pruebas iniciales</label>
                                      </div>

                                     <div class="col-md-2">
                                         <label style="color: darkgray" class="col-md-12" style="text-align:center">Actividades Clave</label>
                                         <label style="text-align:center" >Pruebas iniciales</label><br><br><br>
                                         <label style="color: darkgray" class="col-md-12" style="text-align:center">Recursos Clave</label>
                                        <label style="text-align:center" >Pruebas iniciales</label>
                                     </div>

                                     <div class="col-md-2" style="text-align:center">
                                         <label style="color: darkgray"> Propuesta por Valor</label>
                                         <label style="text-align:center" >Pruebas iniciales</label>
                                     </div>

                                     <div class="col-md-2" style="text-align:center">
                                         <label style="color: darkgray">Relaciones con Clientes</label>
                                         <label style="text-align:center" >Pruebas iniciales</label><br><br><br>
                                         <label style="color: darkgray" class="col-md-12" style="text-align:center">Canales</label>
                                         <label style="text-align:center" >Pruebas iniciales</label>
                                     </div>

                                     <div class="col-md-2" style="text-align:center">
                                         <label style="color: darkgray" style="text-align:center">Segmentos  del  cliente</label>
                                         <label style="text-align:center" >Pruebas iniciales</label>
                                     </div>
                                </div>

                              <div class="col-md-12">
                                  <br><br>
                                    <div class="col-md-6">
                                         <label style="color: darkgray" class="col-md-12" style="text-align:center">Estructura de Costos</label>
                                         <label class="col-md-6" style="text-align:center" >Pruebas iniciales</label>
                                     </div>
                                     <div class="col-md-6">
                                         <label style="color: darkgray" class="col-md-12" style="text-align:center">Fuentes de Ingresos</label>
                                         <label class="col-md-6" style="text-align:center" >Pruebas iniciales</label>
                                   </div>
                              </div>

								</div>


								<div role="tabpanel" class="tab-pane" id="industria">
										 <!--Industria Competidores-->

                                    <!--Tendencias-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-5">Tendencias Relevantes</label>
                                              <label>Tendencias Relevantes</label>

                                     </div>


                                     <!--Alternativas de solucion-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-5">Alternativas de Soluci&oacute;n Existentes</label>
                                              <label>Alternativas de Soluci&oacute;n Existentes</label>

                                     </div>


                                     <!--Competidores-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-5">Competidores</label>
                                              <label>ESPOL</label>

                                     </div>


                                     <!--Diagrama de Porter-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-5">Diagrama de Porter</label>
                                              <br><br>
                                               <div style="margin-left:10% ; height:70%;width:70%; text-align: center">
															<img width="400" height="400"   src="/../../media/ofertas-demandas/mcdonalds.jpg" alt="...">
												</div>
                                     </div>



								</div>

								<div role="tabpanel" class="tab-pane" id="esta_logro">

                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-6">Tiempo de disponilidad del producto o servicio</label>
                                              <label>6 años</label>

                                     </div>


                                     <!--Estrategia de crecimiento-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-6">Estrategia de crecimiento</label>
                                              <label>Pruebas iniciales</label>

                                     </div>


                                     <!--Estado de propiedad Intelectual-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-6">Estado de propiedad Intelectual</label>
                                              <label>Pruebas iniciales</label>

                                     </div>


                                     <!--Evidencia de Traccion-->
                                    <div class="form-group">
                                             <label style="color: darkgray" for="Descripcion" class="col-md-6">Evidencia de Tracci&oacute;n</label>
                                              <label>Pruebas iniciales</label>

                                     </div>

								</div>
					</div>

				</div>

				<br><br><br><br>
					<!--
						<img class="pull-right img-responsive blog-img" alt="..." src="img/works1.jpg">

					<!-- Comments list -->
					<h4>
						COMENTARIOS
					</h4>
					<hr>
					<div align=right>
						<p><a href="#" class="btn btn-red" style="color:white"data-toggle="modal" data-target="#solicitudesComentarios"><span class="badge" style="background-color:white; color:#C0392B">24</span>&nbsp;&nbsp;Comentarios nuevos</a></p>
						<p class="text-muted" style="font-size:11px">*Los comentarios de otros usuarios deben ser aprobados para estar visibles<p>
					</div>
					<div class="comment">
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-circle" src="/../../media/ofertas-demandas/face3.jpg" alt="...">
							</a>
							<div class="media-body">
								<p><a href="profile.html">Username</a></p>
								<div class="thumbnail" style="margin-bottom:0px">
											<div class="caption" style="padding-top:0px; padding-bottom:0px">
													<div class="rating">
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
													</div>
											</div>
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
								</p>
								<ul class="text-muted list-inline">
									<li><i class="fa fa-calendar"></i> 11/10/2013</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="comment">
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-circle" src="/../../media/ofertas-demandas/face1.jpg" alt="...">
							</a>
							<div class="media-body">
								<p><a href="profile.html">Username 2</a></p>
								<div class="thumbnail" style="margin-bottom:0px">
											<div class="caption" style="padding-top:0px; padding-bottom:0px">
													<div class="rating">
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
													</div>
											</div>
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
								</p>
								<ul class="text-muted list-inline">
									<li><i class="fa fa-calendar"></i> 11/10/2013</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="comment">
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-circle" src="/../../media/ofertas-demandas/face2.jpg" alt="...">
							</a>
							<div class="media-body">
								<p><a href="profile.html">Username 3</a></p>
								<div class="thumbnail" style="margin-bottom:0px">
											<div class="caption" style="padding-top:0px; padding-bottom:0px">
													<div class="rating">
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
														<i class="fa fa-star"></i> 
													</div>
											</div>
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
								</p>
								<ul class="text-muted list-inline">
									<li><i class="fa fa-calendar"></i> 11/10/2013</li>
								</ul>
							</div>
						</div>
					</div>
			</div>


			<div class="col-sm-4">
					<!-- Social Links -->
					 <h4>
						CALIFICACI&Oacute;N GENERAL
					</h4>         
					<hr>
					<div class="thumbnail" align=center style="margin-bottom:0px">
						<div class="caption" style="padding-top:0px; padding-bottom:0px">
								<div class="rating">
									<i class="fa fa-star"></i> 
									<i class="fa fa-star"></i> 
									<i class="fa fa-star"></i> 
									<i class="fa fa-star"></i> 
									<i class="fa fa-star"></i>
								</div>
						</div>
					</div>
					<!-- Tags -->
					<h4>
						PALABRAS CLAVES
					</h4>  
					<hr>
					<p class="tags">
						<a href="#">Industria</a>
						<a href="#">Autos</a>
						<a href="#">Startup</a>
						<a href="#">Espol</a>
					</p>
					<br />
					<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
								<div class="col-md-9 col-xs-8" align="left" style="padding-left: 0px;">
											<h4>ESTADO DE LA OFERTA</h4> 
								 </div>
								<div class="col-md-3 col-xs-4" align="right" style="padding-right: 0px;">
											<a onclick="editarEstadoOferta()" class="btn btn-blue"><i class="fa fa-pencil"></i></a>
								</div>
                                <script>
                                    function editarEstadoOferta() {
                                       document.getElementById("estadoOferta").removeAttribute("disabled");
                                       document.getElementById("btnGuardar").style.visibility="visible";
                                    }
                                </script>
					</div>
					
					<hr>
					<div class="info-board info-board-green">
                            <a href="#" style="color:black;margin-top: 30px" data-toggle="modal" data-target="#cambiarDeEstadoTrabajo">
                                <label style="margin-left:50%;" id="estadoOferta" list="estadoLista">Activo</label>
                            </a>
                                <datalist id="estadoLista">
                                  <option value="ACTIVA">
                                  <option value="TERMINADA">
                                  <option value="DESACTIVADA">
                                  <option value="CENSURADA">
                                </datalist>
                            <button onclick="guardarEstadoOferta()" id="btnGuardar" align=right class="btn btn-blue" style="visibility: hidden; margin-left:5%" ">Guardar</button>
					        <script>
                                    function guardarEstadoOferta() {
                                        document.getElementById("estadoOferta").setAttribute("disabled","true");
                                        document.getElementById("btnGuardar").style.visibility="hidden";
                                    }
                             </script>

                    </div>

					<br />
					
					<!-- Recently Added -->
					<div class="panel panel-default">
						<div class="panel-heading row" style="margin-right: 0px;margin-left: 0px;padding-top: 5px;padding-bottom: 0px;  padding-right: 0px;">
							<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
								<div class="col-md-9 col-xs-8" align="left" style="padding-left: 0px;">
											<h4>EQUIPO</h4> 
								 </div>
								<div class="col-md-3 col-xs-4" align="right" style="padding-right: 0px;">
										<a href="#" class="btn btn-blue" data-toggle="modal" data-target="#modalEquipo"><i class="fa fa-pencil"></i></a>
								</div>
								<div id="modalEquipo" class="modal fade" role="dialog">
  									<div class="modal-dialog">
  										<div class="modal-content">
									      <div class="modal-header" style="background-color:#F6F7F7">
									      	
									        	<button type="button" class="close" data-dismiss="modal">&times;</button>
									        	<h4 class="modal-title">Editar Equipo</h4>
									        
									      </div>
									      <div class="modal-body">
											<div class="team" style="font-size:12px;height:200px;overflow-y:scroll">
                                                <form>
            									<div class="member-left" style="height:110px;width:500px">
              										<div class="col-md-6">
              											<img src="/../../media/ofertas-demandas/integrante1.jpg" alt="TeamMember" class="left">
              											<STRONG>Alex Smith</STRONG><br>
              											<span class="position">ESPOL</span>
              										</div>
              										<div class="col-md-4">
              											<input type="text" id="rolUsuario1" name="rol1" value="CEO" disabled></input>
                                                        <input list="estado" name="estado1"id="estadoUsuario1" value="ACTIVO" disabled>
                                                        <datalist id="estado">
                                                          <option value="ACTIVO">
                                                          <option value="INACTIVO">
                                                        </datalist>
              										</div>
              										<div>
              											<ul class="text-muted">
              						  						<p ><i class="fa fa-cog"></i> <a href="javascript:editarRol($('#rolUsuario1'))">Editar Rol</a></p>
										        			<p style="margin-left:7px"><i class="fa fa-cog"></i> <a href="javascript:editarEstado($('#estadoUsuario1'))">  Editar Estado</a><p>
                          								</ul>
								        			</div>
            									</div>
            									<div class="member-left" style="margin-top:50px;height:110px;width:500px">
              										<div class="col-md-6">
              											<img src="/../../media/ofertas-demandas/face2.jpg" alt="TeamMember" class="left">
              											<STRONG>Fernando Rodriguez</STRONG><br>
              											<span class="position">ESPOL</span>
              										</div>
              										<div class="col-md-4">
              											<input type="text" id="rolUsuario2" name="rol2" value="Designer" disabled></input>
                                                        <input list="estado" name="estado2"id="estadoUsuario2" value="ACTIVO" disabled>
                                                        <datalist id="estado">
                                                          <option value="ACTIVO">
                                                          <option value="INACTIVO">
                                                        </datalist>
              										</div>
              										<div>
              											<ul class="text-muted">
              						  						<p ><i class="fa fa-cog"></i> <a href="javascript:editarRol($('#rolUsuario2'))">Editar Rol</a></p>
										        			<p style="margin-left:7px"><i class="fa fa-cog"></i> <a href="javascript:editarEstado($('#estadoUsuario2'))">  Editar Estado</a><p>
                          								</ul>
								        			</div>
            									</div>
            									<div class="member-left" style="margin-top:50px;height:110px;width:500px">
              										<div class="col-md-6">
              											<img src="/../../media/ofertas-demandas/face2.jpg" alt="TeamMember" class="left">
              											<STRONG>Fernando Rodriguez</STRONG><br>
              											<span class="position">ESPOL</span>
              										</div>
              										<div class="col-md-4">
              											<input type="text" id="rolUsuario3" name="rol3" value="Designer" disabled></input>
                                                        <input list="estado" name="estado3"id="estadoUsuario3" value="ACTIVO" disabled>
                                                        <datalist id="estado">
                                                          <option value="ACTIVO">
                                                          <option value="INACTIVO">
                                                        </datalist>
              										</div>
              										<div>
              											<ul class="text-muted">
              						  						<p ><i class="fa fa-cog"></i> <a href="javascript:editarRol($('#rolUsuario3'))">Editar Rol</a></p>
										        			<p style="margin-left:7px"><i class="fa fa-cog"></i> <a href="javascript:editarEstado($('#estadoUsuario3'))">  Editar Estado</a><p>
                          								</ul>
								        			</div>
            									</div>
                                                </form>
									      	</div>

									      <div class="modal-footer">
									        <button id="btnCancelarEditarEquipo" type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
									        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#guardarEditarEquipo">Guardar</button>
									      </div>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
							<div class="recent-blogs">
								<div class="team">
											<div align=center>
												<p>
													<a href="#" class="btn btn-red" style="color:white;margin-top: 20px" data-toggle="modal" data-target="#solicitudesEquipo">
														<span class="badge" style="background-color:white; color:#C0392B">2</span>
														&nbsp;&nbsp;Solicitudes de participaci&oacute;n</a></p>
											</div>
											<hr>
                                            <div align=center>
                                                <p>
                                                    <a href="#" class="btn btn-red" style="color:white;" data-toggle="modal" data-target="#agregarMiembro">
                                                        Agregar nuevo miembro</a>
                                                </p>
                                            </div>
                                            <hr>
											<div class="member-left" style="margin-bottom: 0px;">
												<img src="/../../media/ofertas-demandas/face1.jpg" alt="Team Member" class="left" style="
												margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
												<a href="#"> 
													<h4>Alex Smith</h4>
												</a>
											
                                                <p class="position">Estado&nbsp;:&nbsp;&nbsp;<b style="color:black">ACTIVO</b></p>
												
                                                <p class="position">Rol&nbsp;:&nbsp;&nbsp;<b style="color:black">CEO</b></p>
																					 
											</div>
											<div class="member-left" style="margin-bottom: 0px;">
												<img src="/../../media/ofertas-demandas/face2.jpg" alt="Team Member" class="left" style="
												margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
												<a href="#"> 
													<h4>Fernando Rodriguez</h4>
												</a>
												<p class="position">Estado&nbsp;:&nbsp;&nbsp;<b style="color:black">ACTIVO</b></p>
												<p class="position">Rol&nbsp;:&nbsp;&nbsp;<b style="color:black">Designer</b></p>                     
											</div>
											<div class="member-left" style="margin-bottom: 0px;">
												<img src="/../../media/ofertas-demandas/face3.jpg" alt="Team Member" class="left" style="
												margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
												<a href="#"> 
													<h4>Margarita Altamirano</h4>
												</a>
												<p class="position">Estado&nbsp;:&nbsp;&nbsp;<b style="color:black">ACTIVO</b></p>
												<p class="position">Rol&nbsp;:&nbsp;&nbsp;<b style="color:black">Programmer</b></p>                 
											</div>
											
								</div>
                                <div id="agregarMiembro" class="modal fade" role="dialog" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Agregar nuevo miembro al equipo</h4>
                                            </div>
                                            <div class="modal-body"style="font-size:12px;height:300px;overflow-y:auto">
                                                <form role="form" action="" method=''>
                                                    <div class="form-group">
                                                        <label for="Busqueda">Buscar usuario:</label>
                                                        <input type="text" class="form-control" id="buscarAgregarMiembro" name="buscarAgregarMiembro"
                                                        placeholder="Búsqueda.." maxlength="150">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="AsignarRol">Asignar rol:</label>
                                                        <input type="text" class="form-control" id="asignarRol" name="asignarRol"
                                                        placeholder="Ingresar rol del usuario.." maxlength="150">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Mensaje">Añadir mensaje:</label>
                                                        <input type="text" class="form-control" id="mensaje" name="mensaje"
                                                        placeholder="Mensaje.." maxlength="150">
                                                    </div>
                                                    <a href="" class="button" data-toggle="modal" data-target="#confirmarAgregarMiembro">
                                                        <button type="button" class="btn btn-green" data-dismiss="modal" style="float:right">Aceptar</button>
                                                    </a> 
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal modal-vcenter fade" id="confirmarAgregarMiembro" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="sendemailtitle">Mensaje de Confirmaci&oacute;n</h4>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form" action="" method=''>
                                                    <div class="form-group">
                                                        <label for="Confirmacion">Se ha enviado su solicitud con &eacute;xito</label>
                                                    </div>
                                                    <a href="" class="button">
                                                        <button type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                                                    </a> 
                                                </form>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
								<div id="solicitudesEquipo" class="modal fade" role="dialog">
  									<div class="modal-dialog">
  										<div class="modal-content">
								      		<div class="modal-header">
								        		<button type="button" class="close" data-dismiss="modal">&times;</button>
								        		<h4 class="modal-title">Solicitudes</h4>
								      		</div>
								      		<div class="modal-body"style="font-size:12px;height:200px;overflow-y:auto">
								      			<div class="comment">
										            <div class="media">
										              <a class="pull-left" href="#">
										                <img class="media-object" src="/../../media/ofertas-demandas/face3.jpg" alt="...">
										              </a>
										              <div class="media-body">
										                <p><a href="profile.html">Henry Lasso</a></p>
										                <span>Rol:sdasasa</span>
										                <button type="button"class="btn btn-green"  style="margin-left:200px">
				                                        	<span class="glyphicon glyphicon-plus-sign"></span> Aceptar
				                                        </button>
				                                        <button type="button" class="btn btn-default btn-md">
				                                        	<span class="glyphicon glyphicon-minus-sign"></span> Rechazar
				                                        </button>
				                                        
                                    	                <ul class="text-muted list-inline">
										                  <li><i class="fa fa-clock-o"></i> 1 hour ago</li>
										                </ul>
										              </div>
										            </div>
										        </div>
										        <div class="comment">
										            <div class="media">
										              <a class="pull-left" href="#">
										                <img class="media-object" src="/../../media/ofertas-demandas/face3.jpg" alt="...">
										              </a>
										              <div class="media-body">
										                <p><a href="profile.html">Henry Lasso</a></p>
										                <span>Rol:sasasas</span>
										                <button type="button"class="btn btn-green"  style="margin-left:200px">
				                                        	<span class="glyphicon glyphicon-plus-sign"></span> Aceptar
				                                        </button>
				                                        <button type="button" class="btn btn-default btn-md">
				                                        	<span class="glyphicon glyphicon-minus-sign"></span> Rechazar
				                                        </button>
				                                        
                                    	                <ul class="text-muted list-inline">
										                  <li><i class="fa fa-clock-o"></i> 1 hour ago</li>
										                </ul>
										              </div>
										            </div>
										        </div>
										    </div>
										    <div class="modal-footer"></div>
								    	</div>
								  	</div>
								</div>

                                <div id="cambiarDeEstadoTrabajo" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Cambiar Estado</h4>
                                            </div>
                                            <div>
                                                <div class="col-md-12">
                                                        <div class="col-md-8">
                                                        <input type="checkbox" name="tecnologia" value="tecnologia">Activo<br>
                                                        <input type="checkbox" name="prototipo" value="prototipo">Desactivo<br>    
                                                </div>
                                                <div class="col-md-10">
                                                 <button class="btn btn-blue ">Guardar Cambios</button> 
                                                 </div>                                                              
                                            </div>                                            
                                            <div class="modal-footer"></div>
                                        </div>
                                    </div>
                                </div>


								<div id="guardarEditarEquipo" class="modal fade" role="dialog">
								  <div class="modal-dialog">

								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Mensaje Confirmación</h4>
								      </div>
								      <div class="modal-body" style="text-align:center;text-size:14px">
								        <p>¿Desea Guardar los cambios?</p>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modalEquipo">No</button>
								        <button id="btnGuardarEditarEquipo" type="button" class="btn btn-success" data-dismiss="modal">Sí</button>
								      </div>
								    </div>
								  </div>
								</div>
								<div id="solicitudesComentarios" class="modal fade" role="dialog">
  									<div class="modal-dialog">
  										<div class="modal-content">
  										<div class="modal-header">
  											<button type="button" class="close" data-dismiss="modal">&times;</button>
  											<h4 class="modal-title">Comentarios</h4>
  										</div>
  										<div class="modal-body" style="font-size:12px;height:200px;overflow-y:auto">
  											
											<div class="comment">
												<div class="media">
													<a class="pull-left" href="#">
														<img class="media-object img-circle" src="/../../media/ofertas-demandas/face3.jpg" alt="...">
													</a>
													<div class="media-body">
														<p><a href="profile.html">Username</a></p>
														<div class="thumbnail" style="margin-bottom:0px">
																	<div class="caption" style="padding-top:0px; padding-bottom:0px">
																			<div class="rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i> 
																				<i class="fa fa-star"></i> 
																			</div>
																	</div>
																		
														</div>
														<p>
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
														</p>
														<div>
															<button type="button"class="btn btn-green" >
																Aceptar
															</button>
															<button type="button" class="btn btn-default ">
																Rechazar
															</button>
														</div>
														<ul class="text-muted list-inline">
															<li><i class="fa fa-calendar"></i> 11/10/2013</li>
														</ul>
													</div>
												</div>
											</div>

											<div class="comment">
												<div class="media">
													<a class="pull-left" href="#">
														<img class="media-object img-circle" src="/../../media/ofertas-demandas/face3.jpg" alt="...">
													</a>
													<div class="media-body">
														<p><a href="profile.html">Username</a></p>
														<div class="thumbnail" style="margin-bottom:0px">
																	<div class="caption" style="padding-top:0px; padding-bottom:0px">
																			<div class="rating">
																				<i class="fa fa-star"></i> 
																				<i class="fa fa-star"></i> 
																			</div>
																	</div>
																		
														</div>
														<p>
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
														</p>
														<div>
															<button type="button"class="btn btn-green" >
																Aceptar
															</button>
															<button type="button" class="btn btn-default ">
																Rechazar
															</button>
														</div>
														<ul class="text-muted list-inline">
															<li><i class="fa fa-calendar"></i> 11/10/2013</li>
														</ul>
													</div>
												</div>
											</div>
  										</div>
  										<div class="modal-footer">	
  										</div>
  									</div>
  								</div>


                                

  							</div>
							</div>
						</div>
					</div>          
			</div>

		</div>
        <script>
        
        function editarRol($inputEditable){
            $inputEditable.prop('disabled', false);
        }

        $('#btnCancelarEditarEquipo').click(function(){
            $('input[name^=rol]').prop('disabled', true);
        });
        $('#btnGuardarEditarEquipo').click(function(){
            $('input[name^=rol]').prop('disabled', true);
        });

        function editarEstado($estadoEditable){
            $estadoEditable.prop('disabled', false);
        }

        $('#btnCancelarEditarEquipo').click(function(){
            $('input[name^=estado]').prop('disabled', true);
        });
        $('#btnGuardarEditarEquipo').click(function(){
            $('input[name^=estado]').prop('disabled', true);
        });


        </script>

</div>
{% endblock %}	    