
{% extends "oferta_inicio.html" %}

{% block sliderPagina %}MI DEMANDA{% endblock %}

{% block contenido %}
	<link href="/static/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="/static/js/star-rating.min.js" type="text/javascript"></script>
	<div class="container">
	<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;"align="left">

		<div class="col-md-7">
			<h4>{{ demanda.nombre }}</h4>
			<ul class="text-muted list-inline">
				<li><i class="fa fa-user"></i> <a href="/perfilUsuario">{{ propietario }}</a></li>
				<li><i class="fa fa-calendar"></i> {{ demanda.fecha_publicacion }}</li>
				<li><i class="fa fa-comments-o"></i> {{ comentarios_aceptados }} comentarios</li>
			</ul>
		</div>
		<div class="col-md-5" align=right>
			<a href="#" class="btn btn-dark pull-right" style="color:white;margin-bot: 0px;margin-right: 3px;" data-toggle="modal" data-target="#InactivarDemanda"><i class="fa fa-ban"></i>&nbsp;&nbsp;Inactivar</a>
			<form method="GET" action="/CrearDemandaCopia/">
				<input type="hidden" id="select_demanda" name="select_demanda" value="{{demanda.id_demanda}}" style="display: none;">
				<button type="submit" class="btn btn-warning pull-right"><i class="fa fa-files-o"></i>&nbsp;&nbsp;Duplicar&nbsp;&nbsp;</button>
			</form>
		</div>

	</div>

	<div class="col-md-12">
	<div class="col-md-8" style="padding-left: 0px;">
		<div class="blog-text">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs " role="tablist">
				<li role="presentation" class="active">
					<a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n General</a>
				</li>
				<li role="presentation">
					<a href="#cliente_usuario" aria-controls="profile" role="tab" data-toggle="tab">Cliente/Usuario</a>
				</li>
				<li role="presentation">
					<a href="#industria" aria-controls="messages" role="tab" data-toggle="tab">Industria</a>
				</li>
				<li role="presentation">
					<a href="#estado" aria-controls="settings" role="tab" data-toggle="tab">Estado</a>
				</li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content row">
				<!-- Tab INFORMACION -->
				<div role="tabpanel" class="tab-pane active" id="informacion">
					<div class="col-md-12">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="block-inverse">
								<div class="head-inverse">
									<p class="text-center"><strong class="text-muted">Galeria</strong></p>
									{% if imagen_principal == False%}
										<img class="img-responsive" src="/media/ofertas-demandas/nomedia.jpg"alt="...">
									{% else %}
										<img class=" img-responsive" src="/media/{{ imagen_principal.imagen }}" alt="...">
									{% endif %}
								</div>
								<div class="body-inverse">
									<ul class="row list-inline gallery-list-small"
										style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
										{% if imagenes_demanda == False%}
											{% for temp in "XXXX" %}
												<li class="col-xs-6">
													<a href="#">
														<img class="img-responsive" src="/media/ofertas-demandas/nomedia.jpg"
															 alt="...">
													</a>
												</li>
											{% endfor %}
										{% else %}
											{% for imagenes in imagenes_demanda %}
												<li class="col-xs-6">
													<a href="#">
														<img class="img-responsive" src="/media/{{ imagenes.imagen }}"
															 alt="...">
													</a>
												</li>
											{% endfor %}
										{% endif  %}
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8">
							<!--Descripcion-->
							<p style="color: darkgray" class="col-md-3">Descripci&oacute;n</p>
							<p>{{ demanda.descripcion  | title}} </p>

							<!--Dominio-->
							<p style="color: darkgray" class="col-md-3">Dominio</p>
							<p>{{ demanda.dominio }}</p>

							<!--Subdominio-->
							<p style="color: darkgray" class="col-md-3">Sub-dominio</p>
							<p>{{ demanda.subdominio }}</p>

							<!--Palabras Clave-->
							<p style="color: darkgray" class="col-md-3">Palabras Claves</p>

							<p class="tags">
								{% for tag in palabras_claves %}
									<a>{{ tag.palabra }}</a>
								{% endfor %}
							</p>
						</div>
					</div>
				</div>

				<!-- Tab CLIENTE USUARIO -->
				<div role="tabpanel" class="tab-pane" id="cliente_usuario">
					<div class="col-md-12">
						<!--Perfil Cliente-->
						<p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Cliente</p>
						<p class="col-md-9">
							{% if demanda.perfil_cliente != None %}
								{{ demanda.perfil_cliente }}
							{% else %}
								No disponible
							{% endif %}
						</p>
						<!--Perfil Beneficiario-->
						<p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Beneficiario</p>
						<p class="col-md-9">
							{% if demanda.perfil_beneficiario != None %}
								{{ demanda.perfil_beneficiario }}
							{% else %}
								No disponible
							{% endif %} </p>
					</div>
				</div>

				<!-- Tab Industria -->
				<div role="tabpanel" class="tab-pane" id="industria">
					<div class="col-md-12">
						<!--Importancia de Resolver la Necesidad-->
						<p style="color: darkgray" for="Descripcion" class="col-md-6">Importancia de Resolver la Necesidad</p>
						<p class="col-md-6">
							{% if demanda.importancia_resolver_necesidad != None %}
								{{ demanda.importancia_resolver_necesidad }}
							{% else %}
								No Aplica
							{% endif %}
						</p>
						<!--Alternativas de Solución Existentes-->
						<p style="color: darkgray" for="Descripcion" class="col-md-6">Alternativas de Solución Existentes</p>
						<p class="col-md-6">
							{% if demanda.alternativas_soluciones_existentes != None %}
								{{ demanda.alternativas_soluciones_existentes }}
							{% else %}
								No Aplica
							{% endif %}

						</p>
					</div>
				</div>

				<!-- Tab Estado -->
				<div role="tabpanel" class="tab-pane" id="estado">
					<div class="col-md-12">
						<p style="color: darkgray" for="Descripcion" class="col-md-6">Tiempo en que se necesita disponer de solución</p>
						<p class="col-md-6">
							{% if demanda.tiempo_para_estar_disponible != None %}
								{{ demanda.tiempo_para_estar_disponible }}
							{% else %}
								No Aplica
							{% endif %}
						</p>
						</br>
						<!--Estado del producto o servicio-->
						<p style="color: darkgray" for="Descripcion" class="col-md-6">Lugar/es donde se necesita</p>
						<p class="col-md-6">
							{% if demanda.lugar_donde_necesita != None %}
								{{ demanda.lugar_donde_necesita }}
							{% else %}
								No Aplica
							{% endif %}
						</p>
						</br>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h4>Comentarios</h4>
		<hr>
		<div align=right>
			<p><a href="#" class="btn btn-sm btn-warning" style="color:white"data-toggle="modal" data-target="#solicitudesComentarios"><span class="badge" style="background-color:white; color:#5D8731">{{ comentarios_pendientes | length }}</span>&nbsp;&nbsp;Comentarios nuevos</a></p>
			<p class="text-muted" style="font-size:11px">*Los comentarios de otros usuarios deben ser aprobados para estar visibles<p>
		</div>
		<!-- cOOOOOOOOOOOOOOOOOOOOOOMIENZAN LOS COMENTARIOS -->
		<div class="comment">
			<ul id="lista_comentarios">

			</ul>
			<!--Script para mostrar la lista de comentarios aceptados-->
			<script>
				$(document).ready(function () {
					$(function () {
						$('#lista_comentarios').ready(listaComentarios);
						function listaComentarios() {
							$.ajax({
								data: {
									'demanda':{{demanda.id_demanda}}
								},
								type: 'get',
								url: '/lista_comentarios_aceptados_demandas/',
								success: function (data) {
									$('#lista_comentarios').html(data)
								}
							});
						}
					});
				});
			</script>
		</div>
		<!-- TEEEEEEEEEEEEEEERMINANN LOS COMENTARIOS -->

	</div>

	<div class="col-md-4">
		<!-- Social Links -->
		<h4>Estado de la demanda</h4>
		<div id="msj_retro_estado"></div>
		<div class="thumbnail col-md-8"  style="margin-bottom:0px">

            <select  style="float:left;" class="form-control col-md-4"name="estado_demanda" disabled>
                {% if demanda.estado == 1 %}
                    <option value="1" selected>Activa</option>
                {% else %}
                    <option value="1" selected>Activa</option>
                {% endif %}

				{% if demanda.estado == 2 %}
					<option value="2" selected>Terminada</option>
				{% else %}
					<option value="2">Terminada</option>

                {% endif %}
                {% if demanda.estado == 3 %}
                    <option value="3" selected>Desactivada</option>
                {% else %}
                    <option value="3" selected>Desactivada</option>
                {% endif %}
            
            </select>
        </div>
        <div id="div_guardar" hidden>
            <button class="btn btn-warning col-md-3" style="float:right;" id="btn_editar_estado" > Guardar</button>
        </div>
         <div id="div_editar">
            <button class="btn btn-warning col-md-3" style="float:right;" id="btn_activar_editar"> Editar</button>
        </div>
        <br>
        <br>
        <br>
        <!-- COMIENZA  Panel del equipo -->
        <div class="panel panel-default">
            <div class="panel-heading row"
                 style="margin-right: 0px;margin-left: 0px;padding-top: 5px;padding-bottom: 0px;  padding-right: 0px;">
                <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                    <div class="col-md-12" align="left" style="padding-left: 0px;">
                        <h4 style="margin-top: 6px;">Ofertas que aplicaron a esta Demanda</h4>
                    </div>
                </div>
            </div>

			<div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
				<div class="recent-blogs">
					<div class="team">
						<hr style="margin-top: 15px;">
						<div id="equipo">
							<ul id="lista_equipo">

							</ul>
							<!--Script para mostrar el equipo de oferta-->
							<script>
								$("#lista_equipo").ready(function () {
									$(function () {
										$('#lista_equipo').ready(mostrarOfertaQueResolvio);
										function mostrarOfertaQueResolvio() {
											$.ajax({
												data: {
													'demanda':{{demanda.id_demanda}}
												},
												type: 'get',
												url: '/ofertaResuelveDemanda/',
												success: function (data) {
													$('#lista_equipo').html(data)
												}
											});
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TERMINA Panel del equipo -->
	</div>
	</div>
	</div>


	<!-- COMIENZAN Los modals que se usan en toda la pagina -->


	<!-- comienza Mooooooooooooooooodal ACEPTAR O RECHAZAR comentarios -->
	<div id="solicitudesComentarios" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Comentarios Nuevos</h4>
				</div>
				<div class="modal-body" style="font-size:12px;overflow-y:auto">
					{% if comentarios_pendientes|length == 0 %}
						<a >No hay comentarios nuevos </a>
					{% endif %}
					{%for comentario in comentarios_pendientes%}
						<div class="comment" id="Comentario">
							<div class="media">
								<a class="pull-left" href="/usuario/{{ comentario.fk_usuario }}">
									<img class="media-object img-circle" src="{{ comentario.fk_usuario.foto.url }}" alt="...">
								</a>
								<div class=" media-body">
									<p><a href="/usuario/{{ comentario.fk_usuario }}">{{ comentario.fk_usuario.first_name }} {{ comentario.fk_usuario.last_name }}</a></p>
									<p>
										{{ comentario.comentario }}
									</p>
									<ul class="text-muted list-inline">
										<li><i class="fa fa-calendar"></i> {{ comentario.fecha_comentario }} </li>
									</ul>
								</div>
								<div align=right id="">
									<a href="/aceptar_comentario_demanda/{{ comentario.id_comentario_calificacion }}" type="button" class="btn btn-green btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Aceptar</a>
									<a href="/rechazar_comentario_demanda/{{ comentario.id_comentario_calificacion }}" type="button" class="btn btn-dark btn-md btn-xs"><span class="glyphicon glyphicon-minus-sign"></span> Rechazar</a>
								</div>
							</div>
							<br>
						</div>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>
	<!-- termina Mooooooooooooooooodal ACEPTAR O RECHAZAR comentarios -->

	<!-- comienza INACTIVAAAAAAAAAAAAAAAAAAAR OFEEEEEEEEEEEEEEEEEEERTAAA-->
	<div id="InactivarOferta" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Inactivar oferta</h4>
				</div>
				<div class="modal-body" style="overflow-y:auto">
					<p>Está seguro que desea desactivar la oferta. Recuerde que este cambio no es reversible</p>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-green" data-dismiss="modal" data-toggle="modal" data-target="#guardarEditarEquipo">Aceptar</button>
					<button id="btnCancelarEditarEquipo" type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>

				</div>
			</div>
		</div>
	</div>
	<!-- termina INACTIVAAAAAAAAAAAAAAAAAAAR DEMANDA -->

	<div id="agregarMiembro" class="modal fade" role="dialog" tabindex="-1" style="width:100%">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Agregar nuevo integrante al equipo</h4>
				</div>
				<div class="modal-body"style="font-size:12px;overflow-y:auto;">
					<form id="formulario" role="form" action="/agregarParticipante/" method='POST'>
						{% csrf_token %}
						<input required autofocus type="text" class="form-control"
							   id="nuevoIntegrante" name="nuevoIntegrante"  data-placement="left" data-trigger="focus"
							   data-original-title="nuevoIntegrante" placeholder="Buscar">

						<input type="text" id="particOferta" name="particOferta" hidden>
						<input type="text" id="ofertaAdmin" name="ofertaAdmin" value="{{ oferta.id_oferta }}" hidden>
						<br/>
						<label>
							Ingrese el rol del nuevo integrante:
						</label>
						<input required type="text" class="form-control"
							   id="rolNuevoIntegrante" name="rolNuevoIntegrante"  data-placement="left"
							   data-original-title="rolNuevoIntegrante" placeholder="Ingrese un rol">
						<br/>
						<br/>
						<button type="submit" class="btn btn-green" href="/agregarParticipante/">Agregar</button>
						<button id="btnCancelarAgregarIntegrante" type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">

		$("#btn_editar_estado").on('click', function (e2){
			estado=$("[name='estado_demanda']").val();
			id_demanda="{{demanda.id_demanda}}";
			datos={
				'id_demanda': id_demanda,
				'estado':estado,
				'csrfmiddlewaretoken' :'{{ csrf_token }}'
			};
			console.log("estado demanda");
			console.log(estado);
			console.log(id_demanda);
			$.ajax({
				url: '/editarEstadoDemanda',
				type: 'POST',
				async: true,
				data: datos,
				dataType : 'text',
				success: function(data){
					if(data=="ok"){
						$("#msj_retro_estado").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> El estado de la demanda ha sido modificado exitosamente</div>');
					}else{
						$("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

					}
				},
				error: function(e){
					$("#msj_retro_estado").html('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

				}
			});
		});

        $("#btn_editar_estado").on('click', function (e2){
            estado=$("[name='estado_demanda']").val();
            id_demanda="{{demanda.id_demanda}}";
            datos={
                'id_demanda': id_demanda,
                'estado':estado,
                'csrfmiddlewaretoken' :'{{ csrf_token }}'
            };
            console.log("estado demanda");
            console.log(estado);
            console.log(id_demanda);
            $.ajax({
                url: '/editarEstadoDemanda',
                type: 'POST',
                async: true,
                data: datos,
                dataType : 'text',
                success: function(data){
                    if(data=="ok"){
                        $("#msj_retro_estado").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> El estado de la demanda ha sido modificado exitosamente</div>');
                        $("[name='estado_demanda']").prop( "disabled", true );
                        $("#div_editar").prop("hidden", false);
                         $("#div_guardar").prop("hidden", true);
                    }else{
                        $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

                    }
                },
                error: function(e){
                    $("#msj_retro_estado").html('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

                }
            });
        });

 $("#btn_activar_editar").on('click', function (e2){
            $("[name='estado_demanda']").prop( "disabled", false );
            $("#div_editar").prop("hidden", true);
             $("#div_guardar").prop("hidden", false);
       
});
    </script>

{% endblock %}	    
