
{% extends "oferta_inicio.html" %}

{% block sliderPagina %}BORRADOR DE OFERTA {% endblock %}
{% block contenido %}
    <div class="container">
    <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-6 col-xs-6" align="left" style="padding-left: 0px;">
            <h4>{{ oferta.nombre }}</h4>
            <ul class="text-muted list-inline">
                <li><i class="fa fa-user"></i> <a href="/perfilUsuario">{{ dueno }}</a></li>
                <li><i class="fa fa-calendar"></i> {{ oferta.fecha_publicacion }}</li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-6" align="right" style="padding-top: 15px;padding-right: 0px;">
            <a href="/EditarBorrador/{{oferta.id_oferta}}" class="btn btn-green">
                <i class="fa fa-pencil"></i>
                Editar
            </a>
            <a href="#" class="btn btn-green" data-toggle="modal" data-target="#aceptarPublicar">
                <i class="fa fa-globe"></i>
                Publicar
            </a>
            <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#aceptarEliminar">
                <i class="fa fa-trash-o"></i>
                Eliminar
            </a>
            <p class="text-muted" style="font-size:11px"><br>*Esta oferta no se encuentra publicada en la red</p><p>
        </p></div>
    </div>
    <div id="aceptarPublicar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <p>Una vez publicada una oferta, &eacute;sta no podr&aacute; ser modificada.</p>
                    <p>¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a href="/publicarBorrador/{{ oferta.id_oferta }}" type="button" class="btn btn-green">Aceptar</a>
                </div>
            </div>

        </div>
    </div>

    <div id="aceptarEliminar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <p>Una vez eliminada un borrador de una oferta, &eacute;ste no se podr&aacute; recuperar.</p>
                    <p>¿Desea eliminarlo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a href="/eliminarBorrador/{{ oferta.id_oferta }}" type="button" class="btn btn-green">Aceptar</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-8" style="padding-left: 0px;">
            <div class="blog-text">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active">
                        <a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n General</a>
                    </li>
                    <li role="presentation">
                        <a href="#cliente_usuario" aria-controls="profile" role="tab" data-toggle="tab">Cliente/Usuario</a>
                    </li>
                    <li role="presentation">
                        <a href="#modelo" aria-controls="messages" role="tab" data-toggle="tab">Modelo de Negocio</a>
                    </li>
                    <li role="presentation">
                        <a href="#industria" aria-controls="settings" role="tab" data-toggle="tab">Competidores</a>
                    </li>
                    <li role="presentation">
                        <a href="#esta_logro" aria-controls="messages" role="tab" data-toggle="tab">Logros</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content row">
                    <div role="tabpanel" class="tab-pane active" id="informacion">
                        <div class="col-md-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="block-inverse">
                                    <div class="head-inverse">
                                        <p class="text-center"><strong class="text-muted">Galeria</strong></p>
                                        <img class=" img-responsive" src="/../../media/ofertas-demandas/works3.jpg" alt="...">
                                    </div>
                                    <div class="body-inverse">
                                        <ul class="row list-inline gallery-list-small" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
                                            <li class="col-xs-6">
                                                <a href="#">
                                                    <img class="img-responsive" src="/../../media/ofertas-demandas/works1.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="col-xs-6">
                                                <a href="#">
                                                    <img class="img-responsive" src="/../../media/ofertas-demandas/works2.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="col-xs-6">
                                                <a href="#">
                                                    <img class="img-responsive" src="/../../media/ofertas-demandas/works4.jpg" alt="...">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <!--Tipo-->
                                <p style="color: darkgray" for="Tipo" class="col-md-3">Tipo</p>
                                <p>{{ oferta.tipo }}</label>
                                    <!--Descripcion-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Descripci&oacute;n</p>
                                <p>{{ oferta.descripcion }} </p>
                                <!--Dominio-->
                                <p style="color: darkgray" for="Nombres" class="col-md-3">Dominio</p>
                                <p>{{ oferta.dominio }}</label>
                                    <!--Subdominio-->
                                <p style="color: darkgray" for="Nombres" class="col-md-3">Sub-dominio</p>
                                <p>{{ oferta.subdominio }}</label>
                                    <!--Palabras Clave-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Palabras Claves</p>
                                <p class="tags">
                                    {% for tag in palabras %}
                                    <a>{{ tag.palabra }}</a>    
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cliente_usuario">
                        <div class="col-md-12">
                            <!--Perfil Cliente-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Cliente</p>
                            <p class="col-md-9">{{ oferta.perfil_cliente }} </p>
                            <!--Perfil Beneficiario-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Beneficiario</p>
                            <p class="col-md-9">{{ oferta.perfil_beneficiario }} </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="modelo">
                        <div class="col-md-12">
                            <!--Canvas del modelo de negocio-->
                            <h3 style="text-align:center" class="h4">  Canvas del Modelo de negocios</h3>
                            <hr>

                            <div class="col-md-12 table-responsive" style="font-size: 12px;">
                                <table class="table table-bordered" >
                                    <tr>
                                        <th>Socios clave</th>
                                        <th>Actividades clave</th>
                                        <th>Propuestas de valor</th>
                                        <th>Relaciones con los clientes</th>
                                        <th>Segementos de clientes</th>
                                    </tr>
                                    <tr>
                                        <td rowspan=3>{{ oferta.fk_diagrama_canvas.asociaciones_clave }} </td>
                                        <td>{{ oferta.fk_diagrama_canvas.actividades_clave }} </td>
                                        <td rowspan=3>{{ oferta.fk_diagrama_canvas.propuesta_valor }} </td>
                                        <td>{{ oferta.fk_diagrama_canvas.relacion_clientes }} </td>
                                        <td rowspan=3>{{ oferta.fk_diagrama_canvas.segmento_mercado }} </td>
                                    </tr>
                                    <tr>
                                        <th>Recursos Claves</th>
                                        <th>Canales</th>
                                    </tr>
                                    <tr>
                                        <td>{{ oferta.fk_diagrama_canvas.recursos_clave }} </td>
                                        <td>{{ oferta.fk_diagrama_canvas.canales_distribucion }} </td>
                                    </tr>
                                    <tr>
                                        <th colspan=3>Estructura de Costos</th>
                                        <th colspan=2>Fuentes de Ingresos</th>
                                    </tr>
                                    <tr>
                                        <td colspan=3>{{ oferta.fk_diagrama_canvas.estructura_costos }}</td>
                                        <td colspan=2>{{ oferta.fk_diagrama_canvas.fuente_ingresos }} </td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="industria">
                        <div class="col-md-12">
                            <!--Tendencias-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Tendencias Relevantes</p>
                            <br>
                            <p class="col-md-12">{{ oferta.cuadro_tendencias_relevantes }} </p>
                            <!--Alternativas de solucion-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Alternativas de Soluci&oacute;n Existentes</p>
                            <br>
                            <p class="col-md-12">{{ oferta.descripcion_soluciones_existentes }} </p>
                            <!--Diagrama de Porter-->

                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Diagrama de Porter</p>

                            <div class="col-md-12 table-responsive" style="font-size: 12px;">
                                <table class="table table-bordered" >
                                    <tr>
                                        <th>Competidores</th>
                                        <th>Poder de consumidores</th>
                                        <th>Sustitutos</th>
                                        <th>Poder de proveedores</th>
                                        <th>Nuevos entrantes</th>
                                    </tr>
                                    <tr>
                                        <td>{{ oferta.fk_diagrama_competidores.competidores }} </td>
                                        <td>{{ oferta.fk_diagrama_competidores.consumidores }} </td>
                                        <td>{{ oferta.fk_diagrama_competidores.sustitutos }} </td>
                                        <td>{{ oferta.fk_diagrama_competidores.proveedores }} </td>
                                        <td>{{ oferta.fk_diagrama_competidores.nuevosMiembros }}</td>
                                    </tr>
                                </table>
                            </div>

                            <br><br>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="esta_logro">
                        <div class="col-md-12">
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Tiempo aproximado de disponilidad del producto o servicio</p>
                            <p>{{ oferta.tiempo_para_estar_disponible }}</p>

                            <br>
                            <!--Estado del producto o servicio-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Estado del producto o servicio</p>
                            <p class="col-md-12">No Hay </p>
                            <!--Estrategia de crecimiento-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Estrategia de crecimiento</p>
                            <br>
                            <p class="col-md-12">No Hay </p>
                            <!--Estado de propiedad Intelectual-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Estado de propiedad Intelectual</p>
                            <br>
                            <p class="col-md-12">{{ oferta.estado_propieada_intelectual }} </p>
                            <!--Evidencia de Traccion-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Evidencia de Tracci&oacute;n</p>
                            <br>
                            <p class="col-md-12">{{ oferta.evidencia_traccion }} </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

    </div>
    </div>




    </div>

{% endblock %}      
