
{% extends "oferta_inicio.html" %}

{% block sliderPagina %}BORRADOR DE DEMANDA {% endblock %}
{% block contenido %}
    <div class="container">
    <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-6 col-xs-6" align="left" style="padding-left: 0px;">
            <h4>{{ demanda.nombre }}</h4>
            <ul class="text-muted list-inline">
                <li><i class="fa fa-user"></i> <a href="/perfilUsuario">{{ dueno }}</a></li>
                <li><i class="fa fa-calendar"></i> {{ demanda.fecha_creacion }}</li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-6" align="right" style="padding-top: 15px;padding-right: 0px;">
            <a href="/EditarBorrador/{{demanda.codigo}}" class="btn btn-green">
                <i class="fa fa-pencil"></i>
                Editar
            </a>
            <a href="#" class="btn btn-green" data-toggle="modal" data-target="#aceptarPublicar">
                <i class="fa fa-globe"></i>
                Publicar
            </a>
            <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#aceptarEliminar">
                <i class="fa fa-trash-o"></i>
                Eliminar
            </a>
            <p class="text-muted" style="font-size:11px"><br>*Esta demanda no se encuentra publicada en la red</p><p>
        </p></div>
    </div>
    <div id="aceptarPublicar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <p>Una vez publicada una demanda, &eacute;sta no podr&aacute; ser modificada.</p>
                    <p>¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a href="/publicarBorrador/{{ demanda.id_demanda }}" type="button" class="btn btn-green">Aceptar</a>
                </div>
            </div>

        </div>
    </div>

    <div id="aceptarEliminar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <p>Una vez eliminada un borrador de una demanda, &eacute;ste no se podr&aacute; recuperar.</p>
                    <p>¿Desea eliminarlo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a href="/EliminarBorradorDemanda/{{ demanda.id_demanda }}" type="button" class="btn btn-green">Aceptar</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-8" style="padding-left: 0px;">
            <div class="blog-text">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active">
                        <a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n General</a>
                    </li>
                    <li role="presentation">
                        <a href="#cliente_usuario" aria-controls="profile" role="tab" data-toggle="tab">Cliente/Usuario</a>
                    </li>
                    <li role="presentation">
                        <a href="#industria" aria-controls="settings" role="tab" data-toggle="tab">Industria</a>
                    </li>
                    <li role="presentation">
                        <a href="#esta_logro" aria-controls="messages" role="tab" data-toggle="tab">Estado</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content row">
                    <div role="tabpanel" class="tab-pane active" id="informacion">
                        <div class="col-md-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="block-inverse">
                                    <div class="head-inverse">
                                        <p class="text-center"><strong class="text-muted">Galeria</strong></p>
                                        <img class=" img-responsive" src="../../media/{{ imagen_principal.imagen }}" alt="Imagen Principal">
                                    </div>
                                    <div class="body-inverse">
                                        <ul class="row list-inline gallery-list-small" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
                                            {% for imagen in galeria %}
                                            <li class="col-xs-6">                                            
                                                <a href="#">
                                                    <img class="img-responsive" src="../../media/{{ imagen.imagen }}" alt="...">
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                
                                <!--Descripcion-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Descripci&oacute;n</p>
                                <p>{{ demanda.descripcion }} </p>
                                <!--Dominio-->
                                <p style="color: darkgray" for="Nombres" class="col-md-3">Dominio</p>
                                <p>{{ demanda.dominio }}</label>
                                    <!--Subdominio-->
                                <p style="color: darkgray" for="Nombres" class="col-md-3">Sub-dominio</p>
                                <p>{{ demanda.subdominio }}</label>
                                    <!--Palabras Clave-->
                                <p  style="color: darkgray" for="Nombres" class="col-md-3">Palabras Claves</p>
                                <p class="tags">
                                    {% for tag in palabras %}
                                    <a>{{ tag.palabra }}</a>    
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cliente_usuario">
                        <div class="col-md-12">
                            <!--Perfil Cliente-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Cliente</p>
                            <p class="col-md-9">
                            {% if demanda.perfil_cliente != None %}
                            {{ demanda.perfil_cliente }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                            <!--Perfil Beneficiario-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-3">Perfil del Beneficiario</p>
                            <p class="col-md-9">
                            {% if demanda.perfil_beneficiario != None %}
                            {{ demanda.perfil_beneficiario }} 
                            {% else %}
                            No disponible
                            {% endif %} </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="industria">
                        <div class="col-md-12">
                            <!--Tendencias-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Importancia de resolver la necesidad</p>
                            <br>
                            <p class="col-md-12">
                            {% if demanda.importancia_resolver_necesidad != None %}
                            {{ demanda.importancia_resolver_necesidad }} 
                            {% else %}
                            No disponible
                            {% endif %} </p>
                            <!--Alternativas de solucion-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-5">Alternativas de Soluci&oacute;n Existentes</p>
                            <br>
                            <p class="col-md-12">
                            {% if demanda.alternativas_soluciones_existentes != None %}
                            {{ demanda.alternativas_soluciones_existentes }} 
                            {% else %}
                            No disponible
                            {% endif %} 
                            </p>
                            <br>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="esta_logro">
                        <div class="col-md-12">
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Tiempo aproximado de disponilidad del producto o servicio</p>
                            <p>
                            {% if demanda.tiempo_para_estar_disponible != None %}
                            {{ demanda.tiempo_para_estar_disponible }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                            <br>
                            <!--Estado de propiedad Intelectual-->
                            <p style="color: darkgray" for="Descripcion" class="col-md-6">Lugar donde se la necesita</p>
                            <br>
                            <p class="col-md-12">
                            {% if demanda.lugar_donde_necesita != None %}
                            {{ demanda.lugar_donde_necesita }} 
                            {% else %}
                            No disponible
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

    </div>
    </div>




    </div>

{% endblock %}      
