{% for comentario in listaComentarios %}
    {% if comentario.estado_comentario == 1 %}
        <div class="media">
            <a class="pull-left" href="/usuario/{{ comentario.fk_usuario }}">
                <img class="media-object img-circle" src="{{ comentario.fk_usuario.foto.url }}" alt="...">
            </a>
            <div class="media-body">
                <p><a href="/usuario/{{ comentario.fk_usuario }}">{{ comentario.fk_usuario.first_name }} {{ comentario.fk_usuario.last_name }}</a></p>
                <div class="thumbnail" style="margin-bottom:0px">
                    <div class="caption" style="padding-top:0px; padding-bottom:0px">
                        <div class="rating">
                        {% if comentario.calificacion >= 1 %}<i class="fa fa-star"></i>{% endif %}  
                        {% if comentario.calificacion >= 2 %}<i class="fa fa-star"></i>{% endif %}
                        {% if comentario.calificacion >= 3 %}<i class="fa fa-star"></i>{% endif %}
                        {% if comentario.calificacion >= 4 %}<i class="fa fa-star"></i>{% endif %}
                        {% if comentario.calificacion >= 5 %}<i class="fa fa-star"></i>{% endif %}
                        </div>
                    </div>
                </div>
                <p>
                    {{ comentario.comentario }}
                </p>
                <ul class="text-muted list-inline">
                    <li><i class="fa fa-calendar"></i> {{ comentario.fecha_comentario }} </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}
