<div class="col-md-12">
    <!--NOMBRES-->

    <div class="form-group">
        <label for="Nombres" class="col-md-2">Nombre</label>

        <div class="col-md-6">

            <input autofocus type="text" class="form-control" placeholder="Nombre de la Oferta"
                   id="nombre" name="nombre_oferta"  data-trigger="focus"
                   ng-model="oferta.nombre" ng-pattern="/^[a-zA-Z ]{10,300}$/"  ng-required="true" ng-blur="validarSubmit(forms.crear_oferta_form1)">
            <span ng-show="forms.crear_oferta_form1.nombre_oferta.$error.pattern"><p class="bg-danger text-danger">Nombre de la Oferta debe contener por lo menos 10 caracteres alfab&eacute;ticos</p></span>
            <span ng-show="forms.crear_oferta_form1.nombre_oferta.$error.required" ng-if="!forms.crear_oferta_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>
    </div>
    <!--Tipo-->
    <div class="form-group">
        <label for="Tipo" class="col-md-2">Tipo</label>

        <div class="col-xs-3">
            <select name="select_tipo" class="form-control" ng-options="i.valor as i.tipo for i in items_tipo" ng-model="oferta.tipo" ng-required="true" name="select_tipo_oferta" ng-blur="validarSubmit(forms.crear_oferta_form1)">
                <option value="">Seleccione tipo de oferta</option>
            </select>
            <span ng-show="forms.crear_oferta_form1.select_tipo.$error.required" ng-if="!forms.crear_oferta_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>
        </div>


    </div>
    <!--Descripicion-->
    <div class="form-group">
        <label for="descripcion-oferta" class="col-md-2">Descripci&oacute;n</label>
        <div class="col-md-6">

            <textarea id="descripcion_oferta" name="descripcion_oferta" rows="4" class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n de la oferta"
                      ng-model="oferta.descripcion" ng-required="true" ng-blur="validarSubmit(forms.crear_oferta_form1)" ng-init="value='Probando'"></textarea>
            <span ng-show="forms.crear_oferta_form1.descripcion_oferta.$error.required" ng-if="!forms.crear_oferta_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>


        </div>
    </div>
    <!--Imagenes-->

    <div class="form-group">
        <label class="col-md-2">Im&aacute;genes</label>
        <div class="col-md-8">

<div flow-init="{target:'/api/ofertas/'+oferta_id+'/subir_imagen/',testChunks:false,headers:setHead }" 
                flow-name="imagen.flow">
                <div class="col-md-12 col-sm-12" style="left:-18px;">
                    <span class="btn btn-default btn-file" flow-btn style="margin:2px;">Cargar Im&aacute;genes</span>
                </div>

                <div class="alert col-md-9 col-sm-9 panel-footer" flow-drop flow-drag-enter="style={border:'4px dashed blue'}" flow-drag-leave="style={border:'3px dashed #C0C0C0'}" ng-style="style" style="border:3px dashed #C0C0C0;">
                    <p class="text-muted"><b>O</b> arrastra tus im&aacute;genes aqu&iacute;</p>
                </div>
                <div class="row list-inline gallery-list col-md-10 col-sm-10" id="isotope-container">

                    <div class="col-sm-4 col-md-4 isotope-item" ng-repeat="file in $flow.files" style="margin:5px;">
                        <div class="gallery__item">
                            <div class="gallery-thumbnail thumbnail">
                                <button id="info_crear_close" type="button" class="close pull-right" ng-click="file.cancel();" aria-label="Close" style="position:relative;right:-35px;"><span aria-hidden="true">&times;</span></button>
                                <img flow-img="file" style="max-height: 140px; max-width: 150px;">
                            </div>
                            <div class="gallery-text" style="word-wrap:break-word;">
                                [[file.name]]
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--
            <div flow-init flow-name="imagen.flow">
              <span class="btn btn-default btn-file" flow-btn>Cargar Archivo</span>

              <table>
                <tr ng-repeat="file in $flow.files">
                    <td>
                        <div class="thumbnail"><img flow-img="file"/>[[file.name]]</div>
                        [[$index+1]]</div>
                    </td>
                </tr>
              </table>
            </div>
            -->
        </div>
    </div>


    <!--Dominio-->
    <div class="form-group">
        <label for="oferta-dominio" class="col-md-2">Dominio</label>
        <div class="col-md-6">

            <textarea type="text" class="form-control" id="oferta_dominio" name="oferta_dominio"
                      placeholder="Ingresa el dominio de la oferta" rows="5"
                      ng-model="oferta.dominio" ng-required="true" ng-blur="validarSubmit(forms.crear_oferta_form1)"></textarea>
            <span ng-show="forms.crear_oferta_form1.oferta_dominio.$error.required" ng-if="!forms.crear_oferta_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>


        </div>
    </div>
    <!--Sub dominio-->
    <div class="form-group">
        <label for="oferta_sub_dominio" class="col-md-2">Sub Dominio</label>
        <div class="col-md-6">

            <textarea type="text" class="form-control" id="oferta_sub_dominio" name="oferta_sub_dominio" placeholder="Ingresa el subdominio de la oferta" rows="5"
                      ng-model="oferta.subdominio" ng-required="true" ng-blur="validarSubmit(forms.crear_oferta_form1)"></textarea>
            <span ng-show="forms.crear_oferta_form1.oferta_sub_dominio.$error.required" ng-if="!forms.crear_oferta_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>

        </div>
    </div>
    <!--Palabras Clave-->
    <div class="form-group">
        <label for="oferta_palabras_clave" class="col-md-2">Palabras Claves</label>
        <div class="col-md-6">

            <tags-input class="tags" name="oferta_tags" ng-model="oferta.tags" placeholder="Agrege palabras claves"></tags-input>
            <!--<span ng-show="crear_oferta_form1.oferta_palabras_clave.$error.required" ng-if="!crear_oferta_form1.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>-->

        </div>
    </div>

    <div class="col-md-8">
        <a href="#cliente_usuario"  aria-controls="messages" role="tab" data-toggle="tab">
            <input type="button" class="btn btn-info pull-right" value="Siguiente">
        </a>
    </div>

</div>
