{% comment %}
        Autor: Fausto Mora 
        Nombre del Archivo: crear_oferta_form2.html
        Descripción: html del formulario cliente/usuario de crear oferta
{% endcomment %}

<div class="col-md-12">
    <!--Perfil Cliente-->

    <div class="form-group">
        <label for="oferta_descripcion_perfil" class="col-md-2">Perfil Cliente</label>
        <div class="col-md-6">

            <textarea autofocus id="oferta_descripcion_perfil" name="oferta_descripcion_perfil" rows="4"  class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n del perfil"
                      ng-model="oferta.perfil_cliente"  ng-required="false"
                    ></textarea>

        </div>
    </div>

    <!--Perfil Cliente-->
    <div class="form-group">
        <label for="oferta_beneficiario_perfil" class="col-md-2">Perfil del Beneficiario</label>
        <div class="col-md-6">

            <textarea autofocus id="oferta_beneficiario_perfil" name="oferta_beneficiario_perfil" rows="4"  class="form-control" placeholder="Escribe aqu&iacute; el perfil del beneficiario"
                      ng-model="oferta.perfil_beneficiario"  ng-required="false"
                    ></textarea>

        </div>
    </div>

    <div class="col-md-8">
        <br>

        <a href="#modelo"  aria-controls="messages" role="tab" data-toggle="tab">
            <input type="button" class="btn btn-info pull-right" value="Siguiente">
        </a>

        <a href="#informacion" aria-controls="messages" role="tab" data-toggle="tab" style="margin-right:15px;margin-left:15px;">
            <input type="button" class="btn btn-default pull-right" value="Atr&aacute;s" style="margin-right:15px;margin-left:15px;">
        </a>
    </div>

</div>