{% extends "oferta_inicio.html" %}

{% block contenido %}
<link rel="stylesheet" href='/static/css/demo.css'>

<div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>CREAR OFERTA </span></h1>
                </div>
            </div>
        </div>
</div>
<div class="container">

    <div class="row">
        <div class=" col-md-12">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n General</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
          </ul>

          <!-- Tab panes -->
          <form  class="form-horizontal col-md-12">
          <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="informacion">
                 
                 <!--NOMBRES-->
                 <div class="form-group">
                     <label for="Nombres" class="col-md-2">Nombres</label>
                     <div class="col-md-6">
                         <input required autofocus type="text" class="form-control" onkeypress="return validarLetras(event);"
                             id="nombre" name="nombres" data-toggle="popover" data-placement="left" data-trigger="focus"
                             data-content="Ingresa tu nombre aquí." data-original-title="Nombre"
                             >
                     </div>
                 </div>
                 
                 <!--Tipo-->
                 <div class="form-group">
                     <label for="Tipo" class="col-md-2">Tipo</label>
                     <div class="col-md-8">
                        <input type="checkbox" name="tecnologia" value="tecnologia">Tecnolog&iacute;a<br>
                        <input type="checkbox" name="prototipo" value="prototipo">Prototipo<br> 
                        <input type="checkbox" name="emprendimiento" value="emprendimiento">Emprendimiento
                     </div>
                 </div>
                
                 <!--Descripicion-->
                 <div class="form-group">
                     <label for="Descripcion" class="col-md-2">Descripci&oacute;n</label>
                     <div class="col-md-6">
                         <textarea required autofocus name="Descripcion" rows="9"  class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n de la oferta"></textarea>
                     </div>
                 </div>

                <!--Fotos-->
                <div class="form-group">
                    <label class="col-md-2">Fotos</label>
                    <div class="col-md-6">
                        <input name="imagen" type="file" id="files">
                        <div id="id1" style="float:left" class="thumbnail">
                            <div id="list" class="avatar">
                                <a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar">
                                <img src="#" alt="...">
                                </a>
                            </div>
                        </div>
                     </div>
                </div>

                 <!--Dominio-->
                 <div class="form-group">
                     <label for="Nombres" class="col-md-2">Dominio</label>
                     <div class="col-md-6">
                         <input required autofocus type="text" class="form-control"
                             id="dominio" name="dominio" data-toggle="popover" data-placement="left" data-trigger="focus"
                             data-content="Ingresa tu descripcion aquí." data-original-title="dominio"
                             >
                     </div>
                 </div>  

                 <!--Sub dominio-->
                 <div class="form-group">
                     <label for="Nombres" class="col-md-2">Sub Dominio</label>
                     <div class="col-md-6">
                         <input required autofocus type="text" class="form-control"
                             id="sub_dominio" name="sub_dominio" data-toggle="popover" data-placement="left" data-trigger="focus"
                             data-content="Ingresa tu descripcion aquí." data-original-title="subdominio"
                             >
                     </div>
                 </div>

                 <!--Palabras Clave-->
                 <div class="form-group">
                     <label for="Nombres" class="col-md-2">Palabras Claves</label>
                     <div class="col-md-6">
                         <input required autofocus type="text" class="form-control"
                             id="sub_dominio" name="palabras_clave" data-toggle="popover" data-placement="left" data-trigger="focus"
                             data-content="Ingresa tu descripcion aquí." data-original-title="palabraclaveS"
                             >
                     </div>
                 </div>

                 <!--grupo de palabras clave-->
                  <div class="form-group">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
                 </div>

              </div>
          <div role="tabpanel" class="tab-pane" id="profile">...</div>
          <div role="tabpanel" class="tab-pane" id="messages">...</div>
          <div role="tabpanel" class="tab-pane" id="settings">...</div>
          </div>
          </form>
        </div>
    </div>
</div>
{% endblock%}