{% for equipo in listaEquipo %}
    <div class="member-left" style="margin-bottom: 0px;">
        <img src="{{ equipo.fk_participante.foto.url }}" alt="Team Member" class="left" style="
            margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
        <a href="/usuario/{{ equipo.fk_participante }}"><h4 style="font-size: 14px;">{{ equipo.fk_participante.username }}</h4></a>
        <p class="position" style="margin-bottom: 4px;">
            Estado&nbsp;:&nbsp;&nbsp;<span style="color:black;font-size: 12px;">ACTIVO</span>
        </p>
        <p class="position">Rol&nbsp;:&nbsp;&nbsp;<span style="color:black">{{ equipo.rol_participante }}</span></p>
    </div>
{% empty %}
    <!-- PRIMER MIEMBRO DEL EQUIPO-->
    <div class="member-left" style="margin-bottom: 0px;">
        <img src="/../../media/ofertas-demandas/face1.jpg" alt="Team Member" class="left" style="
            margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
        <a href="#"><h4 style="font-size: 14px;">Alex Smith</h4></a>
        <p class="position" style="margin-bottom: 4px;">
            Estado&nbsp;:&nbsp;&nbsp;<span style="color:black;font-size: 12px;">ACTIVO</span>
        </p>
        <p class="position">Rol&nbsp;:&nbsp;&nbsp;<span style="color:black">Dueño</span></p>
    </div>

    <!-- SEGUNDO MIEMBRO DEL EQUIPO-->
    <div class="member-left" style="margin-bottom: 0px;">
        <img src="/../../media/ofertas-demandas/face2.jpg" alt="Team Member" class="left" style="
            margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
        <a href="#"><h4 style="font-size: 14px;">Alex Smith</h4></a>
        <p class="position" style="margin-bottom: 4px;">Estado&nbsp;:&nbsp;&nbsp;
            <span style="color:black;font-size: 12px;">ACTIVO</span>
        </p>
        <p class="position">Rol&nbsp;:&nbsp;&nbsp;<span style="color:black">Diseñador</span></p>
    </div>

{% endfor %}

