{% for equipo in listaEquipo %}
    {% if equipo.estado_membresia == 1 %}
        <div class="member-left" style="margin-bottom: 0px;">
            <img src="{{ equipo.fk_participante.foto.url }}" alt="Team Member" class="left" style="
                margin-right: 40px; margin-left: 40px; width: 75px;height: 75px;">
            <a href="/usuario/{{ equipo.fk_participante }}"><h4 style="font-size: 14px;">{{ equipo.fk_participante.username }}</h4></a>
            <p class="position" style="margin-bottom: 4px;">
                {% if equipo.activo == 1 %}
                    Estado&nbsp;:&nbsp;&nbsp;<span style="color:black;font-size: 12px;">ACTIVO</span>
                {% else %}
                    Estado&nbsp;:&nbsp;&nbsp;<span style="color:black;font-size: 12px;">INACTIVO</span>
                {% endif %}
            </p>
            <p class="position">Rol&nbsp;:&nbsp;&nbsp;<span style="color:black">{{ equipo.rol_participante }}</span></p>
        </div>
    {% endif %}
{% empty %}
    <!-- PRIMER MIEMBRO DEL EQUIPO-->
    <div class="member-left" style="margin-bottom: 0px;">
        <p class="position">No existen participantes en esta oferta</p>
    </div>


{% endfor %}

