
{% extends "base.tpl.html" %}


{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html'%}
    {% endblock %}

    {% block raiz %}
        <a class="navbar-brand link" href="/inicioUsuario/">REI-NET</a>
    {% endblock %}

    {% block inicio %}
        <a href="/inicioUsuario/">Inicio </a>
    {% endblock %}

    {% block ofertas %}
        <a href="/InicioOferta/">OFERTA </a>
    {% endblock %}
{% endif %}



{% block contenido %}
<link rel="stylesheet" href='/static/css/demo.css'>

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}



    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>OFERTAS DE LA RED</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">


    <!-- Editar Perfil Usuario-->
    <div class=" col-xs-6 col-sm-8 col-md-12">
    <div class="row">
    <div class="signup col-md-12">

        <div class="col-md-9">
                <br>
        </div>

        <!--DIV DE BUSCAR OFERTA Y CREAR OFERTA-->
        <div class="row">
            <div class="col-md-offset-2 col-md-6">
                <input type="text" class="form-control" placeholder="Buscar ofertas,  por fechas, por palabras claves"/>
            </div>
        
            <div class="col-md-2">
                <!-- <a href="/CrearOferta/"> -->
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"> Crear oferta </button>



                      <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Crear Oferta</h4>
                            </div>
                            <div class="modal-body">
                              <div class="radio">
                                  <label><input type="radio" id="Nueva" ALIGN=center name="optradio">Nueva</label>
                               </div>

                               <div class="radio">
                                  <label><input type="radio" id="Existente" name="optradio">De Existente</label><BR>
                                   <select name="OS">
                                       <option value="1">Oferta1</option>
                                       <option value="2">Oferta2</option>
                                       <option value="3">Oferta3</option>
                                       <option value="4">Oferta4</option>

                                    </select>
                               </div>
                            </div>
                            <div class="modal-footer">

                                <a id="ref" href="">
                                    <button id="bt1" type="button" class="btn btn-default" onclick="myFunction()"> OK </button>
                                </a>

                                <script>
                                    function myFunction() {
                                        elem=document.getElementsByName("optradio")
                                         for(i=0;i<elem.length;i++){

                                             if (elem[i].checked) {
                                                if(elem[i].id=="Nueva"){

                                                  document.getElementById("ref").onclick(location.href="/CrearOferta/");
                                                  return;

                                                }
                                                if(elem[i].id=="Existente"){
                                                    document.getElementById("ref").onclick(location.href="/OfertaEditable/");
                                                    return;
                                                }

                                             }

                                         }
                                    }
                                    </script>

                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>



                            </div>
                          </div>

                        </div>
                      </div>


<!-- Modal -->
               <!-- </a>-->
            </div>
        </div>
        </div>
        </div>

        <div class="col-md-9">
                <br>
        </div>

        <div class="container">

            <div class="row">
                <div class=" col-md-12">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#ofertasPublicadas" aria-controls="home" role="tab" data-toggle="tab">OFERTAS PUBLICADAS</a></li>
                    <li role="presentation"><a href="#borradorOferta" aria-controls="borradorOferta" role="tab" data-toggle="tab">BORRADORES DE OFERTAS</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content col-md-12">
                    <div role="tabpanel" class="tab-pane active" id="ofertasPublicadas">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <a href="/administrarOferta/"><h4 align="center" style="font-size: 15px color:#141998">Nombre de la Oferta</h4></a>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Publicaci&oacute;n<br>Numero de Miembros<br>Numero de comentarios</p>

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Publicaci&oacute;n<br>Numero de Miembros<br>Numero de comentarios</p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Publicaci&oacute;n<br>Numero de Miembros<br>Numero de comentarios</p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Publicaci&oacute;n<br>Numero de Miembros<br>Numero de comentarios</p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Publicaci&oacute;n<br>Numero de Miembros<br>Numero de comentarios</p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Publicaci&oacute;n<br>Numero de Miembros<br>Numero de comentarios</p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <!-- PAGINACION DE OFERTA PUBLICADAS
                        -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if msjs.has_previous %}
                                <a class="btn btn-green" href="?page={{ msjs.previous_page_number }}">Anterior</a>
                            {% endif %}

                            <span class="current">
                                Página {{ msjs.number }} de {{ msjs.paginator.num_pages }}.
                            </span>

                            {% if msjs.has_next %}
                                <a class="btn btn-green" href="?page={{ msjs.next_page_number }}">Siguiente</a>
                            {% endif %}
                            </span>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="borradorOferta">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Creaci&oacute;n<br></p>

                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="user-menu bottom-15">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="sign fa fa-edit bg-blue"></i> 
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="user-menu bottom-15">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="sign fa fa-remove bg-red"></i> 
                                                            </a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Creaci&oacute;n<br></p>

                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="user-menu bottom-15">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="sign fa fa-edit bg-blue"></i> 
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="user-menu bottom-15">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="sign fa fa-remove bg-red"></i> 
                                                            </a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <figure>
                                        <div class="thumbnail col-md-4">
                                            <div class="avatar">
                                                <a href="#" class="thumbnail bottom-12" data-toggle="modal" data-target="#upload-avatar">
                                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container col-md-8">
                                            <h4 align="center" style="font-size: 15px;color: #BB1837">Nombre de la Oferta</h4>
                                            <p align="center" style="font-size: 13px">Tipo de Oferta<br>Fecha Creaci&oacute;n<br></p>

                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="user-menu bottom-15">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="sign fa fa-edit bg-blue"></i> 
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="user-menu bottom-15">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="sign fa fa-remove bg-red"></i> 
                                                            </a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>

                     <!-- PAGINACION DE BORRADOR DE OFERTA 
                        -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if msjs.has_previous %}
                                <a class="btn btn-green" href="?page={{ msjs.previous_page_number }}">Anterior</a>
                            {% endif %}

                            <span class="current">
                                Página {{ msjs.number }} de {{ msjs.paginator.num_pages }}.
                            </span>

                            {% if msjs.has_next %}
                                <a class="btn btn-green" href="?page={{ msjs.next_page_number }}">Siguiente</a>
                            {% endif %}
                            </span>
                        </div>
                    </div>

                  </div>

                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
   
  
{% endblock %}



