{% extends "oferta_inicio.html" %}


{% block contenido %}
<link rel="stylesheet" href='/static/css/demo.css'>

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}
<style>
 .section-header h1 span {
    border-bottom: 5px solid green;
    padding-bottom: 10px;
 }
 .rating {
    unicode-bidi: bidi-override;
    text-align: center;
    font-size: 20px;
    color: gold;
 }

 .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    / / content : "\2606";
 }
</style>


    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>OFERTA</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">


    <!-- Editar Perfil Usuario-->
    <div class=" col-xs-6 col-sm-8 col-md-12">

        <div class="container">
            <div class="row">
                <div class=" col-md-8">
                    <div class="row">
                    <figure>
                        <div class="thumbnail col-md-3">
                            <div class="avatar">
                                <span class="thumbnail bottom-12">
                                    <!--NSERTAR FOTO DE OFERTA-->
                                    <img src="/../../media/hoteshi.jpg" alt="...">
                                </span>
                            </div>
                        </div>

                        <div class="container col-md-9">
                            <!-- INSERTAR DATOS OFERTA -->
                            <h4 style="font-size: 15px;color: green">Nombre de la Oferta</h4>
                            <p style="font-size: 13px">
                                <!-- INSERTAR DATOS OFERTA -->
                                Descripcion de la oferta. 
                                <br><br>Tipo de Oferta
                                <br>Fecha Publicaci&oacute;n
                                <br>Numero de Miembros
                            </p>
                            <span class="rating">
                                <span>&#x2606;</span><span>&#x2606;</span><span>&#x2606;</span><span>&#x2606;</span><span>&#x2606;</span>
                            </span>
                        </div>
                    </figure>
                    </div>
                <!-- Nav tabs -->
                <div class="row">
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#comentarios" aria-controls="home" role="tab" data-toggle="tab">Comentarios</a></li>
                    <li role="presentation"><a href="#modeloNegocios" aria-controls="home" role="tab" data-toggle="tab">Modelo de Negocio</a></li>
                    <li role="presentation"><a href="#industria" aria-controls="home" role="tab" data-toggle="tab">Industra/Competidores</a></li>
                    <li role="presentation"><a href="#estadoLogros" aria-controls="home" role="tab" data-toggle="tab">Estado/Logros</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content col-md-12">
                    <!--TAB COMENTARIOS -->
                    <div role="tabpanel" class="tab-pane active" id="comentarios">
                        <div class="col-md-12 col-sm-8 col-xs-6">
                            <!-- INSERTAR DATOS OFERTA -->
                            <h4>21 comments</h4>
                            <hr>

                            <div class="comment">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <!-- INSERTAR DATOS OFERTA -->
                                        <img class="media-object" src="/../../media/hoteshi.jpg" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <p><a href="profile.html">Username</a></p>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
                                        </p>
                                        <ul class="text-muted list-inline">
                                            <li><i class="fa fa-clock-o"></i> 20 minutes ago</li>
                                            <li><i class="fa fa-cog"></i> <a href="#">Edit</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="comment">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="/../../media/hoteshi.jpg" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <p><a href="profile.html">Username</a></p>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
                                        </p>
                                        <ul class="text-muted list-inline">
                                            <li><i class="fa fa-calendar"></i> 11/10/2013 </li>
                                            <li><i class="fa fa-cog"></i> <a href="#">Edit</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--TAB MODELO DE NEGOCIOS-->
                    <div role="tabpanel" class="tab-pane" id="modeloNegocios">
                        <div class="col-md-12 col-sm-8 col-xs-6">
                            <h4 class="hl">Canvas del Modelo de negocios</h4>
                            <hr>
                            <div class="col-md-12">
                                <div class="col-md-2" style="border: 1px solid #ddd;">                    
                                    <label style="text-align:center">Socio Clave</label>
                                    <!-- INSERTAR DATOS OFERTA -->
                                    <p>Datos</p>
                                </div>

                                <div class="col-md-2" style="text-align:center"> 
                                    <div style="border: 1px solid #ddd;">                      
                                        <label style="text-align:center">Actividades Clave</label>
                                        <!-- INSERTAR DATOS OFERTA -->
                                        <p>Datos</p>
                                    </div>
                                    <div style="border: 1px solid #ddd;">   
                                        <label style="text-align:center">Recursos Clave</label>
                                        <!-- INSERTAR DATOS OFERTA -->
                                        <p>Datos</p>
                                    </div>
                                </div>

                                <div class="col-md-2" style="border: 1px solid #ddd;text-align:center">                    
                                    <label> Propuesta por Valor</label>
                                    <!-- INSERTAR DATOS OFERTA -->
                                    <p>Datos</p>
                                </div>

                                <div class="col-md-2" style="text-align:center">  
                                    <div style="border: 1px solid #ddd;">                  
                                        <label>Relaciones con Clientes</label>
                                        <!-- INSERTAR DATOS OFERTA -->
                                        <p>Datos</p>
                                    </div>
                                    <div style="border: 1px solid #ddd;">
                                        <label style="text-align:center">Canales</label>
                                        <!-- INSERTAR DATOS OFERTA -->
                                        <p>Datos</p>
                                    </div>
                                </div>

                                <div class="col-md-2" style="border: 1px solid #ddd;text-align:center">                    
                                    <label style="text-align:center">Segmentos  del  cliente</label>
                                    <!-- INSERTAR DATOS OFERTA -->
                                    <p>Datos</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align:center">
                                <div class="col-md-5" style="border: 1px solid #ddd;">                    
                                    <label style="text-align:center">Estructura de Costos</label>
                                    <!-- INSERTAR DATOS OFERTA -->
                                    <p>Datos</p>

                                </div>
                                <div class="col-md-5" style="border: 1px solid #ddd;">                    
                                    <label style="text-align:center">Fuentes de Ingresos</label>
                                    <!-- INSERTAR DATOS OFERTA -->
                                    <p>Datos</p>
                                </div>  
                            </div>

                        </div>
                    </div>
                    <!--TAB INDUSTRIA-->
                    <div role="tabpanel" class="tab-pane" id="industria">
                        <div class="col-md-12 col-sm-8 col-xs-6">
                            <h4>Tendencias Relevantes</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Insertar tendencias de oferta</p>
                            <br/>
                            <h4>Alternativas de Soluci&oacute;n Existentes</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Insertar alternativas</p>
                            <br/>
                            <h4>Competidores</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Insertar posibles competidores</p>
                            <br/>
                            <h4>Disponibilidad del producto o servicio</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Insertar disponibilidad del producto</p>
                            <br/>

                            <h4>Diagrama de Porter</h4>
                            <hr>
                            <div class="col-md-4" style="border: 1px solid #ddd;text-align:center">                                      
                                <label>Proveedores</label>
                                <!-- INSERTAR DATOS OFERTA -->
                                <p>Datos</p>
                            </div>
                            <div class="col-md-8" style="border: 1px solid #ddd;text-align:center">                                 
                                <label>Nuevos Competidores</label>
                                <!-- INSERTAR DATOS OFERTA -->
                                <p>Datos</p>
                            </div>
                            <div class="col-md-12" style="text-align:center">
                                <label>Rivalidad en la Industria</label>
                            </div>
                           <div class="col-md-8" style="border: 1px solid #ddd;text-align:center">                                      
                                <label>Sustitutos</label>
                                <!-- INSERTAR DATOS OFERTA -->
                                <p>Datos</p>
                            </div>
                            <div class="col-md-4" style="border: 1px solid #ddd;text-align:center">                                 
                                <label>Compradores</label>
                                <!-- INSERTAR DATOS OFERTA -->
                                <p>Datos</p>
                            </div>
                        </div>
                    </div>
                    <!--TAB ESTADO-->
                    <div role="tabpanel" class="tab-pane" id="estadoLogros">
                        <div class="col-md-12 col-sm-8 col-xs-6">
                            <h4>Disponibilidad del producto o servicio</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>2 años</p>
                            <br/>
                            <h4>Estrategia de crecimiento</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Colocar estrategia de crecimiento de oferta</p>
                            <br/>
                            <h4>Estado de propiedad intelectual</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Colocar estado de propiedad intelectual de oferta</p>
                            <br/>
                            <h4>Evidencia de tracci&oacute;n</h4>
                            <hr>
                            <!-- INSERTAR DATOS OFERTA -->
                            <p>Colocar evidencia de traccion</p>
                        </div>                
                    </div>
                  </div>
                </div>
            </div>
                <div class="col-md-4">
                    <div>
                    <h4> Tags </h4>
                    <hr>
                    <!-- INSERTAR TAGS DE OFERTA-->
                    <p class="tags">
                        <a href="#">Bootstrap</a>
                        <a href="#">HTML5</a>
                        <a href="#">Highland</a>
                        <a href="#">Blog post</a>
                        <a href="#">CSS3</a>
                        <a href="#">jQuery</a>
                    </p>
                    <br/>
                    </div>
                    <div>
                        <h4>Perfil del cliente</h4>
                        <hr>
                        <!--INSERTAR PERFIL DEL CLIENTE-->
                        <p>
                            Insertar perfil del cliente
                        </p>
                        <br/>
                    </div>
                    <div>
                        <h4>Perfil del beneficiario</h4>
                        <hr>
                        <!-- INSERTAR PERFIL DEL BENEFICIARIO-->
                        <p>
                            Insertar perfil del beneficiario
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
   
  
{% endblock %}