{% if demanda.estado == 2  %}
    <div class="member-left" style="margin-bottom: 5px;">
        {% if imagenPrincipal == False %}
            <img class="img-responsive gallery-list-small" src="/media/ofertas-demandas/nomedia.jpg" alt="..."
                    style="margin-right: 40px; margin-left: 5px; width: 75px;height: 75px;">
        {% else %}
            <img  class="img-responsive" src="/media/{{ imagenPrincipal.imagen }}" alt="..."
                    style="margin-right: 40px; margin-left: 5px; width: 75px;height: 75px;">
        {% endif %}
        <a href="/oferta/{{ demanda.fk_oferta.id_oferta }}"><h4 style="font-size: 14px;">{{ demanda.fk_oferta.nombre }}</h4></a>
        <br><br>
        <!-- Panel Calificacion -->
        <div class="thumbnail" align=center style="margin-bottom:0px">
            <div class="caption" style="padding-top:0px; padding-bottom:0px">
                <input id="calificacionOferta" value="{{ calificacionOferta }}" class="rating" data-size="xs"/>
            </div>
        </div>
    </div>
{% endif %}


