{% for ofer in ofertas %}
    {% if ofer.resuelve == 1  %}
        <div class="member-left" style="margin-bottom: 5px;">
            {% for img in imagenes %}
                {% if img.fk_oferta == ofer.id_oferta %}
                    <img  class="img-responsive" src="/media/{{ imagenPrincipal.imagen }}" alt="..."
                            style="margin-right: 40px; margin-left: 5px; width: 75px;height: 75px;">
                {% else %}
                    <img class="img-responsive gallery-list-small" src="/media/ofertas-demandas/nomedia.jpg" alt="..."
                            style="margin-right: 40px; margin-left: 5px; width: 75px;height: 75px;">
                {% endif %}
            {% endfor %}
            <a href="/oferta/{{ ofer.id_oferta }}"><h4 style="font-size: 14px;">{{ ofer.nombre }}</h4></a>
            <br><br>
            <!-- Panel Calificacion -->
            <div class="thumbnail" align=center style="margin-bottom:0px">
                <div class="caption" style="padding-top:0px; padding-bottom:0px">
                    <input id="calificacionOferta" value="{{ ofer.calificacion_total }}" class="rating" data-size="xs"/>
                </div>
            </div>
        </div>
    {% endif %}
{% empty %}
    <div class="member-left" style="margin-bottom: 0px;">
        <p class="position">Ninguna oferta ha intentado resolver esta demanda</p>
    </div>


{% endfor %}


