{% extends "base-admin.tpl.html" %}


{% if user.is_authenticated %}
    {% block barraderecha %}
        {% include 'menusuperior/menulogueado.tpl.html' %}
    {% endblock %}

    {% block busqueda %}
        {% include 'menusuperior/barrabusqueda.tpl.html' %}
    {% endblock %}

{% endif %}

{% block sliderPagina %}Administrar{% endblock %}


{% block contenido %}
    <div class="container">
    <div class="row" style="margin-bottom: 25px;">
        <div align=left class="col-md-2 col-sm-2 col-xs-3">
          {% comment %}
    
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#modalCrearOferta">Administrar
            </button>
                    {% endcomment %}
                    Administrar usuarios
        </div>


        <div class="col-md-4 col-sm-4 col-xs-3">
            {% if msg != None %}
            <div class="alert alert-success alert-dismissable" style="margin-bottom:-10px; padding:8px 25px 8px 15px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{msg}}
            </div>
            {% endif %}


        </div>
        <div class="col-md-6  col-sm-6 col-xs-6">
            <div class="col-sm-9">
                <input type="text" class="form-control" name="input_busqueda"
                       placeholder="Buscar usuario por nombre"/>
            </div>
            <div class="col-sm-3" >
                <button class="btn btn-blue" id="buscar_usuarios">Buscar</button>
            </div>
        </div>
    </div>


    <div class="row">
    <div class=" col-sm-12">
    <!-- Nav tabs -->

    <div id="usuarios">
            </div>


    </div>
    <script type="text/javascript">
    $("#buscar_usuarios").click(function(){
        alert("entramos");
        apellido=$("[name='input_busqueda']").val()
            $.ajax({
            data:{
                'apellido': apellido,
                'csrfmiddlewaretoken' :'{{ csrf_token }}',
                'page':1,
               },
            type:'GET',
            url: '/adminrenderusuarios/',
            success: function(data){
                $('#usuarios').html(data);
            },
            error: function () {
               
                 $('#usuarios').html("Se ha producido un error, contáctese con el administrador");
            }
        });

    });


    function ajaxPaginacion(page){
         $.ajax({
            data:{
                'apellido': apellido,
                'csrfmiddlewaretoken' :'{{ csrf_token }}',
                'page':page,
               },
            type:'GET',
            url: '/adminrenderusuarios/',
            success: function(data){
                $('#usuarios').html(data);
            },
            error: function () {
               
                 $('#usuarios').html("Se ha producido un error, contáctese con el administrador");
            }
        });

    }
    </script>
    </div>
{% endblock %}



