 <div class="table-responsive">
              <table class="table">

                  <thead>

        <tr>
            <th>Nombre</th>
             <th>Tipo</th>
              <th>Publicada</th>

            <th>Calificacion</th>
                        <th>Estado</th>

        </tr>

    </thead>

    <tbody>
    	{% for o in ofertas%}

        <tr>

            <td>{{o.nombre}}</td>

                        <td>{{o.tipo}}</td>
                        <td>{{o.publicada}}</td>
            <td>{{o.calificacion_total}}</td>
            <td><select  style="float:left; width:40%" class="form-control col-md-4" id="{{o.id_oferta}}"name="estado_oferta" disabled>
                {% if o.estado == 1 %}
                    <option value="1" selected>Activa</option>
                {% else %}
                    <option value="1" >Activa</option>
                {% endif %}

                {% if o.estado == 2 %}
                    <option value="2" selected>Desactivada</option>
                {% else %}
                    <option value="2">Desactivada</option>

                {% endif %}
                {% if o.estado == 3 %}
                    <option value="3" selected>Censurada</option>
                {% else %}
                    <option value="3" >Censurada</option>
                {% endif %}
              
            </select>
             <div name="div_guardar" id="{{o.id_oferta}}"hidden>
            <button class="btn btn-success col-md-3" style="float:center;" id="{{o.id_oferta}}" name="guardar_btn" > Guardar</button>
        </div>
        <div name="div_editar" id="{{o.id_oferta}}">
            <button class="btn btn-warning col-md-3" style="float:center;" id="{{o.id_oferta}}" name="btn_activar_editar"> Editar</button>
        </div>
       
            </td>
           
 
          

        </tr>
        {% endfor %}

    </tbody>
               
    </table>



    <div class="pagination">
    <span class="step-links">
        {% if ofertas.has_previous %}
            <a onclick="ajaxPaginacion({{ ofertas.previous_page_number }});">Atrás</a>
        {% endif %}

        <span class="current">
            Página {{ ofertas.number }} de {{ ofertas.paginator.num_pages }}.
        </span>

        {% if ofertas.has_next %}
            <a onclick="ajaxPaginacion({{ ofertas.next_page_number }});">Siguiente</a>
        {% endif %}
    </span>
	</div>

       <script type="text/javascript">

    $("[name='guardar_btn']").on('click', function (e2){
        e2.preventDefault();
        var idObtenido = $(e2.target).attr('id');
        estado=$("[id='"+idObtenido+"'][name='estado_oferta']").val();
        
        datos={
            'id_oferta': idObtenido,
            'estado':estado,
            'csrfmiddlewaretoken' :'{{ csrf_token }}'
        };
        $.ajax({
            url: '/admin_editar_estado_oferta',
            async: true,
            data: datos,
            dataType : 'text',
            
            success: function(data){
               
                   if(data=="ok"){
                        $("#msj_retro_estado").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> El estado de la oferta ha sido modificado exitosamente</div>');
                       
                          $("[id='"+idObtenido+"'][name='estado_oferta']").prop( "disabled", true );
                            $("[id='"+idObtenido+"'][name='div_editar']").prop("hidden", false);
                            $("[id='"+idObtenido+"'][name='div_guardar']").prop("hidden", true);
                    }else{
                        $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

                    }

            },
            error: function(e){

                $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar. Error de conexíón.</div>');

            }
        });
    });
    $("[name='btn_activar_editar']").on('click', function (e2){
         var idObtenido=$(e2.target).attr('id');
            $("[id='"+idObtenido+"'][name='estado_oferta']").prop( "disabled", false );
            $("[id='"+idObtenido+"'][name='div_editar']").prop("hidden", true);
             $("[id='"+idObtenido+"'][name='div_guardar']").prop("hidden", false);
       
});
    </script>



</div> 