 <div class="table-responsive">
                      <table class="table">

                  <thead>

        <tr>

            <th>Usuario</th>

            <th>Institución</th>

            <th>Estado</th>
            

        </tr>

    </thead>

    <tbody>
         {% for peticion in peticiones %}

        <tr>

            <td>{{ peticion.fk_usuario.username }}</td>

            <td>{{ peticion.nombre_institucion }}</td>

               <td>
                  {% if peticion.codigo == "000000" %}
                
             <button class="btn btn-green col-md-6" name="aceptarPeticion" id="{{ peticion.id_peticion }}"
                            >Aceptar  <span name="cargando_icono_ind" id="{{peticion.id_peticion}}" ></span></button>
                {% else %}
             <button class="btn btn-blue col-md-6" id="{{ peticion.id_peticion }} " disabled
                            >Aceptada</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
       
    </tbody>
               
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if peticiones.has_previous %}
            <a class="btn btn-success" onclick="ajaxPaginacion({{ peticiones.previous_page_number }});">Atrás</a>
        {% endif %}

        <span class="current">
            Página {{ peticiones.number }} de {{ peticiones.paginator.num_pages }}.
        </span>

        {% if peticiones.has_next %}
            <a class="btn btn-success" onclick="ajaxPaginacion({{ peticiones.next_page_number }});">Siguiente</a>
        {% endif %}
    </span>
	</div>

       <script type="text/javascript">

    $("[name='aceptarPeticion']").on('click', function (e2){
        e2.preventDefault();
        var idObtenido = $(e2.target).attr('id');
        //estado=$("[id='"+idObtenido+"'][name='estado_oferta']").val();
         $("[id='"+idObtenido+"'][name='cargando_icono_ind']").addClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
       
        datos={
            'id_peticion': idObtenido,
            'csrfmiddlewaretoken' :'{{ csrf_token }}'
        };
        $.ajax({
            url: '/aceptarPeticiones',
            async: true,
            data: datos,
            dataType : 'text',
            
            success: function(data){
               
                   if(data=="ok"){
                        $("#msj_retro_estado").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> El estado de la oferta ha sido modificado exitosamente</div>');
                       
                          $("[id='"+idObtenido+"'][name='aceptarPeticion']").prop( "disabled", true );
                          $("[id='"+idObtenido+"'][name='aceptarPeticion']").removeClass( "btn-green" );
                           $("[id='"+idObtenido+"'][name='aceptarPeticion']").addClass( "btn-blue" );
                           $("[id='"+idObtenido+"'][name='aceptarPeticion']").text( "Aceptada" );

                                    $("[id='"+idObtenido+"'][name='cargando_icono_ind']").removeClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
 
                    }else{
                        $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

                                    $("[id='"+idObtenido+"'][name='cargando_icono_ind']").removeClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
 
                    }

            },
            error: function(e){

                $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar. Error de conexíón.</div>');

                                    $("[id='"+idObtenido+"'][name='cargando_icono_ind']").removeClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
 
            }
        });
    });
    $("[name='btn_activar_editar']").on('click', function (e2){
         var idObtenido=$(e2.target).attr('id');
            $("[id='"+idObtenido+"'][name='estado_oferta']").prop( "disabled", false );
            $("[id='"+idObtenido+"'][name='div_editar']").prop("hidden", true);
             $("[id='"+idObtenido+"'][name='div_guardar']").prop("hidden", false);
       
});
    </script>



</div> 