 <div class="table-responsive">
              <table class="table">

                  <thead>

        <tr>

            <th>Cedula</th>

            <th>Nombres</th>

            <th>Apellidos</th>
             <th>Username</th>

            <th>Estado</th>


        </tr>

    </thead>

    <tbody>
    	{% for u in usuarios%}

        <tr>

            <td>{{u.cedula}}</td>

            <td>{{u.first_name}}</td>

            <td>{{u.last_name}}</td>
               <td>{{u.username}}</td>

               <td><select  style="float:left; width:40%" class="form-control col-md-4" id="{{u.id_perfil}}"name="estado" disabled>
                {% if u.estado == 1 %}
                    <option value="1" selected>Activo</option>
                {% else %}
                    <option value="1" >Activo</option>
                {% endif %}

                {% if u.estado == 2 %}
                    <option value="2" selected>Inactivo</option>
                {% else %}
                    <option value="2">Inactivo</option>
                {% endif %}
              
              
            </select>
             <div name="div_guardar" id="{{u.id_perfil}}"hidden>
            <button class="btn btn-success col-md-4" style="float:left;" id="{{u.id_perfil}}" name="guardar_btn" >Guardar <span name="cargando_icono_ind" id="{{u.id_perfil}}" ></span> </button>
        </div>
        <div name="div_editar" id="{{u.id_perfil}}">
            <button class="btn btn-warning col-md-4" style="float:left;" id="{{u.id_perfil}}" name="btn_activar_editar"> Editar</button>
        </div>
       
            </td>
        </tr>
        {% endfor %}

    </tbody>
               
    </table>



    <div class="pagination">
    <span class="step-links">
        {% if usuarios.has_previous %}
            <a class="btn btn-success" name="atras" onclick="ajaxPaginacion({{ usuarios.previous_page_number }});"> <span name="cargando_icono_atras"> </span> Atrás </a>
        {% endif %}

        <span class="current">
            Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}.
        </span>

        {% if usuarios.has_next %}
            <a class="btn btn-success" name="siguiente"onclick="ajaxPaginacion({{ usuarios.next_page_number }});">Siguiente  <span name="cargando_icono_next"></span></a>
        {% endif %}
    </span>
	</div>


     <script type="text/javascript">

    $("[name='guardar_btn']").on('click', function (e2){
        e2.preventDefault();
        var idObtenido = $(e2.target).attr('id');
        estado=$("[id='"+idObtenido+"'][name='estado']").val();
        // $("[id='"+idObtenido+"'][name='cargando_icono_ind']").addClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
        $("[id='"+idObtenido+"'][name='cargando_icono_ind']").addClass("fa fa-spinner fa-pulse");
       
        datos={
            'id_usuario': idObtenido,
            'estado':estado,
            'csrfmiddlewaretoken' :'{{ csrf_token }}'
        };
        $.ajax({
            url: '/admin_editar_estado_usuario',
            async: true,
            data: datos,
            dataType : 'text',
            
            success: function(data){
               
                   if(data=="ok"){
                        $("#msj_retro_estado").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> El estado del usuario ha sido modificado exitosamente</div>');
                       
                          $("[id='"+idObtenido+"'][name='estado']").prop( "disabled", true );
                            $("[id='"+idObtenido+"'][name='div_editar']").prop("hidden", false);
                            $("[id='"+idObtenido+"'][name='div_guardar']").prop("hidden", true);

                                    $("[id='"+idObtenido+"'][name='cargando_icono_ind']").removeClass("fa fa-spinner fa-pulse");

                                  
 
                    }else{
                        $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar</div>');

                                    $("[id='"+idObtenido+"'][name='cargando_icono_ind']").removeClass("fa fa-spinner fa-pulse");
 

                    }

            },
            error: function(e){

                $("#msj_retro_estado").html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> No se ha podido actualizar. Error de conexíón.</div>');


                                    $("[id='"+idObtenido+"'][name='cargando_icono_ind']").removeClass("fa fa-spinner fa-pulse");
 
            }
        });
    });
    $("[name='btn_activar_editar']").on('click', function (e2){
         var idObtenido=$(e2.target).attr('id');
            $("[id='"+idObtenido+"'][name='estado']").prop( "disabled", false );
            $("[id='"+idObtenido+"'][name='div_editar']").prop("hidden", true);
             $("[id='"+idObtenido+"'][name='div_guardar']").prop("hidden", false);
       
});
    $("[name='atras']").click(function(){

          $("[name='cargando_icono_atras']").addClass("fa fa-spinner fa-pulse");
      
    });

    $("[name='siguiente']").click(function(){

          $("[name='cargando_icono_next']").addClass("fa fa-spinner fa-pulse");
      
    });

    </script>

</div> 


