 <div class="table-responsive">
              <table class="table">

                  <thead>

        <tr>

            <th>Cedula</th>

            <th>Nombres</th>

            <th>Apellidos</th>
             <th>Username</th>

            <th>Estado</th>
             <th>Cambiar Estado</th>

        </tr>

    </thead>

    <tbody>
    	{% for u in usuarios%}

        <tr>

            <td>{{u.cedula}}</td>

            <td>{{u.first_name}}</td>

            <td>{{u.last_name}}</td>
               <td>{{u.username}}</td>

               {% if u.estado == 1 %}
            <td>Activo</td>
            {%elif u.estado == 0%}
            <td>Suspendido</td>
            {%endif%}

            {% if u.estado == 1 %}
            <td><button>Suspender</button></td>
            {%elif u.estado == 0%}
            <td><button>Activar</button></td>
            {%endif%}
        </tr>
        {% endfor %}

    </tbody>
               
    </table>



    <div class="pagination">
    <span class="step-links">
        {% if usuarios.has_previous %}
            <a onclick="ajaxPaginacion({{ contacts.previous_page_number }});">Atrás</a>
        {% endif %}

        <span class="current">
            Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}.
        </span>

        {% if usuarios.has_next %}
            <a onclick="ajaxPaginacion({{ usuarios.next_page_number }});">Siguiente</a>
        {% endif %}
    </span>
	</div>


</div> 


