                             <div class="col-md-12">   
                             <form  class="form-horizontal"  name="crear_oferta_form2" novalidate> 
                                  <!--Perfil Cliente-->
                                  
                                  <div class="form-group">
                                         <label for="oferta_descripcion_perfil" class="col-md-2">Perfil Cliente</label>
                                         <div class="col-md-6">

<textarea autofocus id="oferta_descripcion_perfil" name="oferta_descripcion_perfil" rows="4"  class="form-control" placeholder="Escribe aqu&iacute; la descripci&oacute;n del perfil"
ng-model="oferta.perfil_cliente" ng-required="true"
></textarea>
<span ng-show="crear_oferta_form2.oferta_descripcion_perfil.$error.required" ng-if="!crear_oferta_form2.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span> 

                                         </div>
                                     </div>

                                  <!--Perfil Cliente-->
                                  <div class="form-group">
                                         <label for="oferta_beneficiario_perfil" class="col-md-2">Perfil del Beneficiario</label>
                                         <div class="col-md-6">

<textarea autofocus id="oferta_beneficiario_perfil" name="oferta_beneficiario_perfil" rows="4"  class="form-control" placeholder="Escribe aqu&iacute; el perfil del beneficiario"
ng-model="oferta.perfil_beneficiario" ng-required="true"
></textarea>
<span ng-show="crear_oferta_form2.oferta_beneficiario_perfil.$error.required" ng-if="!crear_oferta_form2.$pristine"><p class="bg-danger text-danger">Este campo es obligatorio</p></span>

                                         </div>
                                  </div>  
                                  
                                  <div class="col-md-8">
                                  <br>

                                      <a id="btn_crear_oferta_sgt2" ng-click="siguiente()">
                                           <input type="button" class="btn btn-info pull-right" value="Siguiente" ng-disabled="!crear_oferta_form2.$valid"> 
                                        </a>

                                      <a id="btn_crear_oferta_ant2" ng-click="atras()" style="margin-right:15px;margin-left:15px;">
                                          <input type="button" class="btn btn-default pull-right" value="Atr&aacute;s" style="margin-right:15px;margin-left:15px;"> 
                                        </a>
                                  </div>  
                            </form>     
                             </div>