{% extends "profile_usuario.html" %}

{% block menuperfil %}
    <!-- Profile Menu -->
    <div class="col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
            <ul>
                <li>
                    <a href="/enviarMensaje/">
                        <i class="sign fa fa-edit bg-blue"></i> Nuevo Mensaje<i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/BandejaDeEntrada/" class="active">
                        <i class="sign fa fa-envelope bg-red" ></i> Bandeja de Entrada <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/mensajesEnviados/">
                        <i class="sign fa fa-envelope bg-green"></i> Mensajes Enviados <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block contenidousuario %}
    <div class="col-sm-8 col-md-7">
        <h1>Mensajes Recibidos</h1>
        <ul class="text-muted list-inline">
            <li><i class="fa fa-envelope-o"></i> {{mensajes|length}} mensajes</li>
        </ul>
        <div class="list-group">
            {%for msj in msjs%}
            <a href="/verMensaje/?q={{ msj.id_mensaje }}"  class="list-group-item col-md-11">
                <p class="text-muted">
                    {% if msj.tipo_mensaje == 'institucion-usuario' or msj.tipo_mensaje == 'institucion-institucion'%}
                    <span data-toggle="tooltip" title="Administrador de Instituci&oacute;n" data-placement="top">
                    <i class="fa fa-bookmark" style="color:blue;"></i></span>
                    {% endif %}

                </p>
                <p class="text-muted col-md-4">
                    <img width="50" height="50" src="{{ msj.imgEm.url }}" alt="...">
                    De: <i>{{ msj.fk_emisor.first_name }}</i><br/>
                    <small>{{ msj.fecha_de_envio }}</small>
                </p>
                <p class="text-muted col-md-7">
                    <i>{{ msj.mensaje }}</i>
                </p>
                <div class="clearfix"></div>
            </a>
            <button class="btn pull-left fa fa-trash boton_eliminar" data-toggle="modal" data-type="zoomin" data-target="#eliminar_mensaje_modal" id="{{ msj.id_mensaje }}"></button>
            {%endfor%}
        </div>
        <div class="pagination">
            <span class="step-links">
            {% if msjs.has_previous %}
                <a class="btn btn-green" href="?page={{ msjs.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ msjs.number }} de {{ msjs.paginator.num_pages }}.
            </span>

            {% if msjs.has_next %}
                <a class="btn btn-green" href="?page={{ msjs.next_page_number }}">Siguiente</a>
            {% endif %}
            </span>
        </div>
    </div>


    <div class="modal fade" id="eliminar_mensaje_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <br/>
                    <p class="text-danger"> Est&aacute; seguro que desea eliminar este mensaje?</p>
                    <div class="clearfix"></div>
                </div>

                <div class="modal-body">
                    <!--<button class="btn btn-default" data-dismiss="modal">Cancelar</button>-->
                    <a class="btn btn-danger" id="eliminar_mensaje" href="" style="left:15px;position:relative;">Confirmar</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" style="left:40px;position:relative;">Cancelar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
<script type="text/javascript">
      $('.boton_eliminar').click(function(){
            var id=$(this).attr('id');
            $('#eliminar_mensaje').attr('href',"/eliminarMensajeRecibido/?q=".concat(id));
      });
</script>

{% endblock %}