
    <h3 class="hl text-left zero-top" style="margin-top: 5px;font-weight:400">Mensajes Recibidos</h3>
        <ul class="text-muted list-inline" align="left">
            <li><i class="fa fa-envelope-o"></i> {{ mensajes|length }} mensajes</li>

        </ul>

        <div class="list-group">
            {% for msj in msjs %}
            <a id="mensaje_{{msj.id_mensaje}}" class="list-group-item col-md-11 mensaje_mensaje" style="cursor:pointer;">
                <p class="text-muted">
                    {% if msj.tipo_mensaje == 'institucion-usuario' or msj.tipo_mensaje == 'institucion-institucion'%}
                        <span data-toggle="tooltip" title="Administrador de Instituci&oacute;n" data-placement="top">
                        <i class="fa fa-bookmark" style="color:blue;"></i></span>
                    {% endif %}
                </p>
                <p class="text-muted col-md-6">
                        <img width="50" height="50" src="{{ msj.imgEm.url }}" alt="...">
                        De: <i>{{ msj.fk_emisor.first_name }}</i><br/>
                        <small>{{ msj.fecha_de_envio }}</small>
                </p>

                <p class="text-muted col-md-6">
                    <i>{{ msj.asunto }}</i>
                </p>

                <div class="clearfix"></div>
            </a>
            <button class="btn pull-left fa fa-trash" data-toggle="modal" data-type="zoomin" data-target="#eliminar_mensaje_modal{{ msj.id_mensaje }}"></button>

                <!-- Modal window: Send an email -->
                <div class="modal fade" id="eliminar_mensaje_modal{{ msj.id_mensaje }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <br/>
                                <p><h5 class="text-danger"> Est&aacute; seguro que desea eliminar este mensaje?</h5></p>
                                <div class="clearfix"></div>
                            </div>

                            <div class="modal-body">
                                <!--<button class="btn btn-default" data-dismiss="modal">Cancelar</button>-->
                                <button id="eliminar_mensaje_{{ msj.id_mensaje }}" class="btn btn-danger eliminar_mensaje" style="left:15px;position:relative;" data-dismiss="modal">Confirmar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" style="left:40px;position:relative;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            <!-- /.modal -->
            <!-- End of modal window -->
            {% endfor %}
    </div>


    <div class="row text-center">
        <div class="pagination">
            <span class="step-links">
            {% if msjs.has_previous %}
                <a id="btn_anterior_buzon_entrada" class="btn btn-green">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ msjs.number }} de {{ msjs.paginator.num_pages }}.
            </span>

            {% if msjs.has_next %}
                <a id="btn_siguiente_buzon_entrada" class="btn btn-green">Siguiente</a>
            {% endif %}
            </span>
        </div>
    </div>

