<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<input type="hidden" value="{{membresiasPendientes|length}}">
{% for miembro in membresiasPendientes %}
	<li id="solicitud{{miembro.id_membresia}}">
        <p class="text-muted" >
            {% load staticfiles %}
            <img src="{{ miembro.fk_usuario.perfil.foto.url }}" alt="...">
            <a href="/usuario/{{ miembro.fk_usuario }}">{{ miembro.fk_usuario.username }}</a>
            <br><STRONG>Cargo:</STRONG> {{ miembro.cargo }}
            <br><STRONG>Fecha de solicitud:</STRONG>
            {{ miembro.fecha_peticion|date:"M d, Y" }}
        </p>

        <p class="text-muted" >
            <a class="inbox-dialog col-sm-offset-4"><br>
                <button type="button" class="btn btn-green btn-md " id="Aceptar{{miembro.id_membresia}}"  data-toggle="modal" data-target="#enviarMensaje">
                    <span class="glyphicon glyphicon-plus-sign"></span> Aceptar
                </button>
                <button type="button" class="btn btn-default btn-md" id="Rechazar{{miembro.id_membresia}}" data-toggle="modal" data-target="#enviarMensaje">
                    <span class="glyphicon glyphicon-minus-sign"></span> Rechazar
                </button>

                        <!-- //// VENTANA EMERGENTE EMAIL ///// -->
                        <div class="modal fade" id="enviarMensaje" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <img src={{ usuarioSesion.foto.url }} alt="...">
                                    <h4 class="modal-title" id="sendemailtitle">{{ usuarioSesion.first_name }} {{ usuarioSesion.last_name }}</h4>
                                    <p class="text-muted"><i class="fa fa-envelope"></i> Nuevo Mensaje</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-body">
                                    <form role="form" action="/enviarMensajeInstitucion/" method='POST'>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="Destinatario">Para:</label>
                                            <input type="text" class="form-control" id="destinatario" name="destinatario"
                                            placeholder="Destinatario" value="{{ miembro.fk_usuario.username }}" maxlength="50" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Asunto">Asunto:</label>
                                            <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto"
                                            maxlength="40" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Mensaje">Mensaje:</label>
                                            <textarea class="form-control" maxlength="1000" rows="3" id="mensaje" name="mensaje"
                                            required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-green">Enviar</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
            </a>
        </p>
        <div class="clearfix"></div>
    </li>

		 <script>
		 	$(document).ready(function(){
		 		$(function(){
		 			$('#Aceptar{{miembro.id_membresia}}').click(accionMembresiaA);
		 			var asunto = document.getElementById("asunto");
                    var contenido = document.getElementById("mensaje");
                    asunto.value = "Aceptación de Solicitud Membresia";
                    contenido.value = "Su solicitud ha sido Aceptada, Bienvenido :)";
		 			function accionMembresiaA(){
		 				console.log('hizo click en Aceptar');
		 				$.ajax({
		 					data : {
		 						'membresia' : {{miembro.id_membresia}},
		 						'accion' : 1,
		 						'csrfmiddlewaretoken' : '{{ csrf_token }}'
		 					},
		 					type : 'post',
		 					url : '/accionMembresia/',
		 					success: function(data){
		 						var objeto = JSON.parse(data);

		 						if (objeto.membresia_save){
		 							$('#solicitud{{miembro.id_membresia}}').remove();
		 							$(function(){
                                  		$('#panel_miembros').ready(actualizarListaMiembros);

                                    	function actualizarListaMiembros(){
                                    		$.ajax({
                                      			data:{
                                        			'institucion':{{institucion.id_institucion}}
                                      			},
                                      			type:'get',
                                      			url: '/MiembrosInstitucion/',
                                      			success: function(data){
                                        			$('#panel_miembros').html(data)
                                      			}
                                    		});
                                  		}
                                	});
		 						}
		 					}
		 				});
		 			}
		 			
		 		});
		 		
		 	});

		 	$(document).ready(function(){
		 		$('#Rechazar{{miembro.id_membresia}}').click(accionMembresiaR);
		 		var asunto = document.getElementById("asunto");
                var contenido = document.getElementById("mensaje");
                asunto.value = "Rechazo de Solicitud Membresia";
                contenido.value = "Su solicitud ha sido rechazada por los siguientes motivos: -Completa el mensaje por favor :D-";
		 			function accionMembresiaR(){
		 				console.log('hizo click en Rechazar');
		 				$.ajax({
		 					data : {
                                'membresia' : {{miembro.id_membresia}},
		 						'accion' : 0,
		 						'csrfmiddlewaretoken' : '{{ csrf_token }}'
		 					},
		 					type : 'post',
		 					url : '/accionMembresia/',
		 					success: function(data){
		 						var objeto = JSON.parse(data);

		 						if (objeto.membresia_save){
		 							$('#solicitud{{miembro.id_membresia}}').remove();
		 						}
		 					}
		 				});
		 			}

		 		});

		</script>
{% endfor %}
</div>
