<!--
Autor: Rolando Sornoza
Descripcion:Modal que usamos para la retroalimentacion de mensajes.
-->

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="Retroalimentacion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="contenidoRetroalimentacion"></h4>
                <button class="btn btn-blue" id="mensajeConfirmacion" data-dismiss="modal"> Aceptar</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>