{% extends "Usuario_Home.html" %}

{% block contenido %}
<link rel="stylesheet" href='/static/css/demo.css'>

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <script type="text/javascript">
        /*
         * Autor: Marlon Espinoza
         Nombre de función: validarPassword2
         Salida: Muestra advertencia si son distintos
         Descripción: Compara que password 1 y 2 sean iguales
         * */
        function validarPassword2() {
            password1 = document.getElementById('password1')
            pass2 = document.getElementById('password2')
            if (password1.value == pass2.value) {
                document.getElementById('noIgual').style.display = 'none';
            }
            else {
                document.getElementById('noIgual').style.display = 'block';
            }
        }
        
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        /*
         * Autor: Leonel Ramirez - Jose Velez
         Nombre de función: validarRangoContrasena
         Salida: Muestra advertencia si son distintos
         Descripción: Compara que password 1 y 2 sean iguales
         * */
        function validarRangoContrasena() {
            contrasena = document.getElementById("password1")
            if (contrasena.value.length >= 4 && contrasena.value.length <= 15 ) {
                document.getElementById('errorContrasena').style.display = 'none';
            }
            else {
                document.getElementById('errorContrasena').style.display = 'block';
            }
        }
    </script>

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>{{ usuario.username }}</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">

    <!-- Menu de Perfil -->
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
            <ul>
                <li>
                    <a href="/perfilUsuario/">
                        <i class="sign fa fa-user bg-blue"></i> Mi Perfil <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/editar_usuario/" >
                        <i class="sign fa fa-edit bg-green"></i> Editar Perfil <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                        <a href="#" class="active">
                            <i class="sign fa fa-pencil" style="background-color:#ED9C28;color:white"></i> Cambiar Contrase&ntilde;a <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                </li>
                 {% if  es_admin %}
                        <li>
                            <a href="/perfilInstitucion/">
                                <i class="sign fa fa-suitcase bg-turquoise"></i> Administrar Instituci&oacute;n <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                {% endif %}
                <li>
                    <a href="/BandejaDeEntrada/">
                        <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/cerrarSesion/">
                        <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar Sesi&oacute;n <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Editar Perfil Usuario-->
    <div class=" col-xs-6 col-sm-8 col-md-9">
    <div class="row">
    <div class="signup col-md-9">
        
        <h3 class="hl top-zero">Editar Contrase&ntilde;a</h3>
        <hr>
        <div class="col-md-9">
                <br>
        </div>
        <form role="form" action="/EditarContrasena/" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">{% csrf_token %}
            
            <!--CONTRASEÑA ACTUAL-->
               <div class="form-group">
                            <label class="info-board-red" id="contrasenaValidar" style="display: none; color: red"></label>
                </div>
            <div class="form-group">
                        {% if mensaje %}
                            <div class="form-group">
                                <label class="info-board-red" id="noIgual" style=" color: green">{{ mensaje }}</label>
                            </div>
                        {% endif %}
               
                <label for="contrasenaActual" class="col-md-3">Contrase&ntilde;a Actual</label>

                <div class="col-md-8">
                    <input required autofocus type="text" class="form-control" id="passwordActual" name="passwordActual"placeholder="Contraseña Actual" data-toggle="popover" data-trigger="focus" data-content="Asegurate de recordarla" data-original-title="Contraseña Actual" onchange="validarPassword2()">
                </div>
            </div>
            <div class="form-group">
                <label class="info-board-red" id="noIgual" style="display: none; color: red">*Contrase&ntilde;as no coinciden</label>
                <label class="info-board-red" id="errorContrasena" style="display: none; color: red">Contrase&ntilde;a debe almenos 4 caracteres y m&aacute;ximo 15 caracteres</label>
            </div>
            <!--CONTRASEÑA NUEVA-->
            <div class="form-group">
                <label for="contrasenaActual" class="col-md-3">Contrase&ntilde;a Nueva</label>

                <div class="col-md-8">
                    <input required type="password" class="form-control margin-bottom-xs" id="password1" name="password1" placeholder="Contraseña" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Three symbols minimum." data-original-title="Password" onchange="validarRangoContrasena()" maxlength="15" minlength="4">
                </div>
            </div>
            <!--REPETIR CONTRASEÑA-->
            <div class="form-group">
                <label for="repetitContrasena" class="col-md-3">Repetir Contrase&ntilde;a</label>

                <div class="col-md-8">
                    <input required type="password" class="form-control" id="password2" name="password2" placeholder="Repetir Contraseña" data-toggle="popover" data-trigger="focus" data-content="Asegurate de recordarla" data-original-title="Repeat Password" onchange="validarPassword2()">
                </div>
            </div>
            <!--BUTTON GUARDAR CONTRASEÑA
            <button style="float:right" class="btn btn-green" >Guardar Contrase&ntilde;a</button>-->

            <a href="" data-type="zoomin" class="button" id="enviar">
                    <button type="submit" style="float:right" class="btn btn-green" id="enviar" data-dismiss="modal">Guardar Contrase&ntilde;a</button>
                </a>
                <div class="overlay-container"> 
                    <div class="window-container zoomin">
                        <h3>¿Est&aacute; seguro de cambiar su contrase&ntilde;a?</h3><br> 
                        <div>
                            <div class="col-md-6 col-md-offset-2">
                                <button type="submit" class="btn btn-green"> Si</button>
                            </div>
                           
                            <a href="">
                            <button type="button" class="button btn btn-danger" name="close"> No </button> 
                            </a>

                    </div>
                </div>

                </div>

        </form>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript" src="/static/js/demo.js"></script>

    <script type="text/javascript">

    $("#passwordActual").change(function () {
        console.log($("#passwordActual").val());
        $.ajax({
            type: "POST",
            url: "/verificar_contrasena",
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                'passwordActual': $("#passwordActual").val()
            },
            success: verificarContrasena,
            dataType: 'text'
        });
    });

    function verificarContrasena(data, textStatus, jqXHR) {
        
        if (data == "invalido") {
            $("#contrasenaValidar").html("Contraseña no pertenece al usuario");
            $("#contrasenaValidar").attr("style", "display: block; color: red; text-align:center");
            $("#contrasenaValidar").attr("class", "info-board-red");
            //habilitarDeshabilitarSubmit(1);
        }
        else if(data == "valido") {
            $("#contrasenaValidar").html("Contraseña correcta");
            $("#contrasenaValidar").attr("style", "display: block; color: green; text-align:center");
            $("#contrasenaValidar").attr("class", "info-board-green");
            //habilitarDeshabilitarSubmit(0);
        }
    }



    </script>
{% endblock %}