{% extends "profile_usuario.html" %}

{% block menuperfil %}
    <!-- Profile Menu -->
    <div class="col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
            <ul>
                <li>
                    <a href="/enviarMensaje/" class="active">
                        <i class="sign fa fa-edit bg-blue"></i> Nuevo Mensaje<i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/BandejaDeEntrada/">
                        <i class="sign fa fa-envelope bg-red" ></i> Bandeja de Entrada <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/mensajesEnviados/">
                        <i class="sign fa fa-envelope bg-green"></i> Mensajes Enviados <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block contenidousuario %}
    <div class="col-sm-8 col-md-7">
        <div class="modal-body">
            <p class="text-muted"><i class="fa fa-envelope"></i> Nuevo Mensaje</p>
            <form id="formulario" name="formulario" role="form" action="/enviarMensaje/" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="Destinatario">Para:</label>
                    <!--<input type="text" class="form-control" id="destinatario" name="destinatario"
                           placeholder="Destinatario" maxlength="50" required>

                    ANDRES BRONZA :v
                    -->
                    <input type="text" class="form-control" id="destinatario_txt" name="destinatario_txt"
                           placeholder="Destinatario" maxlength="50" required>

                    <input type="text" id="destinatario" name="destinatario" hidden>

                </div>

                <div class="alert alert-danger" role="alert" hidden="True" id="divAlertaUsuario">
                  <strong class="mensaje_error"></strong>
                </div>

                <div class="form-group">
                    <label for="Asunto">Asunto:</label>
                    <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto"
                           maxlength="40" required>
                </div>
                <div class="form-group">
                    <label for="Mensaje">Mensaje:</label>
                    <textarea class="form-control" maxlength="1000" rows="3" id="mensaje" name="mensaje"
                              required></textarea>
                </div>
                <button type="submit" id="btn_enviar_mensaje_nuevo" class="btn btn-green">Enviar</button>
                <div class="clearfix"></div>
                </br>
                {% if mensajeAlerta %}
                    {% if tipoAlerta == 'completado' %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><p><span class="glyphicon glyphicon-ok-sign"></span> {{ mensajeAlerta }}</p></strong>
                    </div>
                    {% elif tipoAlerta == 'error' %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ mensajeAlerta }}</p></strong>
                    </div>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>


{% load staticfiles %}
<script>
$('#destinatario').on('keyup change', function (evt) {
    var destinatario = $('#destinatario').val();
    var username = "{{usuario.username}}";
    console.log(destinatario.toLowerCase());
    console.log('emisor' + username);
    if (destinatario.toLowerCase() == username.toLowerCase()) {
        document.getElementById("divAlertaUsuario").style.display = 'block';
        $('.mensaje_error').text("No puedes enviarte el mensaje a ti mismo");
        $('#btn_enviar_mensaje_nuevo').attr('disabled', true);
    } else if (destinatario != usuario) {
        document.getElementById("divAlertaUsuario").style.display = 'none';
        $('#btn_enviar_mensaje_nuevo').attr('disabled', false);
    }
});
</script>
<!--
<script src="{% static 'js/autocompletar.js' %}"></script> -->
{% endblock %}




