{% extends "profile_institucion.html" %}


{% block contenidoinstitucion %}

<link rel="stylesheet" href='/static/css/demo.css'>
    <div class="col-sm-8 col-md-7">
        <div class="modal-body">
            <p class="text-muted"><i class="fa fa-envelope"></i> Nuevo Mensaje</p>

            <form role="form" action="/enviarMensajeInstitucion/" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="Destinatario">Para:</label>
                    <input type="text" class="form-control" id="destinatario" name="destinatario"
                           placeholder="Destinatario" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="Asunto">Asunto:</label>
                    <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto"
                           maxlength="40" required>
                </div>
                <div class="form-group">
                    <label for="Mensaje">Mensaje:</label>
                    <textarea class="form-control" maxlength="1000" rows="3" id="mensaje" name="mensaje"
                              required></textarea>
                </div>
                <a href="" data-type="zoomin" class="button">
                    <button type="button" class="btn btn-green" data-dismiss="modal">Aceptar</button>
                </a>
                <div class="overlay-container"> 
                    <div class="window-container zoomin">
                        <h3>Est&aacute; seguro de enviar el mensaje!</h3><br> 
                        <div>
                            <div class="col-md-6 col-md-offset-2">
                                <button type="submit" class="btn btn-blue"> Enviar</button>
                            </div>
                           
                            <a href="">
                            <button type="button" class="btn btn-default" name="close">Cancelar</button>
                            </a>
                            
                    </div>
                </div>

                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript" src="/static/js/demo.js"></script>
{% endblock %}
