{% extends "base.tpl.html" %}
{% block home %}
        <a class="navbar-brand link" href="/inicioUsuario/" >REI-NET</a>
{% endblock %}
{% block signin %}
<li id="usuario" class="show">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.username }}<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
  <li><a href="/perfilUsuario" >Mi Perfil</a></li>
  <li><a href="/registro_institucion">Registrar Institucion</a></li>
  <li><a href="/logOut/" >Cerrar Sesi&oacute;n</a></li>
  </ul>
</li>
<li id="mensajes" class="show"><a href="#" class="link">Mensajes</a></li>
{% endblock %}
{% block content %}
    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Llene el siguiente formulario para registrar su Institución</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 signup">
          <h3 class="hl top-zero">Registro de Institución</h3>
          <hr>
            <div class="form-group">
              <label for="codigo">CÓDIGO DE VERIFICACIÓN</label>
              <input type="text" class="form-control" id="codigoInstitucion" placeholder="Código de verificación"
                     data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingrese el código recibido por el administrador" data-original-title="Código de Verificación">


            </div>

            <button id="instBtnContinuar" class="btn btn-green">Continuar</button>
            <form role="form" action="/registro_institucion" method="post" enctype="multipart/form-data" id="formulario">{%csrf_token%}

            </form>
        </div>
      </div>
    </div>

 {% endblock %}