{% extends "base.tpl.html" %}

{% block raiz %}
    <a class="navbar-brand link" href="/inicioUsuario/">REI-NET</a>
{% endblock %}

{% block barraderecha %}
    <li id="usuario" class="show">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.username }}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/perfilUsuario">Mi Perfil</a></li>
            {% if not es_admin %}
            <li><a href="/registro_institucion">Registrar Institucion</a></li>
            {% endif %}
            <li><a href="/cerrarSesion/">Cerrar Sesi&oacute;n</a></li>
        </ul>
    </li>
    <li id="mensajes" class="show"><a href="/BandejaDeEntrada/" class="link">Mensajes</a></li>
{% endblock %}

{% block contenido %}
    <div class="page-tip animated slideInDown">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Llene el siguiente formulario para registrar su Institución</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 signup">
                <h3 class="hl top-zero">Registro de Institución</h3>
                <hr>
                <form role="form" action="/registro_institucion/registering" method="post"
                      enctype="multipart/form-data">{% csrf_token %}
                    <!--NOMBRE-->
                    <div class="form-group">
                        <label for="nombreInstitucion">Nombre de la instituci&oacute;n</label>
                        <label class="form-control" id="nombreInstitucion" placeholder="Nombre de la Institución"
                               maxlength="50" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese el nombre de la Institución."
                               data-original-title="Nombre Institucion">
                            {{ insti }}
                        </label>
                    </div>
                    <!--SIGLA-->
                    <div class="form-group">
                        <label for="siglaInstitucion">Siglas</label>
                        <label class="info-board-red" id="sigla_usada" style="display: none; color: red"></label>
                        <input type="text" class="form-control" maxlength="12" id="siglaInstitucion"
                               name="siglaInstitucion" placeholder="Siglas/Nombre abreviado"
                               maxlength="16" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese las siglas de la Institucion"
                               data-original-title="Nombre abreviado" onkeypress="return validarLetras(event)" required>
                    </div>
                    <!--DESCRIPCION-->
                    <div class="form-group">
                        <label for="descInstitucion">Descripci&oacute;n</label>
                        <input type="text" class="form-control" id="descInstitucion" name="descInstitucion"
                               placeholder="Descripcion de la Institucion"
                               maxlength="300" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese las descripcion de la Institucion"
                               data-original-title="Descripcion" required>
                    </div>
                    <!--MISION-->
                    <div class="form-group">
                        <label for="misionInstitucion">Misi&oacute;n</label>
                        <input type="text" class="form-control" id="misionInstitucion" name="misionInstitucion"
                               placeholder="Misión"
                               maxlength="300" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese la misión de la Institución" data-original-title="Misión" required>
                    </div>
                    <!--PAIS-->
                    <div class="form-group">
                        <label for="pais">Pa&iacute;s</label>
                        <select class="form-control" name="paisInstitucion" id="paisInstitucion" required>
                            <optgroup label="Pais">
                                {% for pais in paises %}
                                    <option value="{{ pais.id }}">{{ pais.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <!--CIUDAD-->
                    <div class="form-group">
                        <label for="ciudad">Ciudad</label>
                        <select class="form-control" name="ciudadInstitucion" id="ciudadInstitucion" required>
                            <optgroup id="optsCiudades" label="Ciudad">
                                {% for ciudad in ciudades %}
                                    <option value="{{ ciudad.id }}">{{ ciudad.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <!--RECURSOS-->

                    <div class="form-group">
                        <label for="recursosInstitucion">Recursos ofrecidos</label>
                        <input type="text" class="form-control" id="recursosInstitucion" name="recursosInstitucion"
                               placeholder="Recursos Ofrecidos"
                               maxlength="200" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese los recursos que ofrece la Institución"
                               data-original-title="Recursos Ofrecidos" required>
                    </div>
                    <!--CARGO-->
                    <div class="form-group">
                        <label for="cargoInstitucion">Cargo</label>
                        <input type="text" class="form-control" id="cargoInstitucion" name="cargoInstitucion"
                               placeholder="Indique su cargo en la Institucion"
                               maxlength="45" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese su cargo en la Institución" data-original-title="Cargo"
                               onkeypress="return validarLetras(event)" required>
                    </div>
                    <!--DESCRIPCION DE CARGO-->
                    <div class="form-group">
                        <label for="cargoDescInstitucion">Descripci&oacute;n del cargo</label>
                        <input type="text" class="form-control" id="cargoDescInstitucion" name="cargoDescInstitucion"
                               placeholder="Indique de que se trata su cargo"
                               maxlength="100" data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese de que se trata su cargo" data-original-title="Desc Cargo"
                               required>
                    </div>
                    <!--TELEFONO-->
                    <div class="form-group">
                        <label for="telefonoInstitucion">Tel&eacute;fono</label>
                        <input type="tel" class="form-control" maxlength="16" id="telefonoInstitucion"
                               name="telefonoInstitucion" pattern="([0-9]{1,15})" placeholder="Telefono del Contacto"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese el telefono del contacto de la Institución"
                               data-original-title="Telefono" onkeypress="return validarNumero(event);" required>
                    </div>
                    <!--EMAIL-->
                    <div class="form-group">
                        <label for="emailInstitucion">E-mail</label>
                        <input type="email" class="form-control" maxlength="45" id="emailInstitucion"
                               name="emailInstitucion"
                               pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                               placeholder="Email"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese el correo electronico de la Institución"
                               data-original-title="Email" required>
                    </div>
                    <!--SITIO WEB-->
                    <div class="form-group">
                        <label for="webInstitucion">Sitio web</label>
                        <input type="text" class="form-control" maxlength="45" id="webInstitucion"
                               onblur="validarURL(this)" name="webInstitucion" placeholder="Dirección web"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese la dirección web de la Institución"
                               data-original-title="Dirección Web" required>
                    </div>
                    <label for="logo">Logo</label>
                    <input type="file" name="logo" id="logo" data-toggle="popover" data-placement="left"
                           data-trigger="focus" data-content="Ingrese logo de la Institución" data-original-title="Logo"
                           onchange="readURL(this);" required>
                    <img id="blah" src="../../media/{{ institucion.logo }}" alt="your image"/>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" required> Estoy de acuerdo con los <a href="#">Términos de
                            servicio</a> y las
                            <a href="#">Politicas de Privacidad</a>
                        </label>
                    </div>

                    <button id="continuar" type="submit" class="btn btn-green">Continuar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}