{% extends "base.tpl.html" %}

{% block signin %}
    <li id="usuario" class="show">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.username }}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/perfilUsuario/" >Mi Perfil</a></li>
            <li><a href="/registro_institucion">Registrar Institucion</a></li>
            <li><a href="/cerrarSesion/" >Cerrar Sesi&oacute;n</a></li>
        </ul>
    </li>
    <li id="mensajes" class="show"><a href="#" class="link">Mensajes</a></li>
{% endblock %}

{% block inicio %}
    <a  href="/inicioUsuario/" >Inicio </a>
{% endblock %}


{%block content%}

    <!-- VENTANA PERFIL DE INSTITUCION
    ================== -->
    <script type="text/javascript">
        /*
         Autor: Erika Narváez
         Nombre de función: validarNumero
         Parámetros: evento
         Salida: permite el ingreso de solo numeros
         Descripción: no permite la entrada de letras

         */

        function validarNumero(evt)
        {
            var code = (evt.which) ? evt.which : evt.keyCode;
            if(code==8)
            {
                //backspace
                return true;
            }
            else if(code>=48 && code<=57)
            {
                //is a number
                return true;
            }
            else
            {
                return false;
            }
        }

        /*
         Autor: Erika Narváez
         Nombre de función: validarLetra
         Parámetros: evento
         Salida: permite el ingreso de solo letras
         Descripción: no permite la entrada de numeros
         */
        function validarLetras(e){
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = "8-37-39-46";

            tecla_especial = false
            for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

        /*
         Autor: Leonel Ramirez
         Nombre de función: validarUrl
         Parámetros: evento
         Salida: ingresa automaticamente el http
         Descripción: salida del http al escribir una url
         */

        function validarURL (abc) {
            var string = abc.value;
            if (!~string.indexOf("http")){
                string = "http://" + string;
            }
            abc.value = string;
            return abc
        }


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>{{ usuario.username }}</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">

    <!-- /////////////  Menu de Perfil  ////////////////// -->
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
            <ul>
                <li>
                    <a href="/perfilInstitucion/" class="active">
                        <i class="sign fa fa-user bg-blue"></i> Mi Institución <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/modificarPerfilInstitucion/">
                        <i class="sign fa fa-edit bg-green"></i> Editar Perfil <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada  <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/cerrarSesion/">
                        <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar Sesi&oacute;n <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- //////////////  EDITAR PERFIL INSTITUCIÓN /////////////// -->
    <div class=" col-xs-6 col-sm-8 col-md-9">
        <div class="row">
            <div class="signup col-md-9">
                <h3 class="hl top-zero">Editar Instituci&oacute;n</h3>
                <hr>
                <form role="form" action="/editar_perfil_institucion/" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">{%csrf_token%}
                    <!--NOMBRE-->
                    <div class="form-group">
                        <label for="nombreInstitucion">Nombre de la instituci&oacute;n</label>
                        <input type="text" class="form-control" id="nombreInstitucion" name="nombre" placeholder="Siglas/Nombre abreviado"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese las siglas de la Institucion" data-original-title="Nombre abreviado"
                               onkeypress="return validarLetras(event)" required value="{{ institucion.nombre }}">
                    </div>
                    <!--SIGLA-->
                    <div class="form-group">
                        <label for="siglaInstitucion">Siglas</label>
                        <input type="text" class="form-control" id="siglaInstitucion" name="siglas" placeholder="Siglas/Nombre abreviado"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese las siglas de la Institucion" data-original-title="Nombre abreviado"
                               onkeypress="return validarLetras(event)" required value="{{ institucion.siglas }}">
                    </div>
                    <!--DESCRIPCION-->
                    <div class="form-group">
                        <label for="descInstitucion">Descripci&oacute;n</label>
                        <input type="text" class="form-control" id="descInstitucion" name="descripcion" placeholder="Descripcion de la Institucion"
                               data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingrese las descripcion de la Institucion"
                               data-original-title="Descripcion" required value="{{ institucion.descripcion }}">
                    </div>
                    <!--MISION-->
                    <div class="form-group">
                        <label for="misionInstitucion">Misi&oacute;n</label>
                        <input type="text" class="form-control" id="misionInstitucion" name="mision" placeholder="Misión"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese la misión de la Institución" data-original-title="Misión" required value="{{ institucion.mision }}">
                    </div>
                    <!--PAIS-->
                    <div class="form-group">
                        <label for="pais">Pa&iacute;s</label>
                        <select class="form-control" name="pais" id="paisInstitucion" required>
                            <optgroup label="Pais">
                                {%for pais in paises%}
                                    <option value="{{pais.id}}">{{pais.name}}</option>
                                {%endfor%}
                            </optgroup>
                        </select>
                    </div>
                    <!--CIUDAD-->
                    <div class="form-group">
                        <label for="ciudad">Ciudad</label>
                        <select class="form-control" name="ciudad" id="ciudadInstitucion" required>
                            <optgroup id="optsCiudades" label="Ciudad">
                                {%for ciudad in ciudades%}
                                    <option value="{{ciudad.id}}">{{ciudad.name}}</option>
                                {%endfor%}
                            </optgroup>
                        </select>
                    </div>
                    <!--RECURSOS-->

                    <div class="form-group">
                        <label for="recursosInstitucion">Recursos ofrecidos</label>
                        <input type="text" class="form-control" id="recursosInstitucion" name="recursosofrecidos" placeholder="Recursos Ofrecidos"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese los recursos que ofrece la Institución"
                               data-original-title="Recursos Ofrecidos" required value="{{ institucion.recursos_ofrecidos }}">
                    </div>

                    <!--TELEFONO-->
                    <div class="form-group">
                        <label for="telefonoInstitucion">Tel&eacute;fono</label>
                        <input type="tel" class="form-control" id="telefonoInstitucion" name="telefonoInstitucion" pattern="([0-9]{1,15})" placeholder="Telefono del Contacto"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese el telefono del contacto de la Institución" data-original-title="Telefono" onkeypress="
                               return validarNumero(event);"  required value="{{ institucion.telefono_contacto }}">
                    </div>
                    <!--EMAIL-->
                    <div class="form-group">
                        <label for="emailInstitucion">E-mail</label>
                        <input type="email" class="form-control" id="emailInstitucion" name="emailInstitucion" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" placeholder="Email"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese el correo electronico de la Institución" data-original-title="Email" required value="{{ institucion.correo }}">
                    </div>
                    <!--SITIO WEB-->
                    <div class="form-group">
                        <label for="webInstitucion">Sitio web</label>
                        <input type="text" class="form-control" id="webInstitucion" onblur="validarURL(this)" name="webInstitucion" placeholder="Dirección web"
                               data-toggle="popover" data-placement="left" data-trigger="focus"
                               data-content="Ingrese la dirección web de la Institución" data-original-title="Dirección Web" required value="{{ institucion.web }}">
                    </div>
                    <label for="logo">Logo</label>
                    <input type="file" name="logo" id="logo" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingrese logo de la Institución" data-original-title="Logo" onchange="readURL(this);">
                    <img id="blah" src="#" alt="your image" />

                    <button style="float:right" class="btn btn-green">Aceptar</button>
                </form>

            </div>
            <div class="col-md-9">
                <br>
                <hr>
                <br>
            </div>
            <div class="col-md-7 col-md-offset-1 signup">

                <div class="panel panel-red">
                    <div class="panel-heading">
                        <h3 id="titulo_suspenderCuenta" class="panel-title">Suspender Cuenta</h3>
                    </div>
                    <div class="panel-body">

                        <div class="pwd-lost">

                            {% if error %}
                                <div class="alert alert-danger">
                                    <p >{{ error }}</p>
                                </div>
                            {% endif %}

                            <div class="pwd-lost-q show"> <a href="#">¿Está seguro que desea suspender su cuenta de ReiNet?</a></div>
                            <!-- ///////////  Ventana escondida para ingresar contraseña ////////////-->
                            <div class="pwd-lost-f hidden">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                                <p class="text-muted">Ingresa contraseña para validar tu usario</p>
                                <form class="form-inline" role="form" action="/suspender_usuario/" method="POST">{%csrf_token%}
                                    <div class="form-group">
                                        <label class="sr-only" for="email-pwd">Suspension de Cuenta</label>
                                        <input id="txt_password_ingresada"  name ="txt_password_ingresada" type="password" class="form-control" id="email-pwd" placeholder="Ingrese su contraseña">
                                    </div>
                                    <button id="btn_suspenderCuenta" type="button" class="btn btn-red" data-toggle="popover" data-placement="bottom" data-trigger="focus">Aceptar</button>
                                    <div id="popover_content_wrapper" style="display: none">
                                        <div>Estas seguro de querer suspender tu cuenta en ReiNet?</div>
                                        <br>
                                        <button id="btn_aceptarSuspender" type="submit" class="btn btn-red" style="left:30%;position:relative;">Confirmar</button>
                                    </div>

    <script>
        /*
         Autor: Kevin Zambrano y Fausto Mora
         Nombre de funcion: funciones anonimas
         Entrada: eventos
         Salida: http
         Descripción: genera un handler para los eventos en la interaccion con suspender cuenta usuario
         */

        $(document).ready(function(){

            $('#btn_suspenderCuenta').attr('disabled','disabled');

            $('#txt_password_ingresada').change(function() {
                $('#btn_suspenderCuenta').removeAttr('disabled');

            });


            $('#btn_suspenderCuenta').popover({
                html : true,
                content: function() {
                    return $('#popover_content_wrapper').html();
                }
            });

        });
         $("#paisInstitucion").change(function () {
            console.log('hellou its me');
            console.log($("#paisInstitucion option:selected").val());
            $.ajax({
              type: "POST",
              url: "/getCiudades",
              data: {
                  'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                  'paisId' : $("#paisInstitucion option:selected").val()
              },
              success: ciudadSuccess,
              dataType: 'html'
            });
            console.log('bye');
          });

          function ciudadSuccess(data, textStatus, jqXHR){
            $("#optsCiudades").html(data);
          }
    </script>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    </div>

    </div>
    </div>
    </div>
    </div>

{%endblock%} 


