{% extends "base.tpl.html" %}

{% block barraderecha %}
    <li id="usuario" class="show">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Henry<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/perfilUsuario/">Mi Perfil</a></li>
            <li><a href="/cerrarSesion/">Cerrar Sesi&oacute;n</a></li>
        </ul>
    </li>
    <li id="mensajes" class="show"><a href="/bandejaDeEntrada/" class="link">Mensajes</a></li>
{% endblock %}

{% block inicio %}
    <a href="/inicioUsuario/">Inicio </a>
{% endblock %}


{% block contenido %}
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>{{ institucion.nombre }}</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Menu del Perfil -->
            <div class="col-sm-4 col-md-3">
                <div class="user-menu bottom-15">
                    <ul>
                        <li>
                            <a href="/perfilInstitucion/" >
                                <i class="sign fa fa-user bg-green"></i> Mi Institución <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/editar_perfil_institucion/">
                                <i class="sign fa fa-edit bg-blue"></i> Editar Instituci&oacute;n <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/bandejaDeEntrada/">
                                <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/SolicitudesInstitucion/">
                                <i class="sign fa fa-users " style="background-color:#0099ff;color:white"></i>Membres&iacute;as
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
            <!-- Solicitudes  -->
            <div class="col-md-12 col-md-8">
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="/SolicitudesInstitucion/">Solicitudes</a></li>
                    <li role="presentation" class="active"><a href="/MiembrosInstitucion/">Miembros</a></li>
                </ul>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="../../media/hoteshi.jpg"  alt= "..."style="width: 150px;height: 150px;">
                        <div class="caption">
                        <h4>Hoteshi</h4>
                          <div class="rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>
                          </div>
                            <p>
                                <STRONG>Cargo:     </STRONG><span>  Estudiante</span><br>
                                <STRONG>Teléfono:  </STRONG><span>  809898897</span><br>
                                <STRONG>Email:     </STRONG><span>  hoteshi@dsdsdks.com</span>
                            </p>
                            <p><a href="#" class="btn btn-green" role="button"style="margin:0 0 0 50px;">Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="../../media/hoteshi.jpg"  alt= "..."style="width: 150px;height: 150px;">
                        <div class="caption">
                        <h4>Hoteshi</h4>
                          <div class="rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>
                          </div>
                            <p>
                                <STRONG>Cargo:     </STRONG><span>  Estudiante</span><br>
                                <STRONG>Teléfono:  </STRONG><span>  809898897</span><br>
                                <STRONG>Email:     </STRONG><span>  hoteshi@dsdsdks.com</span>
                            </p>
                            <p><a href="#" class="btn btn-green" role="button"style="margin:0 0 0 50px;">Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="../../media/hoteshi.jpg"  alt= "..."style="width: 150px;height: 150px;">
                        <div class="caption">
                        <h4>Hoteshi</h4>
                          <div class="rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>
                          </div>
                            <p>
                                <STRONG>Cargo:     </STRONG><span>  Estudiante</span><br>
                                <STRONG>Teléfono:  </STRONG><span>  809898897</span><br>
                                <STRONG>Email:     </STRONG><span>  hoteshi@dsdsdks.com</span>
                            </p>
                            <p><a href="#" class="btn btn-green" role="button"style="margin:0 0 0 50px;">Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>





{% endblock %}