
{% for miembro in miembrosActivos %}
    <li id="miembro{{miembro.id_membresia}}">
        <p class="text-muted" >
            {% load staticfiles %}
            <img src="{{ miembro.fk_usuario.perfil.foto.url }}" alt="...">
            <a href="/usuario/{{ miembro.fk_usuario }}">{{ miembro.fk_usuario.username }}</a>
            <br><STRONG>Cargo:</STRONG> {{ miembro.cargo }}
            <br><STRONG>Fecha de solicitud:</STRONG>
            {{ miembro.fecha_peticion|date:"M d, Y" }}
        </p>
        <div class="clearfix"></div>
    </li>
{% endfor %}