{% extends "base.tpl.html" %}

{% block barraderecha %}
    <li id="usuario" class="show">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.username }}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/perfilUsuario/">Mi Perfil</a></li>
            <li><a href="/registro_institucion">Registrar Institucion</a></li>
            <li><a href="/cerrarSesion/">Cerrar Sesi&oacute;n</a></li>
        </ul>
    </li>
    <li id="mensajes" class="show"><a href="/bandejaDeEntrada/" class="link">Mensajes</a></li>
{% endblock %}

{% block inicio %}
    <a href="/inicioUsuario/">Inicio </a>
{% endblock %}


{% block contenido %}

    <!-- Ventana Perfil Usuario-->

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>{{ usuario.username }}</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
    {% block menuperfil %}
        <!-- Menu de Perfil -->
        <div class="col-sm-4 col-md-3">
            <div class="user-menu bottom-15">
                <ul>
                    <li>
                        <a href="#" class="active">
                            <i class="sign fa fa-user bg-green"></i> Mi Perfil <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/editar_usuario/">
                            <i class="sign fa fa-edit bg-blue"></i> Editar Perfil <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                    </li>
                    {% if esAdmin == True %}
                        <li>
                            <a href="/perfilInstitucion/">
                                <i class="sign fa fa-suitcase bg-turquoise"></i> Administrar Instituci&oacute;n <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/bandejaDeEntrada/">
                            <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/cerrarSesion/">
                            <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar Sesi&oacute;n <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% block contenidousuario %}
        <!-- Foto del Perfil -->
        <div class="col-sm-8 col-md-6">
        <div class="row">

            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="avatar">
                        <a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar">
                            <img src="{{ perfil.foto.url }}" alt="...">
                        </a>

                        <!-- ///////////  CAMBIAR FOTO PERFIL ///////// -->

                        {% comment %}<div class="avatar-bubble">
                    <a href="#" data-toggle="modal" data-target="#upload-avatar"><i class="fa fa-plus"></i> Cambiar Imagen de Perfil</a>
                  </div>{% endcomment %}
                    </div>
                </div>

                <!-- /////// VENTANA EMERGENTE PARA CARGAR FOTO /////
                  <div class="modal fade" id="upload-avatar" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="upload-avatar-title">Upload new avatar</h4>
                      </div>
                      <div class="modal-body">
                        <p>Please choose a file to upload. JPG, PNG, GIF only.</p>
                        <form role="form">
                          <div class="form-group">
                            <label for="file">File input</label>
                            <input type="file" id="file">
                            <p class="help-block">Files up to 5Mb only.</p>
                          </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-green" data-dismiss="modal">Upload</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                 FIN DE VENTANA EMERGENTE-->
            </div>


            <!-- Perfil Principal -->
            <div class="col-sm-8">
                <h3 class="hl">{{ usuario.first_name }} {{ usuario.last_name }}
                    <br/>
                    {% if institucion != "Independiente" %}
                        <small> {{ institucion.nombre }} </small>
                    {% else %}
                        <small>Independiente</small>
                    {% endif %}
                </h3>
                <hr>

                <div class="bottom-15">
                    <a method='POST' href="/enviarMensaje/" class="btn btn-green btn-sm" data-toggle="modal" data-target="#sendemail"><i
                            class="fa fa-envelope"></i> Redactar Mensaje</a>

                    <!-- //// VENTANA EMERGENTE EMAIL /////
                    <div class="modal fade" id="sendemail" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <img src="img/face1.jpg" alt="...">
                        <h4 class="modal-title" id="sendemailtitle">[ROL]</h4>
                        <p class="text-muted"><i class="fa fa-envelope"></i> New Email</p>
                        <div class="clearfix"></div>
                      </div>
                      <div class="modal-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="subject" class="sr-only">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                          </div>
                          <div class="form-group">
                            <label for="message-1" class="sr-only">Message</label>
                            <textarea class="form-control" rows="3" id="message-1" placeholder="Enter your message here"></textarea>
                          </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-green" data-dismiss="modal">Send Email</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                 ////// FIN DE VENTANA EMERGENTE ////// -->

                </div>
            </div>
        </div>


        <!-- Informacion General -->
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12" id="collapseGeneral">

                    <div class="panel-heading btn-outline btn-primary" style="text-align:center">
                        <h4 class="panel-title"><a data-parent="collapseGeneral"><i class="fa fa-info-circle"></i>
                            Informaci&oacute;n General </a></h4>
                    </div>
                    <div id="collapseInfoGeneral" class="panel-collapse collapse in">
                        <table class="table table-hover">
                            <tbody id="infoGeneralBody">

                            <tr>
                                <td class="text-muted">Instituci&oacute;n</td>
                                <td style="text-align:right" id="link">
                                    {% if institucion != "Independiente" %}
                                        <a href="/institucion/{{ institucion.id_institucion }}">{{ institucion.nombre }}</a>
                                    {% else %}
                                        Independiente
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">Fecha de Registro</td>
                                <td style="text-align:right">{{ perfil.fecha_registro }}</td>
                            </tr>
                            <!--     <tr>
                                  <td class="text-muted">&Aacute;reas de inter&eacute;s</td>
                    <td style="text-align:right">{{ usuario.areasinteres }}</td>
                  </tr> -->
                            <!-- <tr>
                    <td class="text-muted">Cargo</td>
                    <td style="text-align:right">{{usuario.cargo}}</td>
                  </tr>
                   <tr>
                    <td class="text-muted">Actividades</td>
                    <td style="text-align:right">[Actividades del usuario]</td>
                  </tr> -->
                            <tr>
                                <td class="text-muted">Reputaci&oacute;n</td>
                                <td style="text-align:right;padding-bottom: 3px;padding-top: 3px;">
                                    <style>
                                        .rating {
                                            unicode-bidi: bidi-override;
                                            text-align: center;
                                            font-size: 20px;
                                            color: gold;
                                        }

                                        .rating > span {
                                            display: inline-block;
                                            position: relative;
                                            width: 1.1em;
                                        / / content : "\2606";

                                        }
                                    </style>


                                    <script type="text/javascript">

                                        function fijarReputacion() {
                                            var a = document.getElementsByClassName("rating")[0];
                                            var reputacion = parseInt(document.getElementById("reputacion-calificacion").innerHTML);
                                            if (reputacion <= 0) {
                                                //a.style.display = "none";
                                            }
                                            else {
                                                var estrellitas = a.children;
                                                var i = 0;
                                                for (i = 0; i < reputacion; i++) {
                                                    estrellitas[i].innerHTML = "\u2605";
                                                }

                                            }

                                        }
                                        window.onload = fijarReputacion;
                                    </script>
                                    <span style="display: none"
                                          id="reputacion-calificacion">{{ usuario.reputacion }}</span>
                        <span class="rating">
                            <span>&#x2606;</span><span>&#x2606;</span><span>&#x2606;</span><span>&#x2606;</span><span>&#x2606;</span>
                        </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">Pais</td>
                                <td style="text-align:right">{{ usuario.fk_pais }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Estado</td>
                                <td style="text-align:right">{% if usuario.estado == 1 %} Activo {% else %}
                                    Inactivo{% endif %}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        </div>
        <!-- Informacion de Contacto -->
        <div class="col-sm-3" id="collapseContacto">
            <div class="panel-heading btn-outline btn-warning" style="text-align:center">
                <h4 class="panel-title"><a data-parent="collapseContacto"><i class="fa fa-map-marker"></i> Informaci&oacute;n
                    de Contacto </a></h4>
            </div>
            <div id="collapseInfoContacto" class="panel-collapse collapse in">
                <table class="table table-hover">
                    <tbody id="infoContactoBody">
                    <tr>
                        <td class="text-muted">Nombre</td>
                        <td style="text-align:right">{{ usuario.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="text-muted">Apellido</td>
                        <td style="text-align:right">{{ usuario.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="text-muted">Tel&eacute;fono</td>
                        <td style="text-align:right">{{ usuario.telefono }}</td>
                    </tr>
                    <tr>
                        <td class="text-muted">Email</td>
                        <td style="text-align:right">{{ usuario.email }}</td>
                    </tr>
                    <tr>
                        <td class="text-muted">Website</td>
                        <td style="text-align:right;word-break: break-all;">{{ usuario.web }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
    </div>
    </div>

{% endblock %}

