{% extends "Usuario_Home.html" %}


{% block contenido %}

    <!-- Ventana Perfil Usuario -->

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>INSTITUCIÓN {{ institucion_nombre }}</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Menu del Perfil -->
            <div class="col-md-3 col-sm-3">
                <div class="user-menu bottom-15">
                    <ul>
                        <li>
                            <a href="/perfilInstitucion/" class="active">
                                <i class="sign fa fa-university " style="background-color:#123A82;color:white"></i> General 
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/editar_perfil_institucion/">
                                <i class="sign fa fa-edit " style="background-color:#C11F1F;color:white"></i> Editar Informaci&oacute;n
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>

                        <li><a href="/BandejaDeEntradaInstitucion/">
                                <i class="sign fa fa-envelope bg-red" style="background-color:#0f7709;color:white" >
                                </i>Buzón de mensajes
                                <i class="fa fa-chevron-right pull-right"></i>

                            </a>
                        </li>

                        <li>
                            <a href="/AdministrarMembresias/">
                                <i class="sign fa fa-users " style="background-color:#0099ff;color:white"></i>Membres&iacute;as
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <!--
                        <li>
                        <a href="/enviarMensajeInstitucion/">
                                <i class="sign fa fa-edit bg-blue " ></i>Nuevo Mensaje
                                <i class="fa fa-chevron-right pull-right"></i>

                            </a>
                        </li>-->
                        


                        <!--
                        <li>
                        <a href="/mensajesEnviadosInstitucion/">
                                <i class="sign fa fa-envelope bg-green"></i>Mensajes Enviados
                                <i class="fa fa-chevron-right pull-right"></i>

                            </a>
                        </li>-->
                        
                    </ul>
                </div>
            </div>


{% block contenidoinstitucion %}
            <div class="col-md-9 col-sm-9">
                <div class="col-md-12">
                    <h3 class="hl" align="center" style="margin-top:0; margin-bottom:15px">
                        <strong>{{ institucion.nombre }}</strong>
                    </h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="thumbnail col-md-12" style="margin-bottom: 0px;">
                        <div class="avatar">
                            <a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar">
                                <img src="../../media/{{ institucion.logo }}" alt="...">
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-md-12" align="left"> 
                        <div class="panel-heading btn-outline btn-success" style="text-align:center;background-color:#123A82">
                            <h4 class="panel-title"> Informaci&oacute;n General </h4>
                        </div>
                        <div style="margin:10px">
                            <i class="fa fa-sort-alpha-asc" style="margin-right:10px"></i>{{ institucion.siglas }}
                        </div>
                        <div style="margin:10px">
                            <i class="fa fa-globe" style="margin-right:10px"></i> {{ institucion.pais }}
                        </div>
                        <div style="margin:10px">
                            <i class="fa fa-code" style="margin-right:10px"></i>{{ institucion.web }}
                        </div>
                        <hr style="margin:10px 0 10px 0">
                    </div>

                    <div class="col-md-12" >                    
                        <div class="vcard-stats">
                            <a class="vcard-stat" href="#" style="text-decoration:none">
                              <strong class="vcard-stat-count">{{ numMiembros }}</strong>
                              <span class="text-muted">Membres&iacute;as</span>
                            </a>
                            <a class="vcard-stat" href="#" style="text-decoration:none">
                              <strong class="vcard-stat-count">0</strong>
                              <span class="text-muted">Concursos</span>
                            </a>
                            <a class="vcard-stat" href="#" style="text-decoration:none">
                              <strong class="vcard-stat-count">0</strong>
                              <span class="text-muted">Incubaciones</span>
                            </a>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>

                <div class="col-md-8 col-sm-8">
                    <div class="col-md-12 col-sm-12" style="margin-bottom:10px">
                        <div class="block-header">
                            <h2 style="margin:0 0 5px 0;background-color:#515151">
                                <span class="title">Misi&oacute;n</span>
                                <span class="decoration"></span>
                                <span class="decoration"></span>
                                <span class="decoration"></span>
                            </h2>
                        </div>
                        <p class="text-center" style="margin-bottom:14px">
                            
                            {{ institucion.mision }}
                        </p>
                        <div class="block-header">
                                <h2 style="margin:0 0 5px 0;font-size: 18px;">
                                    <span class="title" >Descripci&oacute;n</span>
                                    <span class="decoration"></span>
                                    <span class="decoration"></span>
                                </h2>
                            </div>
                            <p class="text-left" style="font-size: 12px; margin-bottom:14px">
                                

                                {{ institucion.descripcion }}
                            </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                            <div class="block-header">
                                <h2 style="margin:0 0 5px 0;font-size: 18px;">
                                    <span class="title" >Recursos Ofrecidos</span>
                                    <span class="decoration"></span>
                                </h2>
                            </div>
                            <p class="text-left" style="font-size: 12px;">
                                
                                {{ institucion.recursos_ofrecidos }}
                            </p>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="block-inverse">
                            <div class="head-inverse" style="background: #C11F1F;">
                                <div class="text-center" style="color:white">Contacto</div>
                            </div>
                            <div class="body-inverse">
                                <div class="user-gallery text-center">
                                    <table class="table table-hover" style="margin-bottom:0">
                                        <tbody id="infoContactoBody">
                                            <tr>
                                                <td class="text-muted">Nombre</td>
                                                <td style="text-align:left">{{ usuario.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Apellido</td>
                                                <td style="text-align:left">{{ usuario.last_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Tel&eacute;fono</td>
                                                <td style="text-align:left">{{ usuario.telefono }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Email</td>
                                                <td style="text-align:left">{{ usuario.email }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Website</td>
                                                <td style="text-align:left;word-break: break-all;">{{ usuario.web }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
    </div>


</div>
{% endblock %}