{% extends "base.tpl.html" %}

{% block signin %}
<li id="usuario" class="show">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.username }}<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="#" >Mi Perfil</a></li>
<li><a href="/registro_institucion">Registrar Institucion</a></li>
<li><a href="/logOut/" >Cerrar Sesi&oacute;n</a></li>
</ul>
</li>
<li id="mensajes" class="show"><a href="#" class="link">Mensajes</a></li>
{% endblock %}

{% block inicio %}
  <a  href="/inicioUsuario/" >Inicio </a>
{% endblock %}


{%block content%}
    
<!-- VENTANA PERFIL USUARIO
================== -->
    <script type="text/javascript">
/*
Autor: Leonel Ramirez
Nombre de función: validarNumero
Parámetros: evento
Salida: permite el ingreso de solo numeros
Descripción: no permite la entrada de letras

*/

    function validarNumero(evt)
    {
        var code = (evt.which) ? evt.which : evt.keyCode;
        if(code==8)
        {
            //backspace
            return true;
        }
        else if(code>=48 && code<=57)
        {
            //is a number
            return true;
        }
        else
        {
            return false;
        }
    }

/*
Autor: Leonel Ramirez
Nombre de función: validarLetra
Parámetros: evento
Salida: permite el ingreso de solo letras
Descripción: no permite la entrada de numeros
*/
     function validarLetras(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
       especiales = "8-37-39-46";

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }

/*
Autor: Leonel Ramirez
Nombre de función: validarUrl
Parámetros: evento
Salida: ingresa automaticamente el http
Descripción: salida del http al escribir una url
*/

    function validarURL (abc) {
        var string = abc.value;
        if (!~string.indexOf("http")){
            string = "http://" + string;
        }
        abc.value = string;
        return abc
    }


    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
                .width(200)
                .height(200);
        };

        reader.readAsDataURL(input.files[0]);
    }
  }
</script>

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="animated slideInLeft"><span>{{ usuario.username }}</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <!-- /////////////  Menu de Perfil  ////////////////// -->
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="#" class="active">
                  <i class="sign fa fa-user bg-blue"></i> Mi Perfil <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="#">
                  <i class="sign fa fa-edit bg-green"></i> Editar Perfil <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="#">
                  <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada  <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="/logOut/">
                  <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar Sesi&oacute;n <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>
          </div>
        </div>

        <!-- //////////////  EDITAR PERFIL USUARIO /////////////// -->
        <div class=" col-xs-6 col-sm-8 col-md-9">
          <div class="row">
            <div class="signup col-md-9">
              <h3 class="hl top-zero">Editar Usuario</h3>
              <hr>
              <form role="form" action="/editar_usuario/" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">{%csrf_token%}
                
                <div class="form-group">
                  <label for="Nombres" class="col-md-2">Nombres</label>
                    <div class="col-md-10">
                        <input required autofocus type="text" class="form-control"  onkeypress="return validarLetras(event);" id="nombre" name="nombres" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu nombre aquí." data-original-title="Nombre" value = '{{ usuario.first_name }}'>
                    </div>
                </div>

                  <div class="form-group">
                  <label for="Apellidos" class="col-md-2">Apellidos</label>
                      <div class="col-md-10">
                        <input required type="text" class="form-control" onkeypress="return validarLetras(event);" id="apellidos" name="apellidos" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tus apellidos aquí." data-original-title="Apellidos" value="{{ usuario.last_name }}">
                      </div>
                      </div>
               
                <div class="form-group">
                  <label for="Cedula" class="col-md-2">C&eacute;dula</label>
                     <div class="col-md-10">
                        <input required type="text"  disabled pattern="([0-9]{1,15})" class="form-control" id="cedula" name="cedula" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu cédula o pasaporte aquí." data-original-title="Identificación" value="{{ usuario.cedula }}" onkeypress="return validarNumero(event);">

                     </div>
                </div>
                <div class="form-group">
                  <label for="Telefono" class="col-md-2">Tel&eacute;fono</label>
                       <div class="col-md-10">
                         <input type="text" class="form-control" id="telefono" pattern="([0-9]{1,15})" name="telefono" data-toggle="popover"  data-placement="left" data-trigger="focus" data-content="Ingresa tu cargo aquí." data-original-title="Telefono" value="{{ usuario.telefono }} " onkeypress="return validarNumero(event);">
                       </div>
                </div>
                <!--
                <div class="form-group">
                  <label for="Cargo">Cargo</label>
                  <input type="text" class="form-control" id="cargo" name="cargo" data-toggle="popover"  data-placement="left" data-trigger="focus" data-content="Ingresa tu cargo aquí." data-original-title="Cargo" value="{{ memb.cargo }}">
                </div>
                
                
                <div class="form-group">
                  <label for="Actividad">Actividad</label>
                  <input type="text" class="form-control" id="actividad" name="actividad" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa la actividad que realizas aquí." data-original-title="Actividad" value = '{{ usuario.actividad }}'>
                </div>
                -->
                
                 <div class="form-group">
                  <label for="Sitio Web" class="col-md-2">Sitio Web</label>
                    <div class="col-md-10">
                       <input type="url" class="form-control" id="website" onblur="validarURL(this)" name="website" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu sitio web aquí." data-original-title="Sitio Web" value= '{{ usuario.web }}'>
                    </div>
                </div>
                           
                <div class="form-group">
                  <label for="Email" class="col-md-2">Email</label>
                     <div class="col-md-10">
                        <input required type="email" class="form-control" id="email" name="email" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa un email valido." data-original-title="Email" value="{{ usuario.email }}">
                    </div>
                </div>
                <!--
                <div class="form-group">
                  <label for="Ciudad">Ciudad</label>
                  <input type="text" class="form-control" id="ciudad" name="ciudad" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu ciudad aquí." data-original-title="Ciudad" value = '{{ usuario.ciudad }}'>
                </div> 
                
                 <div class="form-group">
                  <label for="Fecha de Nacimiento">Fecha de Nacimiento</label>
                  <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" onfocus="(this.type='date')" onblur="(this.type='text')" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu fecha de nacimiento aquí." data-original-title="fechaNacimiento" value="{{ usuario.fechaNacimiento }}">
                </div>
                
                 <div class="form-group">
                  <label for="Area de Interes">Area de Interes</label>
                  <input type="text" class="form-control" id="areasInteres" name="areasInteres" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tus áreas de interés aquí." data-original-title="Areas" value="{{ usuario.areasInteres }}">
                </div>
                -->
                <div class="form-group">
                  <label class="col-md-2">Imagen</label>
                   <div class="col-md-10">
                    <input type="file" name="logo" id="imagen" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingrese Imagen del usuario" data-original-title="Imagen" onchange="readURL(this);" required>
                    <img id="blah" src="#" alt="your image" />
                   </div>
                </div>
                 <button style="float:right" class="btn btn-green">Aceptar</button>
              </form>
            </div>

            <div class="col-md-6 col-md-offset-3 signup">
              <hr>
                <div class="panel panel-red">
                 <div class="panel-heading">
                        <h3 class="panel-title">Suspender Cuenta</h3>
                 </div>
                <div class="panel-body">

                 <div class="pwd-lost">

                     {% if error %}
                     <div class="alert alert-danger">
                     <p >{{ error }}</p>
                     </div>
                     {% endif %}

              <div class="pwd-lost-q show"> <a href="#">¿Está seguro que desea suspender su cuenta de ReiNet?</a></div>
              <!-- ///////////////  Ventana emergente para recuperar contraseña  ////////////-->
              <div class="pwd-lost-f hidden">
                <p class="text-muted">Ingresa contraseña para validar tu usario</p>
                <form class="form-inline" role="form" action="/suspender_usuario/" method="POST">{%csrf_token%}
                  <div class="form-group">
                    <label class="sr-only" for="email-pwd">Suspension de Cuenta</label>
                    <input id="txt_password_ingresada"  name ="txt_password_ingresada" type="password" class="form-control" id="email-pwd" placeholder="Ingrese su contraseña">
                  </div>
                  <button type="submit" class="btn btn-blue">Aceptar</button>
                </form>
              </div>
            </div>
                </div>
            </div>
            </div>


          </div>

         </div>
        </div>

      </div>
    </div>
  </div>
</div>

{%endblock%} 


