{% extends "Usuario_Home.html" %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <script type="text/javascript">
        /*
         * Autor: Marlon Espinoza
         Nombre de función: validarPassword2
         Salida: Muestra advertencia si son distintos
         Descripción: Compara que password 1 y 2 sean iguales
         * */
        function validarPassword2() {
            password1 = document.getElementById('password1')
            pass2 = document.getElementById('password2')
            if (password1.value == pass2.value) {
                if (password1.value == 0 && pass2.value == 0) {
                    document.getElementById("guardarcontrasena").disabled = true;
                }else{
                    document.getElementById('noIgual').style.display = 'none';
                    document.getElementById("guardarcontrasena").disabled = false;
                }
            }
            else {
                document.getElementById('noIgual').style.display = 'block';
                document.getElementById("guardarcontrasena").disabled = true;
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>{{ usuario.username }}</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">

    <!-- Menu de Perfil -->
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
            <ul>
                <li>
                    <a href="/perfilUsuario/">
                        <i class="sign fa fa-user bg-blue"></i> Mi Perfil <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/editar_usuario/" >
                        <i class="sign fa fa-edit bg-green"></i> Editar Perfil <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                        <a href="#" class="active">
                            <i class="sign fa fa-pencil" style="background-color:#ED9C28;color:white"></i> Cambiar Contrase&ntilde;a <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                </li>
                 {% if  es_admin %}
                        <li>
                            <a href="/perfilInstitucion/">
                                <i class="sign fa fa-suitcase bg-turquoise"></i> Administrar Instituci&oacute;n <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                {% endif %}
                <li>
                    <a href="/BandejaDeEntrada/">
                        <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/cerrarSesion/">
                        <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar Sesi&oacute;n <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Editar Perfil Usuario-->
    <div class=" col-xs-6 col-sm-8 col-md-9">
    <div class="row">
    <div class="signup col-md-9">
        
        <h3 class="hl top-zero">Editar Contrase&ntilde;a</h3>
        <hr>
        <div class="col-md-9">
                <br>
        </div>
        <form role="form" action="/editarContrasena/" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">{% csrf_token %}
            
            <!--CONTRASEÑA ACTUAL-->
            <div class="form-group">
                        {% if mensaje %}
                            <div class="form-group">
                                <label class="info-board-red" id="noIgual" style=" color: red">{{ mensaje }}</label>
                            </div>
                        {% endif %}

                <label for="contrasenaActual" class="col-md-3">Contrase&ntilde;a Actual</label>

                <div class="col-md-8">
                    <input required autofocus type="text" class="form-control" id="passwordActual" name="passwordActual"placeholder="Contraseña Actual" data-toggle="popover" data-trigger="focus" data-content="Asegurate de recordarla" data-original-title="Contraseña Actual" onchange="validarPassword2()">
                </div>
            </div>
            <div class="form-group">
                        <label class="info-board-red" id="noIgual" style="display: none; color: red">*Contrase&ntilde;as no coinciden</label>
            </div>
            <!--CONTRASEÑA NUEVA-->
            <div class="form-group">
                <label for="contrasenaActual" class="col-md-3">Contrase&ntilde;a Nueva</label>

                <div class="col-md-8">
                    <input required type="password" class="form-control margin-bottom-xs" id="password1"
                                       name="password1" placeholder="Contraseña" data-toggle="popover"
                                       data-placement="left" data-trigger="focus" data-content="Three symbols minimum."
                                       data-original-title="Password">
                </div>
            </div>
            <!--REPETIR CONTRASEÑA-->
            <div class="form-group">
                <label for="repetitContrasena" class="col-md-3">Repetir Contrase&ntilde;a</label>

                <div class="col-md-8">
                    <input required type="password" class="form-control" id="password2" name="password2"
                                       placeholder="Repetir Contraseña" data-toggle="popover" data-trigger="focus"
                                       data-content="Asegurate de recordarla" data-original-title="Repeat Password"
                                       onchange="validarPassword2()">
                </div>
            </div>
            <!--BUTTON GUARDAR CONTRASEÑA-->
            <button style="float:right" class="btn btn-green" disabled id="guardarcontrasena">Guardar Contrase&ntilde;a</button>
        </form>

    </div>
    <div class="col-md-9">
        <br>
        <hr>
        <br>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}