{% extends "Usuario_Home.html" %}

{% block contenido %}

    {% block registrarinstitucion %}
        {% include 'menusuperior/registrarinstitucion.tpl.html' %}
    {% endblock %}

    <script type="text/javascript">
        /*
         Autor: Leonel Ramirez
         Nombre de función: validarNumero
         Parámetros: evento
         Salida: permite el ingreso de solo numeros
         Descripción: no permite la entrada de letras
         */
        function validarNumero(evt) {
            var code = (evt.which) ? evt.which : evt.keyCode;
            if (code == 8) {
                //backspace
                return true;
            }
            else if (code >= 48 && code <= 57) {
                //is a number
                return true;
            }
            else {
                return false;
            }
        }
        /*
         Autor: Leonel Ramirez
         Nombre de función: validarLetra
         Parámetros: evento
         Salida: permite el ingreso de solo letras
         Descripción: no permite la entrada de numeros
         */
        function validarLetras(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = "8-37-39-46";
            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }
        /*
         Autor: Leonel Ramirez
         Nombre de función: validarUrl
         Parámetros: evento
         Salida: ingresa automaticamente el http
         Descripción: salida del http al escribir una url
         */
        function validarURL(abc) {
            var string = abc.value;
            if (!~string.indexOf("http")) {
                string = "http://" + string;
            }
            abc.value = string;
            return abc
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="animated slideInLeft"><span>{{ usuario.username }}</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">

    <!-- Menu de Perfil -->
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
            <ul>
                <li>
                    <a href="/perfilUsuario/">
                        <i class="sign fa fa-user bg-blue"></i> Mi Perfil <i class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/editar_usuario/" >
                        <i class="sign fa fa-edit bg-green"></i> Editar Perfil <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                        <a href="#" class="active">
                            <i class="sign fa fa-pencil" style="background-color:#ED9C28;color:white"></i> Cambiar Contrase&ntilde;a <i
                                class="fa fa-chevron-right pull-right"></i>
                        </a>
                </li>
                 {% if  es_admin %}
                        <li>
                            <a href="/perfilInstitucion/">
                                <i class="sign fa fa-suitcase bg-turquoise"></i> Administrar Instituci&oacute;n <i
                                    class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                {% endif %}
                <li>
                    <a href="/BandejaDeEntrada/">
                        <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="/cerrarSesion/">
                        <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar Sesi&oacute;n <i
                            class="fa fa-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Editar Perfil Usuario-->
    <div class=" col-xs-6 col-sm-8 col-md-9">
    <div class="row">
    <div class="signup col-md-9">
        
        <h3 class="hl top-zero">Editar Contrase&ntilde;a</h3>
        <hr>
        <div class="col-md-9">
                <br>
        </div>
        <form role="form" action="/editar_usuario/" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">{% csrf_token %}
            
            <!--CONTRASEÑA ACTUAL-->
            <div class="form-group">
                <label for="contrasenaActual" class="col-md-3">Contrase&ntilde;a Actual</label>

                <div class="col-md-8">
                    <input required autofocus type="text" class="form-control" id="passwordActual" name="passwordActual"placeholder="Contraseña Actual" data-toggle="popover" data-trigger="focus" data-content="Asegurate de recordarla" data-original-title="Contraseña Actual" onchange="validarPassword2()">
                </div>
            </div>
            <!--CONTRASEÑA NUEVA-->
            <div class="form-group">
                <label for="contrasenaActual" class="col-md-3">Contrase&ntilde;a Nueva</label>

                <div class="col-md-8">
                    <input required autofocus type="password" class="form-control" id="passwordNueva" name="passwordNueva"placeholder="Contraseña Nueva" data-toggle="popover" data-trigger="focus" data-content="Asegurate de recordarla" data-original-title="Contraseña Nueva" onchange="validarPassword2()">
                </div>
            </div>
            <!--REPETIR CONTRASEÑA-->
            <div class="form-group">
                <label for="contrasenaActual" class="col-md-3">Repetir Contrase&ntilde;a</label>

                <div class="col-md-8">
                    <input required autofocus type="password" class="form-control" id="passwordActual" name="passwordActual"placeholder="Repetir Contraseña" data-toggle="popover" data-trigger="focus" data-content="Asegurate de recordarla" data-original-title="Repetir Contraseña " onchange="validarPassword2()">
                </div>
            </div>
            <!--BUTTON GUARDAR CONTRASEÑA-->
            <button style="float:right" class="btn btn-green">Guardar Contrase&ntilde;a</button>
        </form>

    </div>
    <div class="col-md-9">
        <br>
        <hr>
        <br>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}