{% extends "base.tpl.html" %}
{% block home %}
        <a class="navbar-brand link" href="#" >REI-NET</a>
{% endblock %}
{% block signin %}
<li id="sign-up" class="show"><a href="/registro_usuario/">Registrarse</a></li>
<li id="sign-in" class="show"><a href="/signIn/">Iniciar Sesión</a></li>
{% endblock %}
{% block content %}

<!-- VENTANA REGISTRAR USUARIO
================== -->
  
    <script type="text/javascript">
    /*
    * Autor: Marlon Espinoza
      Nombre de función: validarLetras
      Salida: permite el ingreso de solo letras
      Descripción: Solo permite el ingreso de letras
    * */
    function validarLetras(e){
        key= e.keyCode || e.which;
        teclado = String.fromCharCode(key).toLocaleLowerCase();

        letras = " abcdefghijklmnñopqrstuvwxyz";
        especiales = ["8","37","38","39","46","164"];
        teclado_especial = false;
        for(var i=0;especiales[i];i++){
            if(key==especiales[i]){
                teclado_especial=true;
                break;
            }
        }
        if(letras.indexOf(teclado)==-1 && !teclado_especial){
            return false;
        }
    }

       /*
      Autor: Jose Velez
      Nombre de función: validarNumero
      Parámetros: evento
      Salida: permite el ingreso de solo numeros
      Descripción: Solo permite el ingreso de digitos
      */
      function validarNumero(evt)
      {
          var code = (evt.which) ? evt.which : evt.keyCode;
          if(code==8)
          {
              //backspace
              return true;
          }
          else if(code>=48 && code<=57)
          {
              //is a number
              return true;
          }
          else
          {
              return false;
          }
      }

      /*
      Autor: Jose Velez
      Nombre de función: validarUrl
      Parámetros: evento
      Salida: ingresa automaticamente el http
      Descripción: salida del http al escribir una url
      */

      function validarURL (abc) {
              var string = abc.value;
              if (!~string.indexOf("http")){
                  string = "http://" + string;
              }
              abc.value = string;
              return abc
      }

      function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
      }
    </script>

    <!-- Page Tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Llene el siguiente formulario para registrarse</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Form -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 signup">
          <h3 class="hl top-zero">Registro de Usuario</h3>
          <hr>

          <form role="form" action="/registro_usuario/" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12"> {%csrf_token%}
             <div class="form-group">
              <label for="Username" class="col-md-4">USUARIO</label>
              <div class="col-md-8">
                <input required autofocus type="text" class="form-control" id="username" name="username" placeholder="Usuario" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu usuario aquí." data-original-title="username">
              </div>
            </div>

             <div class="form-group">
              <label for="PaswordNueva" class="col-md-4">CONTRASE&ntilde;A</label>
                <div class="col-md-8">
                <input required type="password" class="form-control margin-bottom-xs" id="password1" name="password1" placeholder="Contrase&ntilde;a" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Three symbols minimum." data-original-title="Password">
                </div>

            </div>
             
            <div class="form-group">
              <label for="Pasword" class="col-md-4">REPETIR CONTRASE&Ntilde;A</label>
              <div class="col-md-8">
              <input required type="password" class="form-control" id="password2" name="password2" placeholder="Repetir Contrase&ntilde;a" data-toggle="popover" data-trigger="focus" data-content="Make sure you still remember it." data-original-title="Repeat Password">
              </div>
            </div>

            <div class="form-group">
              <label for="Username" class="col-md-4">NOMBRES</label>
              <div class="col-md-8">
              <input required type="text" class="form-control" id="nombre" name="nombres" placeholder="Nombres" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu nombre aquí." data-original-title="Nombre" onkeypress="return validarLetras(event)">
              </div>
            </div>
            <div class="form-group">
              <label for="Apellidos" class="col-md-4">APELLIDOS</label>
              <div class="col-md-8">
              <input required type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tus apellidos aquí." data-original-title="Apellidos" onkeypress="return validarLetras(event)">
              </div>
            </div>

            <div class="form-group">
              <label for="Identificacion" class="col-md-4">IDENTIFICACI&Oacute;N</label>
              <div class="col-md-8">
                <input required type="text" pattern="([0-9]{1,15})" class="form-control" id="cedula" name="cedula" placeholder="Identificaci&oacute;n" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu cédula o pasaporte aquí." data-original-title="Identificación">
              </div>
            </div>

            <div class="form-group">
              <label for="Pais" class="col-md-4">PA&Iacute;S</label>
              <div class="col-md-8">

                  <select class="form-control" name="pais">
                    <optgroup label="Pais">
                        {%for pais in paises%}
                         <option value="{{pais.id}}">{{pais.name}}</option>
                        {%endfor%}
                    </optgroup>
                  </select>
              </div>
            </div>


            <div class="form-group">
              <label for="Telefono" class="col-md-4">TEL&Eacute;FONO</label>
              <div class="col-md-8">
                  <input type="text" class="form-control" id="telefono" pattern="([0-9]{1,15})" name="telefono" placeholder="Tel&eacute;fono" data-toggle="popover"  data-placement="left" data-trigger="focus" data-content="Ingresa tu telefono aquí." data-original-title="Telefono" onkeypress="return validarNumero(event);">
              </div>
            </div>
           <!--  <div class="form-group">
              <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo" data-toggle="popover"  data-placement="left" data-trigger="focus" data-content="Ingresa tu cargo aquí." data-original-title="Cargo">
            </div> -->


           <!--  <div class="form-group">
              <input type="text" class="form-control" id="actividad" name="actividad" placeholder="Actividad que realiza" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa la actividad que realizas aquí." data-original-title="Actividad">
            </div> -->

             <div class="form-group">
              <label for="Website" class="col-md-4">SITIO WEB</label>
              <div class="col-md-8">
                <input type="url" class="form-control" id="website" onblur="validarURL(this)" name="website" placeholder="Sitio Web" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu sitio web aquí." data-original-title="Sitio Web">
              </div>
            </div>


            <div class="form-group">
              <label for="Email" class="col-md-4">EMAIL</label>
              <div class="col-md-8">
                <input required type="email" class="form-control" id="email" name="email" placeholder="Email" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa un email valido." data-original-title="Email">
              </div>
            </div>
            
            <!-- <div class="form-group">
              <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu ciudad aquí." data-original-title="Ciudad">
            </div> 
             -->
          <!--    <div class="form-group">
              <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tu fecha de nacimiento aquí." data-original-title="fechaNacimiento">
            </div>
             -->
            <!--  <div class="form-group">
              <input type="text" class="form-control" id="areasInteres" name="areasInteres" placeholder="Áreas de interés" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingresa tus áreas de interés aquí." data-original-title="Areas">
            </div> -->

            <div class="form-group">
                  <label class="col-md-4">FOTO</label>
                   <div class="col-md-8">
                    <input type="file" name="imagen" id="imagen" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Ingrese foto del usuario" data-original-title="Imagen" onchange="readURL(this);" required>
                    <img id="blah" src="#" alt="T&uacute; foto" />
                   </div>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" required> Estoy de acuerdo con los <a href="/terms/">T&eacute;rminos y Condiciones</a>.
              </label>
            </div>
            <button type="submit" class="btn btn-green">Crear Cuenta</button>
            <a style="float:right" class="btn btn-green" href="/signIn/">Ya poseo una cuenta</a>
          </form>
        </div>
      </div>
    </div>

 {% endblock %}