<li id="usuario" class="show">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario.username }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/perfilUsuario/">Mi Perfil</a></li>
        
        {% if not es_admin %}
         <li><a href="#" data-toggle="modal" data-target="#registrarInstitucion">Registrar Instituci&oacute;n</a></li>
        {% endif %}

        {% if es_admin %}
         <li><a href="/perfilInstitucion/">Administrar Instituci&oacute;n</a></li>
        {% endif %}
        
        <li><a href="/cerrarSesion/">Cerrar Sesi&oacute;n</a></li>
    </ul>
</li>
<!-- Parte de las Notificaciones -->
<li id="notificacion" class="show" ng-controller="NotificacionContadorController" >
    <a href="#" class="link"><i class="fa fa-check-circle-o"><span class="badge">[[contador_notificacion]]</span></i></a>
</li>

<!-- Revisar nombre del link -->
<li id="mensajes" class="show" ng-controller="MensajesContadorController" >
    <a href="/BandejaDeEntrada/" class="link">Mensajes&nbsp;<span class="badge">[[contador]]</span></a>
</li>


