<ul class="nav navbar-nav">
    <li class="dropdown active">

        {% block inicio %}
            <a href="/">Inicio</a>
        {% endblock %}

    </li>
    
    <li class="dropdown hidden-sm">
        {% block ofertas %}
            <a href="/InicioOferta/">OFERTAS</a>
        {% endblock %}
    </li>
    <li class="dropdown hidden-sm">
        <a href="#">DEMANDAS </a>
    </li>
    <li class="dropdown hidden-sm">
        <a href="#">CONCURSOS </a>
    </li>
    <li class="dropdown hidden-sm">
        <a href="#">INCUBACIONES </a>
    </li>
    
</ul>