<!--registrar peticion de institucion-->
<!-- Modal window: Send an email -->
<div class="modal fade" id="registrarInstitucion" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="sendemailtitle">Solicitar permiso para registro de
                    instituci&oacute;n</h4>
                <br/>

                <p class="text-muted"> Llene esta solicitud con el nombre de la instituci&oacute;n que desea
                    registrar. El administrador del sitio revisar&aacute; su solicitud. Le llegara un correo
                    electronico con el link para registrarla de ser aceptada su solicitud, caso contrario le llegara
                    un correo indicando que ha sido rechazada.</p>

                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <div class="form-group" id='formPeticion'>
                </div>
                <div>
                    <div class="form-group">
                        <label for="nombre">Nombre de la Instituci&oacute;n</label>
                        <input type="text" class="form-control" id="nombre_institucion"
                               placeholder="Nombre de la Institucion">
                    </div>
                    <!--<button class="btn btn-default" data-dismiss="modal">Cancelar</button>-->
                    <button class="btn btn-blue" id="enviarSolicitud">Enviar Solicitud</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End of modal window -->
<!--fin registrar peticion de institucion-->